<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="force-rendering" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="”pragma”" content="”no-cache”">
    <meta http-equiv="”cache-control”" content="”no-cache”">
    <meta http-equiv="”expires”" content="”0″">
    <title>学校领导-泉州海洋学院——统招全日制高等院校</title><meta name="pageType" content="2">
<meta name="pageTitle" content="学校领导">
<meta name="keywords" content="泉州海洋学院——统招全日制高等院校,组织机构">

    <link href="static/css/public.css" rel="stylesheet" type="text/css">
    <link href="static/css/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/banner.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/pic_lbqh.css">
    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/pub1.js" type="text/javascript"></script>
  <!--[if lt IE 10]>
    <script type="text/javascript">
        var str = " 您的浏览器低于ie9，请升级到ie9以上版本:(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#888;height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d1.css">
<script language="javascript" src="static/js/_sitegray1.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/xx-sj-tj.vsb.css">
<script type="text/javascript" src="static/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1051,'/ldmb.jsp',-1,1916776078)</script>
</head>
<body class="ls_body">
    <div class="header ny_header">
        <div class="top header-pc tu1">
            <div class="container flex">
                <div class="logo flex-v-center">
                  
 <a href="index1.html">
                        <img src="static/picture/logo1.png" alt="" class="imgMargin">
                       
                    </a>
                </div>
                <div class="pcnav fr">
                <div class="header-t flex-right">
                    <div style="display: flex;">
                         <script language="javascript" src="static/js/dynclicks.js"></script>   <li><a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank"><img src="static/picture/top_img2.png">校长邮箱</a></li>
   <li><a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank"><img src="static/picture/top_img3.png">书记邮箱</a></li>
   <li><a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank"><img src="static/picture/top_img4.png">一站式办事大厅</a></li>
   <li><a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank"><img src="static/picture/top_img5.png">图书馆</a></li>
   <li><a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank"><img src="static/picture/top_img6.png">就业创业</a></li>

                    </div>
                </div>
                    <div class="menubox">
                        <div class="nav flex-right">
                           
 <ul>
                                                             <li class="dhdqwz">
                                    <a href="index1.html" title="首页" target="_blank">首页</a>
                                
                                </li>
                                <li>
                                    <a href="xxjj.html" title="学校概况" target="_blank">学校概况</a>
                                    <div class="two-nav">
                                        <a href="xxjj.html" title="学校简介" target="_blank">学校简介</a>
                                     
                                        <a href="xxzc.html" title="学校章程" target="_blank">学校章程</a>
                                     
                                        <a href="cbr.html" title="创办人" target="_blank">创办人</a>
                                     
                                        <a href="xxld.html" title="学校领导" target="_blank">学校领导</a>
                                     
                                        <a href="zzjg.html" title="组织机构" target="_blank">组织机构</a>
                                     
                                        <a href="dsj.html" title="大事记" target="_blank">大事记</a>
                                     
                                        <a href="ssqh.html" title="数说泉海" target="_blank">数说泉海</a>
                                     
                                        <a href="xygh.html" title="校园规划" target="_blank">校园规划</a>
                                     
                                        <a href="sphy.html" title="光影海院" target="_blank">光影海院</a>
                                     
                                        <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="yxsz.html" title="院系设置" target="_blank">院系设置</a>
                                    <div class="two-nav">
                                        <a href="hhjtxy.html" title="航海交通学院" target="_blank">航海交通学院</a>
                                     
                                        <a href="hygc.html" title="海洋工程学院" target="_blank">海洋工程学院</a>
                                     
                                        <a href="xxgc.html" title="信息工程学院" target="_blank">信息工程学院</a>
                                     
                                        <a href="jjgl.html" title="经济管理学院" target="_blank">经济管理学院</a>
                                     
                                        <a href="ysty.html" title="艺术体育学院" target="_blank">艺术体育学院</a>
                                     
                                        <a href="gfjy.html" title="国防教育学院" target="_blank">国防教育学院</a>
                                     
                                        <a href="tsjy.html" title="通识教育学院" target="_blank">通识教育学院</a>
                                     
                                        <a href="my.html" title="马克思主义学院" target="_blank">马克思主义学院</a>
                                     
                                        <a href="ytfc.html" title="游艇帆船学院" target="_blank">游艇帆船学院</a>
                                     
                                        <a href="scxy.html" title="三创学院" target="_blank">三创学院</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="index2.html" title="招生信息" target="_blank">招生信息</a>
                                
                                </li>
                                <li>
                                    <a href="xygk.html" title="技能培训" target="_blank">技能培训</a>
                                    <div class="two-nav">
                                        <a href="chuanyuan.html" title="船员培训学院" target="_blank">船员培训学院</a>
                                     
                                        <a href="jxjy.html" title="继续教育学院" target="_blank">继续教育学院</a>
                                     
                                        <a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养" target="_blank">国际海洋工程人才培养</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="jwc.html" title="教育教学" target="_blank">教育教学</a>
                                
                                </li>
                                <li>
                                    <a href="dwhz.html" title="交流合作" target="_blank">交流合作</a>
                                
                                </li>
                                <li>
                                    <a href="rczp.html" title="招贤纳才" target="_blank">招贤纳才</a>
                                
                                </li>
                                <li>
                                    <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                
                                </li>
                                                              <div class="searchbtn"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mp">
            <div class="container">
                <div class="clearfix">
                    <div class="logo">
<a href="index1.html"><img src="static/picture/logo1.png" alt=""></a></div>
                    <div class="header-mp-right">
                        <li class="searchbtn"></li>
                        <div class="move_nav">
                            <div class="move_menu" id="smenu"><a class="thuicon-menu menuicon"></a></div>
                        </div>
                    </div>
                    <div class="move_navBox" style="display: none;">
                        <div class="move_navShow">
                        <div class="mp_dblj"><div class="clearfix">    <a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank">校长邮箱</a>
<a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank">书记邮箱</a>
<a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank">一站式办事大厅</a>
<a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank">图书馆</a>
<a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank">就业创业</a>
</div></div>
                          
  <ul id="move_nav">
                                                              <li><p><a href="index1.html" title="首页">首页</a>  </p>
                                 
                                </li>                                <li><p><a href="xxjj.html" title="学校概况">学校概况</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="xxjj.html" title="学校简介">学校简介</a></li>
                                          <li class="col-xs-6"><a href="xxzc.html" title="学校章程">学校章程</a></li>
                                          <li class="col-xs-6"><a href="cbr.html" title="创办人">创办人</a></li>
                                          <li class="col-xs-6"><a href="xxld.html" title="学校领导">学校领导</a></li>
                                          <li class="col-xs-6"><a href="zzjg.html" title="组织机构">组织机构</a></li>
                                          <li class="col-xs-6"><a href="dsj.html" title="大事记">大事记</a></li>
                                          <li class="col-xs-6"><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
                                          <li class="col-xs-6"><a href="xygh.html" title="校园规划">校园规划</a></li>
                                          <li class="col-xs-6"><a href="sphy.html" title="光影海院">光影海院</a></li>
                                          <li class="col-xs-6"><a href="lxwm.html" title="联系我们">联系我们</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="yxsz.html" title="院系设置">院系设置</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="hhjtxy.html" title="航海交通学院">航海交通学院</a></li>
                                          <li class="col-xs-6"><a href="hygc.html" title="海洋工程学院">海洋工程学院</a></li>
                                          <li class="col-xs-6"><a href="xxgc.html" title="信息工程学院">信息工程学院</a></li>
                                          <li class="col-xs-6"><a href="jjgl.html" title="经济管理学院">经济管理学院</a></li>
                                          <li class="col-xs-6"><a href="ysty.html" title="艺术体育学院">艺术体育学院</a></li>
                                          <li class="col-xs-6"><a href="gfjy.html" title="国防教育学院">国防教育学院</a></li>
                                          <li class="col-xs-6"><a href="tsjy.html" title="通识教育学院">通识教育学院</a></li>
                                          <li class="col-xs-6"><a href="my.html" title="马克思主义学院">马克思主义学院</a></li>
                                          <li class="col-xs-6"><a href="ytfc.html" title="游艇帆船学院">游艇帆船学院</a></li>
                                          <li class="col-xs-6"><a href="scxy.html" title="三创学院">三创学院</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="index2.html" title="招生信息">招生信息</a>  </p>
                                 
                                </li>                                <li><p><a href="xygk.html" title="技能培训">技能培训</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="chuanyuan.html" title="船员培训学院">船员培训学院</a></li>
                                          <li class="col-xs-6"><a href="jxjy.html" title="继续教育学院">继续教育学院</a></li>
                                          <li class="col-xs-6"><a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养">国际海洋工程人才培养</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="jwc.html" title="教育教学">教育教学</a>  </p>
                                 
                                </li>                                <li><p><a href="dwhz.html" title="交流合作">交流合作</a>  </p>
                                 
                                </li>                                <li><p><a href="rczp.html" title="招贤纳才">招贤纳才</a>  </p>
                                 
                                </li>                                <li><p><a href="lxwm.html" title="联系我们">联系我们</a>  </p>
                                 
                                </li>
                                                         </ul>
                        </div>
                    </div>
                    <script>
                        $(".menuicon").click(function(){
                            $(".move_navBox").slideToggle();
                            $(this).toggleClass("closeNav")
                        })
                        $(".column i").click(function(){
                            $(".move_navShow").slideToggle();
                        })
                        $(".zkicon").click(function(){
                            $(this).parent().next().slideToggle();
                            $(this).toggleClass("sqicon");
                        })
                        $(".am-btn-red").click(function(){
                            $(".searchBox").slideToggle();
                            $(this).children().toggleClass("closeSearch");
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_page1 ab">
      <img src="static/picture/ny_banner4.png">
    </div>
    <div class="pcejdh">
        <div class="cw dqdh">
            <div class="ny_tit">
学校领导</div>
            <div class="dqwz flex">
                <span>您当前位置:
                         
                        <a href="index1.html">首页</a>
                -
                <a href="xxjj.html">学校概况</a>
                -
                <a href="xxld.html">学校领导</a>

</span>
            </div>
            <div class="ny_ejdh flex">
                <ul class="n_erji aos-init">
                   
 <li><a href="xxjj.html" title="学校简介">学校简介</a></li>
 <li><a href="xxzc.html" title="学校章程">学校章程</a></li>
 <li><a href="cbr.html" title="创办人">创办人</a></li>
 <li class="on"><a href="xxld.html" title="学校领导">学校领导</a></li>
 <li><a href="zzjg.html" title="组织机构">组织机构</a></li>
 <li><a href="dsj.html" title="大事记">大事记</a></li>
 <li><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
 <li><a href="xygh.html" title="校园规划">校园规划</a></li>
 <li><a href="sphy.html" title="光影海院">光影海院</a></li>
 <li><a href="lxwm.html" title="联系我们">联系我们</a></li>

                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="cw">
     <script language="javascript" src="static/js/centerCutImg.js"></script><script language="javascript" src="static/js/ajax.js"></script>

   <div class="xy_ld">
            <ul class="clearfix"> 
                <li>   <a href="../../info/1051/9091.htm" target="_blank" title="吴广华 高级顾问">
                    <div class="star">
                        <div class="star_left">  <img src="static/picture/2A412F3FCE82831866DE35FB2E5_8608F744_A640.jpg">
  </div>
                        <div class="star_right">
                            <h1>吴广华 高级顾问</h1>
                            <p></p>
                            <p>吴广华，二级教授，享国务院特殊津贴，泉州海洋职业学院高级顾问，交通部职教航海类教指委成员，交通部航海职教集团理事，福建省船员服务协会理事。


	毕业于大连海运学院，曾在集美大学航海学院从教34年（至2009年...</p>
                        </div>
                    </div>
                </a> </li>
              
                <li>   <a href="../../info/1051/9081.htm" target="_blank" title="蔡永鸿    校长助理">
                    <div class="star">
                        <div class="star_left">  <img src="static/picture/3CFE6A78946FC8CBC3A3B2D5D25_20237C7F_BF24.jpg">
  </div>
                        <div class="star_right">
                            <h1>蔡永鸿    校长助理</h1>
                            <p></p>
                            <p>蔡永鸿，现任泉州海洋职业学院董事、校长助理。本科毕业于新加坡南洋理工经济学专业，高中就读于美国海陆军学院。

				
			
		</p>
                        </div>
                    </div>
                </a> </li>
              
                <li>   <a href="../../info/1051/9071.htm" target="_blank" title="苏良城   校长助理">
                    <div class="star">
                        <div class="star_left">  <img src="static/picture/5FD8476287B88BCADE2442A8A20_C38A5F9A_92D6.jpg">
  </div>
                        <div class="star_right">
                            <h1>苏良城   校长助理</h1>
                            <p></p>
                            <p>苏良城 ，中共党员，现任泉州海洋职业学院校长助理、国防教育学院书记兼执行副院长、武装部部长。毕业于福建警察学院刑事科学技术专业。 


	历任泉州海洋职业学院思政辅导员、准军事化管理办公室副主任、安保科...</p>
                        </div>
                    </div>
                </a> </li>
              
                <li>   <a href="../../info/1051/9061.htm" target="_blank" title="王志华 校长助理">
                    <div class="star">
                        <div class="star_left">  <img src="static/picture/391BBD04B950B1CA66CE150B322_35215CB8_275E5.jpg">
  </div>
                        <div class="star_right">
                            <h1>王志华 校长助理</h1>
                            <p></p>
                            <p>王志华，中共党员，副教授，经济师，管理学硕士。现任泉州海洋职业学院校长助理，升本办副主任兼通识教育学院教师。扎根教学科研一线，近年来主持或参与市厅级以上课题6项、校级课题5项、发表学术论文9篇、参编著作2...</p>
                        </div>
                    </div>
                </a> </li>
                          </ul>
        </div> <link rel="stylesheet" content-type="text/css" href="static/css/sys.css"><div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top:10px;text-align:center;"><span class="p_t">共14条</span> <span class="p_pages"><span class="p_first p_fun"><a href="xxld.html">首页</a></span><span class="p_prev p_fun"><a href="xxld.html">上页</a></span><span class="p_no"><a href="xxld.html">1</a></span><span class="p_no_d">2</span><span class="p_next_d p_fun_d">下页</span><span class="p_last_d p_fun_d">尾页</span></span></div>
<br><script>_showDynClickBatch(['dynclicks_u10_9091','dynclicks_u10_9081','dynclicks_u10_9071','dynclicks_u10_9061'],[9091,9081,9071,9061],"wbnews", 1916776078)</script>
    </div>
    <div class="bq ny_bq">
        <div class="cw">
            <div class="f_logo">
                    
 <img src="static/picture/logo1.png">

                        </div>
                        <div class="bqwz">
                            <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>Copyright © 2016-2023 泉州海洋职业学院 版权所有<br><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备09021863号-1</a> <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank">闽公网安备 35058102000172号</a> &nbsp; 违法和不良信息举报中心</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--搜索开始-->
    <div class="searchbox" frag="窗口103" portletmode="search">
        <div class="search_bg"></div>
        <span class="close">X</span>
         


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><div class="ss_form">
<style>
    #appu13 .qwss{
        height: 45px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu13 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 45px;
        border: 0;
        border-radius: 2px;
        background-color: #2454a6;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu13"></div>
<script type="text/html" id="htmlu13">
    <div id="appu13">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="全文搜索" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"  />
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu13").html($("#htmlu13").text());
</script>
<script>
    var appOwner = "1916776078";
    var token =gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu13",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div>
    </div>
    <script type="text/javascript" src="static/js/search.js"></script>
    <!--搜索结束-->
  

<script src="static/js/swiper.min.js"></script>

</body>
</html>
