<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <title>就创资讯-对外合作部-泉州海洋职业学院</title><meta name="pageType" content="2">
<meta name="pageTitle" content="就创资讯">
<meta name="keywords" content="对外合作部,泉州海洋职业学院">



    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">




<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/list-sj.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1363,'/list-sj.jsp',-1,1938584117)</script>
</head>
<body style=" background:#f3f3f3;">

<div class="wrap" style="background:#3e6db5;border-bottom:solid 1px #2f61ac;">
  <div class="w">
    <div class="toubu"> 
      
      <!--logo开始-->
      <div class="logo fl">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="dwhz.html" title="对外合作部"><img src="static/picture/logo.png"></a></div>
      <!--logo结束-->
      
      <div class="search fr"> 
        
   <!--设为首页/加入收藏开始-->
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938584117, 83528)">学校主页</a>
</div>
        <div class="clearfix"></div>
        <!--设为首页/加入收藏结束--> 
        
        <!--搜索开始-->
      <div class="search_box">


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
       
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1938584117";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <!--搜索结束--> 
        
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--顶部结束--> 

<!--导航开始-->

<div class="wrap bg_color">
  <div class="w Navigation">
 <div id="navbar" class="menubox">
                    <div class="nav">
                        <ul>
                                                        <li>
                                 <a href="dwhz.html" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="bmjj.html" title="部门简介">部门简介</a>
                            </li>
                            <li>
                                 <a href="jlhz.html" title="交流合作">交流合作</a>
                            </li>
                            <li class="dhdqwz">
                                 <a href="jczx.html" title="就业创业">就业创业</a>
                                <div class="two-nav">
                                    <a href="jczx.html" title="新闻动态">新闻动态</a>
                                    <a href="jyxx.html" title="就业信息">就业信息</a>
                                    <a href="jyzd.html" title="就业指南">就业指南</a>
                                    <a href="cyzd.html" title="创业指南">创业指南</a>
                                </div>
                            </li>
                            <li>
                                 <a href="jdgk.html" title="乡村振兴">乡村振兴</a>
                                <div class="two-nav">
                                    <a href="jdgk.html" title="基地概况">基地概况</a>
                                    <a href="jdxw.html" title="扶贫动态">扶贫动态</a>
                                    <a href="zcwj.html" title="政策文件">政策文件</a>
                                    <a href="jdfg.html" title="基地风光">基地风光</a>
                                    <a href="lxwm1.html" title="联系我们">联系我们</a>
                                </div>
                            </li>
                            <li>
                                 <a href="hzdw.html" title="合作单位">合作单位</a>
                            </li>
                            <li>
                                 <a href="lxfs.html" title="联系方式">联系方式</a>
                            </li>
                        </ul>
                    </div>
</div>
            

  </div>
</div>

<!--导航结束--> 
<div class="clearfix"></div>

<div class="w">
    <div class="Route">
   <div>
    当前位置: 
                        <a href="dwhz.html">首页</a>
                >>
                <a href="jczx.html">就业创业</a>
                >>
                <a href="jczx.html">新闻动态</a>
                >>
                <a href="jczx.html">就创资讯</a>
</div>
    </div>
    
    <div class="clearfix"></div>

    <div class="container_left fl mr20">
            
        
        <!--二级侧栏开始-->
        <div id="content">
            
            <ul id="expmenu-freebie">
                <li>
                    <!-- Start Freebie -->
                    <ul class="expmenu">
                        <li>
                            <div class="header">
                                <span class="label fl">
</span><div class="lmmcx">就业创业</div>
                                <span class="arrow down"></span>
                                <div style="clear:both;"></div>
                            </div>
                            <ul class="menu">


 <li class="selected">
   <a href="jczx.html">新闻动态</a>
                                </li>


 <li>
   <a href="jyxx.html">就业信息</a>
                                </li>


 <li>
   <a href="jyzd.html">就业指南</a>
                                </li>


 <li>
   <a href="cyzd.html">创业指南</a>
                                </li>

 </ul>
                        </li>
    
                        
                    </ul>
                    <!-- End Freebie -->
                </li>
            </ul>
        </div>
        <!--二级侧栏结束-->
    </div>
    
    
    <div class="container_right fr mb20">
         <div><ul class="n_erji aos-init">
 <li class="on"><a href="jczx.html" title="就创资讯">就创资讯</a></li>
 <li><a href="zytz.html" title="重要通知">重要通知</a></li>
 <li><a href="xjh.html" title="宣讲会">宣讲会</a></li>
 <li><a href="zph.html" title="招聘会">招聘会</a></li>
</ul>
<div style="clear:both"></div></div>
        <div class="container_right_title">
就创资讯</div>
        
        <div class="clearfix"></div>
       
        <div><script language="javascript" src="static/js/centerCutImg.js"></script><script language="javascript" src="static/js/ajax.js"></script> <div class="new_list3 mt10">
<dl>

           
 <dd id="line_u9_0">


                    <a href="../../../info/1363/2951.htm" class="fl">我校召开福建省第六届“互联网+”创新创业大赛总结暨第七届泉海布置会（预）</a>
                    <span class="fr gray">2021-04-08</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_1">


                    <a href="../../../info/1363/2891.htm" class="fl">泉海双创丨“一专一项”校决赛</a>
                    <span class="fr gray">2021-04-07</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_2">


                    <a href="../../../info/1363/2871.htm" class="fl">泉海双创丨校外双创导师聘任及双创协会指导企业挂牌</a>
                    <span class="fr gray">2021-01-16</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_3">


                    <a href="../../../info/1363/3291.htm" class="fl">喜讯丨泉州市2020年大学生创新创意作品大赛评选结果</a>
                    <span class="fr gray">2021-01-11</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_4">


                    <a href="../../../info/1363/3261.htm" class="fl">泉海双创丨2020年泉州市大学生创新创意大赛决赛入围作品</a>
                    <span class="fr gray">2020-12-10</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_5">


                    <a href="../../../info/1363/3241.htm" class="fl">2021届全国普通高校毕业生就业创业工作网络视频会议（泉海分会场）</a>
                    <span class="fr gray">2020-12-02</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_6">


                    <a href="../../../info/1363/3201.htm" class="fl">毕业季丨2021届毕业生双选会</a>
                    <span class="fr gray">2020-10-06</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_7">


                    <a href="../../../info/1363/3181.htm" class="fl">2021届就业指导专题讲座（二）</a>
                    <span class="fr gray">2020-09-25</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_8">


                    <a href="../../../info/1363/3161.htm" class="fl">2021届就业指导专题讲座（一）</a>
                    <span class="fr gray">2020-09-24</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_9">


                    <a href="../../../info/1363/3151.htm" class="fl">双创赛事：第四届“中国创翼”创业创新大赛福建赛区</a>
                    <span class="fr gray">2020-09-14</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_10">


                    <a href="../../../info/1363/3091.htm" class="fl">第六届中国国际“互联网+”大学生创新创业大赛（泉州海洋学院站）</a>
                    <span class="fr gray">2020-07-16</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_11">


                    <a href="../../../info/1363/3071.htm" class="fl">规划人生·职上云霄丨大学生职业生涯规划大赛决赛</a>
                    <span class="fr gray">2020-07-07</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_12">


                    <a href="../../../info/1363/3061.htm" class="fl">爱心助农与校友陈仁仲</a>
                    <span class="fr gray">2020-04-02</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_13">


                    <a href="../../../info/1363/3461.htm" class="fl">爱心助农，泉海师生在行动</a>
                    <span class="fr gray">2020-03-27</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_14">


                    <a href="../../../info/1363/3451.htm" class="fl">泉海双创|搭建校外创业孵化平台</a>
                    <span class="fr gray">2019-12-27</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_15">


                    <a href="../../../info/1363/3441.htm" class="fl">职业生涯规划大赛丨等风来，不如追风去</a>
                    <span class="fr gray">2019-12-27</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_16">


                    <a href="../../../info/1363/3431.htm" class="fl">除了互联网+创新创业大赛外，你还了解哪些赛事</a>
                    <span class="fr gray">2019-12-18</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_17">


                    <a href="../../../info/1363/3421.htm" class="fl">泉海双创|“最强大脑”来展示你自己吧</a>
                    <span class="fr gray">2019-11-22</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_18">


                    <a href="../../../info/1363/3401.htm" class="fl">我校举行二轮评估“学生学习成效考察”第二次校级模拟演练</a>
                    <span class="fr gray">2019-11-21</span>
                    <div class="clearfix"></div>
                </dd>



       
 <dd id="line_u9_19">


                    <a href="../../../info/1363/3381.htm" class="fl">泉海双创||“风暴”来袭，你准备好“创”了吗</a>
                    <span class="fr gray">2019-11-01</span>
                    <div class="clearfix"></div>
                </dd>



   
   </dl>
   <br></div>
<link rel="stylesheet" content-type="text/css" href="static/css/sys.css"><div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top:10px;text-align:center;"><span class="p_pages"><span class="p_first p_fun"><a href="jczx.html">首页</a></span><span class="p_prev p_fun"><a href="4.html">上页</a></span><span class="p_no"><a href="jczx.html">1</a></span><span class="p_dot">...</span><span class="p_no"><a href="5.html">3</a></span><span class="p_no"><a href="4.html">4</a></span><span class="p_no_d">5</span><span class="p_no"><a href="2.htm">6</a></span><span class="p_no"><a href="1.html">7</a></span><span class="p_next p_fun"><a href="2.htm">下页</a></span><span class="p_last p_fun"><a href="1.html">尾页</a></span></span></div>
<script>_showDynClickBatch(['dynclicks_u9_2951','dynclicks_u9_2891','dynclicks_u9_2871','dynclicks_u9_3291','dynclicks_u9_3261','dynclicks_u9_3241','dynclicks_u9_3201','dynclicks_u9_3181','dynclicks_u9_3161','dynclicks_u9_3151','dynclicks_u9_3091','dynclicks_u9_3071','dynclicks_u9_3061','dynclicks_u9_3461','dynclicks_u9_3451','dynclicks_u9_3441','dynclicks_u9_3431','dynclicks_u9_3421','dynclicks_u9_3401','dynclicks_u9_3381'],[2951,2891,2871,3291,3261,3241,3201,3181,3161,3151,3091,3071,3061,3461,3451,3441,3431,3421,3401,3381],"wbnews", 1938584117)</script></div>
    </div>
    
</div>



<div class="clearfix"></div>
<div class="wrap" style="background: #3e6db5;">
  <div class="w footer">
    <div class="ac">
   
   <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p>
    </div>
  </div>
</div>



    <!--jquery-->
    <script type="text/javascript" src="static/js/bdtxk.min.js"></script>
   <script src="static/js/pub.js" type="text/javascript"></script>
    
    <!--二级侧栏-->
    <script type="text/javascript" src="static/js/bdtxk.tools.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
    
    
    
    
    
<script type="text/javascript" src="static/js/bdtxk.hoverIntent.minified.js"></script> 
<script type="text/javascript">
    $(document).ready(function() {


        function megaHoverOver(){
            $(this).find(".sub").stop().fadeTo('fast', 1).show();

            //Calculate width of all uls
            (function($) {
                jQuery.fn.calcSubWidth = function() {
                    rowWidth = 0;
                    //Calculate row
                    $(this).find("ul").each(function() {
                        rowWidth += $(this).width();
                    });
                };
            })(jQuery);

            if ( $(this).find(".row").length > 0 ) { //If row exists...
                var biggestRow = 0;
                //Calculate each row
                $(this).find(".row").each(function() {
                    $(this).calcSubWidth();
                    //Find biggest row
                    if(rowWidth > biggestRow) {
                        biggestRow = rowWidth;
                    }
                });
                //Set width
                $(this).find(".sub").css({'width' :biggestRow});
                $(this).find(".row:last").css({'margin':'0'});

            } else { //If row does not exist...

                $(this).calcSubWidth();
                //Set Width
                $(this).find(".sub").css({'width' : rowWidth});

            }
        }

        function megaHoverOut(){
            $(this).find(".sub").stop().fadeTo('fast', 0, function() {
                $(this).hide();
            });
        }


        var config = {
            sensitivity: 2, // number = sensitivity threshold (must be 1 or higher)
            interval: 100, // number = milliseconds for onMouseOver polling interval
            over: megaHoverOver, // function = onMouseOver callback (REQUIRED)
            timeout: 500, // number = milliseconds delay before onMouseOut
            out: megaHoverOut // function = onMouseOut callback (REQUIRED)
        };

        $("ul#topnav li .sub").css({'opacity':'0'});
        $("ul#topnav li").hoverIntent(config);



    });

</script> 


<!--选项卡-->

</body>
</html>


