<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon_logo.png">
<link rel="icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon.ico" type="image/x-icon">
    <title>航海交通学院开展就业创业指导课暨办公软件技能培训会-航海交通学院-泉州海洋职业学院</title><meta name="pageType" content="3">
<meta name="pageTitle" content="航海交通学院开展就业创业指导课暨办公软件技能培训会">
<meta name="keywords" content="航海交通学院,泉州海洋职业学院,网上展厅,航海交通学院开展就业创业指导课暨办公软件技能培训会">
<meta name="description" content="为加强我院职业规划教育，引导学生树立正确的择业观，向学生提供全方位的创业就业指导，同时加强业务培训，提升工作技能。2023年02月24日晚上，航海交通学院在教学楼4205教室开展就业创业指导课暨办公软件技能培训会...">

    <link href="static/css/style2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery1.js"></script>
    <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="static/js/jquerybdtxk.js"></script>
    <!--[if lt IE 9]>
    <script src="../../js/html5.js" type="text/javascript"></script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/content.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1022,'/content.jsp',3169,1936451120)</script>
</head>
<body>
<div class="header">
    <div class="w1200">
           <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="hhjtxy.html"><img src="static/picture/logohhjt.png" alt=""></a></div>
        <div class="i-search fr ">
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83392)">学校主页</a>
</div>
        
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 141px;
        max-width: 600px;
        width: 60%;
        margin-top: 15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1936451120";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <div style="clear:both"></div>
    </div>
    <div class="i-nav"><div id="navbar" class="menubox">
                <div class="w1200">
                    <div class="nav">
                        <ul>
                                                        <li>
                                 <a href="hhjtxy.html" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="xygk1.html" title="学院概况">学院概况</a>
                            </li>
                            <li>
                                 <a href="hhjszy.html" title="学院专业">学院专业</a>
                                <div class="two-nav">
                                    <a href="hhjszy.html" title="航海技术专业">航海技术专业</a>
                                    <a href="kzcwzy.html" title="空中乘务专业">空中乘务专业</a>
                                    <a href="gstlkycwzy.html" title="高速铁路客运乘务专业">高速铁路客运乘务专业</a>
                                    <a href="gjylcwglzy.html" title="国际邮轮乘务管理专业">国际邮轮乘务管理专业</a>
                                </div>
                            </li>
                            <li>
                                 <a href="szdw1.html" title="师资队伍">师资队伍</a>
                            </li>
                            <li>
                                 <a href="sxsb.html" title="实训设备">实训设备</a>
                            </li>
                            <li class="dhdqwz">
                                 <a href="jycy.html" title="就业创业">就业创业</a>
                            </li>
                            <li>
                                 <a href="zyzs.html" title="职业证书">职业证书</a>
                            </li>
                            <li>
                                 <a href="ssfc.html" title="师生风采">师生风采</a>
                            </li>
                            <li>
                                 <a href="zlzx.html" title="资料中心">资料中心</a>
                            </li>
                            <li>
                                 <a href="lxwm2.html" title="联系我们">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
</div>
</div>
<!--banner-->
<div class="list_banner">
                            <img src="static/picture/list_banner01.jpg" border="0">
                
            
</div>
<!--主要内容开始-->
<div class="icontent">
    <div class="lm_name clearfix">
        
<h2>就业创业</h2>
          
        <span>
    当前位置: 
                        <a href="hhjtxy.html">首页</a>
                >
                <a href="jycy.html">就业创业</a>
                >
                正文
</span>
    </div>
    <div class="c-content">

<script language="javascript" src="static/js/NewsvoteDWR.js"></script><script language="javascript" src="static/js/engine2.js"></script><script language="javascript" src="static/js/newscontent.js"></script><link href="static/css/photoswipe.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/pw.js"></script><script language="javascript" src="static/js/ajax.js"></script><form name="_newscontent_fromname">
    <h1 class="c-title">航海交通学院开展就业创业指导课暨办公软件技能培训会</h1>
        <div class="other-s">发布日期：2023-02-25&nbsp;&nbsp;&nbsp;&nbsp;作者： &nbsp;&nbsp;&nbsp;&nbsp;来源： 
    &nbsp;&nbsp;&nbsp;&nbsp;点击：<script>_showDynClicks("wbnews", 1936451120, 3169)</script></div>
    <div id="vsb_content" class="nr-info"><div class="v_news_content">
<p>
	为加强我院职业规划教育，引导学生树立正确的择业观，向学生提供全方位的创业就业指导，同时加强业务培训，提升工作技能。2023年02月24日晚上，航海交通学院在教学楼4205教室开展就业创业指导课暨办公软件技能培训会。本次培训由2021级航海技术专业辅导员李灿阳老师担任主讲人。
</p>
<p style="text-align:center;">
	<img src="static/picture/DEE4C9191CF3211095BF9A127DF_A3DBA217_CAD9E.png" alt="" width="400" height="265" title="">
</p>
<p>
	李灿阳老师首先在课堂中分析了当前的就业形势，并向同学们介绍了国家促进大学生就业创业的具体政策。他还切实指出了航海交通学院专业在就业市场上的优势与不足，希望同学们能认清形势，积极应对，提早规划，目标明确。另外，李灿阳老师还分析了专升本和就业创业的利与弊。他指出，同学们要对自己的能力有正确的评估，有了目标后就要全力以赴，切忌好高骛远，眼高手低。最后，李灿阳老师祝愿同学们能够对未来满怀信心，积极行动起来，顺利找到自己心仪的工作。
</p>
<p style="text-align:center;">
	<img src="static/picture/179F356E8FB0450BA06BA8AC9D7_1163C76B_62155.png" alt="" width="400" height="266" title="">
</p>
<p>
	就业创业指导课结束后，李灿阳老师总结了学生们在学习工作中使用办公软件遇到的部分问题，为同学们详细介绍了公文材料的格式、Word中的排版、目录、编号等，以及PowerPoint制作中SmartArt的应用、演示者视图还有部分实用插件的运用。随后，李灿阳老师也依托具体使用场景，以Excel表格中身份证及年月日信息的录入为例，向同学们介绍了如何进行单元格格式的调整以及实用函数的运用。本次培训内容注重实用性，简明扼要，激发了同学们对于办公软件的兴趣，更大程度上增强了同学们对就业创业的信心。
</p>
<p style="text-align:center;">
	<img src="static/picture/54B0724EEE04E4A9CC5CCFB122C_3B69002D_17186.jpg" alt="" width="400" height="300" title="">
</p>
<p>
	航海交通学院立足第二课堂，服务第一课堂，坚持知行合一，以知促行、以行求知，引导同学找准兴趣爱好、专业优势和社会发展的结合点，使广大同学在躬身实践中培养本领，在无字之书中感悟人生，在学思践悟中感受真理的味道，不断提高社会化能力，努力成为高质量、高素养的综合性准职业人。
</p></div>
</div></form></div><div id="div_vote_id"></div>
    
  <div class="i-sxt">
            <div class="wafx">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_24x24">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
             
                <!-- JiaThis Button END -->
            </div>
            
             <p><a href="3159.html"><strong>下一篇：</strong>航海交通学院开展高校就业创业指导活动讲座</a></p>
        </div>

</form>
</div>

<!--主要内容结束-->

<!--end-->
<div class="end">
<div class="w1200">
    <div class="end_left">
        <div class="i-title" style="border-bottom: none;  margin:20px 0 0  0"><h2 style=" color: #ffffff">友情链接 / <span>Link</span></h2></div>
        <div class="i-yqlj"><a href="http://jyt.fujian.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83384)">福建省教育厅</a>
<a href="http://jyj.quanzhou.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83385)">泉州市教育局</a>
<a href="https://www.fj.msa.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83391)">福建海事局</a>
<a href="http://www.cmaritime.com.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83386)">中国海事服务中心</a>
<a href="http://www.mot.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83387)">中华人民共和国交通运输部</a>
<a href="http://www.626china.com/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83389)">中国禁毒展览馆</a>
<a href="index.html#/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83390)">一站式办事大厅</a>
<a href="https://exmail.qq.com/login" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83388)">邮箱系统</a>
</div>

        <div class="copright"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p></div>
    </div>
    <div class="end_right">
        <div class="wx_sm">    <table align="center">
            <tr>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/wx.jpg" border="0" height="110">
                    微信 
                </td>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/jf.jpg" border="0" height="110">
                    缴费 
                </td>
        </tr>
</table></div>
    </div>
</div>
</div>
   <script src="static/js/jia.js" type="text/javascript"></script>
   <script src="static/js/pub2.js" type="text/javascript"></script>

</body>
</html>








