<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon_logo.png">
<link rel="icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon.ico" type="image/x-icon">
    <title>中华人民共和国海事局关于进一步明确 STCW公约履约过渡期考试发证相关事项的通知-航海交通学院-泉州海洋职业学院</title><meta name="pageType" content="3">
<meta name="pageTitle" content="中华人民共和国海事局关于进一步明确 STCW公约履约过渡期考试发证相关事项的通知">
<meta name="keywords" content="航海交通学院,泉州海洋职业学院,系部风采,中华人民共和国海事局关于进一步明确,STCW公约履约过渡期考试发证相关事项的通知">
<meta name="description" content="为更好地实施STCW公约马尼拉修正案，经研究，现将STCW公约履约过渡期考试、发证有关事项进一步明确如下：	一、沿海三等船舶轮机长/大管轮功率提高考试评估项目《金工工艺》考试大纲,同750KW及以上船舶二/三管轮《...">

    <link href="static/css/style2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery1.js"></script>
    <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="static/js/jquerybdtxk.js"></script>
    <!--[if lt IE 9]>
    <script src="../../js/html5.js" type="text/javascript"></script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/content.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1025,'/content.jsp',3289,1936451120)</script>
</head>
<body>
<div class="header">
    <div class="w1200">
           <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="hhjtxy.html"><img src="static/picture/logohhjt.png" alt=""></a></div>
        <div class="i-search fr ">
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83392)">学校主页</a>
</div>
        
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 141px;
        max-width: 600px;
        width: 60%;
        margin-top: 15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1936451120";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <div style="clear:both"></div>
    </div>
    <div class="i-nav"><div id="navbar" class="menubox">
                <div class="w1200">
                    <div class="nav">
                        <ul>
                                                        <li>
                                 <a href="hhjtxy.html" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="xygk1.html" title="学院概况">学院概况</a>
                            </li>
                            <li>
                                 <a href="hhjszy.html" title="学院专业">学院专业</a>
                                <div class="two-nav">
                                    <a href="hhjszy.html" title="航海技术专业">航海技术专业</a>
                                    <a href="kzcwzy.html" title="空中乘务专业">空中乘务专业</a>
                                    <a href="gstlkycwzy.html" title="高速铁路客运乘务专业">高速铁路客运乘务专业</a>
                                    <a href="gjylcwglzy.html" title="国际邮轮乘务管理专业">国际邮轮乘务管理专业</a>
                                </div>
                            </li>
                            <li>
                                 <a href="szdw1.html" title="师资队伍">师资队伍</a>
                            </li>
                            <li>
                                 <a href="sxsb.html" title="实训设备">实训设备</a>
                            </li>
                            <li>
                                 <a href="jycy.html" title="就业创业">就业创业</a>
                            </li>
                            <li>
                                 <a href="zyzs.html" title="职业证书">职业证书</a>
                            </li>
                            <li>
                                 <a href="ssfc.html" title="师生风采">师生风采</a>
                            </li>
                            <li class="dhdqwz">
                                 <a href="zlzx.html" title="资料中心">资料中心</a>
                            </li>
                            <li>
                                 <a href="lxwm2.html" title="联系我们">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
</div>
</div>
<!--banner-->
<div class="list_banner">
                            <img src="static/picture/list_banner01.jpg" border="0">
                
            
</div>
<!--主要内容开始-->
<div class="icontent">
    <div class="lm_name clearfix">
        
<h2>资料中心</h2>
          
        <span>
    当前位置: 
                        <a href="hhjtxy.html">首页</a>
                >
                <a href="zlzx.html">资料中心</a>
                >
                正文
</span>
    </div>
    <div class="c-content">

<script language="javascript" src="static/js/NewsvoteDWR.js"></script><script language="javascript" src="static/js/engine2.js"></script><script language="javascript" src="static/js/newscontent.js"></script><script language="javascript" src="static/js/ajax.js"></script><form name="_newscontent_fromname">
    <h1 class="c-title">中华人民共和国海事局关于进一步明确 STCW公约履约过渡期考试发证相关事项的通知</h1>
        <div class="other-s">发布日期：2018-06-14&nbsp;&nbsp;&nbsp;&nbsp;作者： &nbsp;&nbsp;&nbsp;&nbsp;来源： 
    &nbsp;&nbsp;&nbsp;&nbsp;点击：<script>_showDynClicks("wbnews", 1936451120, 3289)</script></div>
    <div id="vsb_content" class="nr-info"><div class="v_news_content">
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	为更好地实施STCW公约马尼拉修正案，经研究，现将STCW公约履约过渡期考试、发证有关事项进一步明确如下：
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	一、沿海三等船舶轮机长/大管轮功率提高考试评估项目《金工工艺》考试大纲,同750KW及以上船舶二/三管轮《金工工艺》评估项目考试大纲。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	沿海三等船舶轮机长/大管轮申请功率提高考试的，应加考《船舶电工工艺与电气设备》评估项目。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	二、沿海三等船舶船长、驾驶员完成电子海图显示与信息系统（ECDIS）适任培训并通过海事管理机构组织的评估后，可申请消除适任证书电子海图显示与信息系统（ECDIS）适用限制。适任培训按照沿海航区500总吨及以上驾驶员职务《电子海图显示与信息系统》（ECDIS）适任培训内容执行。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	三、电子电气员过渡期适任考试《电子电气员英语》科目及格分数线为70分，其他科目及格分数线为60分。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	四、通过500总吨及以上二/三副《航海英语听力与会话》适任评估的学员，其成绩可作为无限航区值班水手《水手英语听力与会话》项目适任评估成绩。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	通过无限航区750千瓦及以上二/三管轮《轮机英语听力与会话》项目适任评估的学员，其该项目成绩可作为无限航区值班机工《机工英语听力与会话》项目适任评估成绩；通过750千瓦及以上二/三管轮《动力设备拆装》和《动力设备操作》项目适任评估的学员，其该两项目成绩可作为值班机工《设备拆装与操作》项目适任评估成绩；通过750千瓦及以上二/三管轮《金工工艺》项目适任评估的学员，其该项目成绩可作为值班机工《金工工艺》成绩。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	通过无限航区电子电气员《电子电气员英语》适任理论考试的学员，其该科目考试成绩可作为无限航区电子技工《电子技工英语》理论考试成绩；通过无限航区电子电气员《船舶电子电气员英语听力与会话》项目适任评估的学员，其该项目成绩可作为无限航区电子技工《电子技工英语听力与会话》项目适任评估成绩。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	上述相应三副、三管轮、电子电气员适任考试科目或项目合格成绩，应在初次申请值班水手、值班机工或电子技工适任考试前取得，且成绩在有效期内。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	其他理论科目和评估项目按照相应考试大纲要求进行。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	五、初次申请适用于两港间航程50海里及以上客船电子电气员适任证书者，应当在其他种类的3000千瓦及以上海船上担任相应职务满12个月，任职表现和安全记录良好，并在客船上任相应见习职务3个月。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	通过电子电气员适任考试者，在客船上完成规定的18个月船上见习，任职表现和安全记录良好，可以申请适用于客船的电子电气员适任证书。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	六、持有已过期的原液货船特殊培训合格证者重新参加油船、化学品船、液化气船货物操作高级培训合格证培训并考试通过后，在申请之日起前5年内有3个月及以上相应种类船舶的海上服务资历的，可直接申请签发液货船货物操作高级培训合格证。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	七、接受不少于2年的全日制航海类中职/中专及以上教育的学生在具有不少于12个月的相应部门的海上服务资历后，可以相应地申请无限航区三副、三管轮、电子电气员适任考试。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	八、船员证书污损、遗失申请补发的，应到原证书签发机关办理。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	九、持有“04规则”水产品运输船、鲜销船适任证书者，通过《中华人民共和国关于水产品运输船国际鲜销船船员销限换证有关事宜的通知》所规定相应科目/项目考试后，可直接申请“11规则”适任证书，免于参加过渡期适任培训。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	持有“11规则”水产品运输船、鲜销船适任证书者申请证书再有效应满足“11规则”证书再有效条件；“04规则”水产品运输船、鲜销船适任证书过期或不满足再有效条件的，应按照“11规则”适任证书再有效规定抽考并通过相应理论考试科目和评估项目后，申请换发相应“11规则”证书。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	十、凡未参加并通过《电子海图显示与信息系统/电子海图系统》项目适任评估或过渡期适任培训电子海图显示与信息系统（ECDIS）项目考核的，申请大副职务晋升船长考试、航区扩大或吨位提高时应加考《电子海图显示与信息系统/电子海图系统》项目。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	十一、参加GMDSS通用操作员适任考试，除GMDSS英语阅读和通信英语听力与会话外，其他科目/项目均已合格，且成绩在有效期内，可申请转为GMDSS限用操作员适任考试成绩。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	十二、船员申请职务晋升、航区扩大、吨位或功率提高所需要的海上服务资历，应是申请岗位适任培训之日起前5年内相应的有效资历。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	十三、海船船员健康体检机构应按照《船员健康检查要求》（GB30035-2013）规定的标准，为符合检查要求的人员签发健康证书。但在2014年7月1日之前已经注册为海船船员的，其听力检查标准可按以下规定执行：
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	（一）船长和甲板部船员：以电测听力计测定，双耳裸听力在0.5、1.0、2.0、3.0kHz频段上平均小于等于30dB；
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-indent:2em;">
	（二）船长和甲板部以外的其他船员：以电测听力计测定，双耳裸听力在0.5、1.0、2.0、3.0kHz频段上平均小于等于40dB。
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-align:right;text-indent:2em;">
	中华人民共和国海事局
</p>
<p style="margin-top:0px;margin-bottom:0px;padding:0px 0px 17px;word-break:break-all;color:#6A7C94;font-family:微软雅黑, Tahoma, Arial, 宋体;line-height:22.2px;white-space:normal;text-align:right;text-indent:2em;">
	2015年5月13日
</p></div>
</div></form></div><div id="div_vote_id"></div>
    
  <div class="i-sxt">
            <div class="wafx">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_24x24">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
             
                <!-- JiaThis Button END -->
            </div>
              <p><a href="3299.html"><strong>上一篇：</strong>《中华人民共和国海船船员适任考试 和发证规则》实施办法</a></p>
             <p><a href="3279.htm"><strong>下一篇：</strong>中华人民共和国海事局关于进一步规范 船员任解职管理工作的通知</a></p>
        </div>

</form>
</div>

<!--主要内容结束-->

<!--end-->
<div class="end">
<div class="w1200">
    <div class="end_left">
        <div class="i-title" style="border-bottom: none;  margin:20px 0 0  0"><h2 style=" color: #ffffff">友情链接 / <span>Link</span></h2></div>
        <div class="i-yqlj"><a href="http://jyt.fujian.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83384)">福建省教育厅</a>
<a href="http://jyj.quanzhou.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83385)">泉州市教育局</a>
<a href="https://www.fj.msa.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83391)">福建海事局</a>
<a href="http://www.cmaritime.com.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83386)">中国海事服务中心</a>
<a href="http://www.mot.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83387)">中华人民共和国交通运输部</a>
<a href="http://www.626china.com/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83389)">中国禁毒展览馆</a>
<a href="index.html#/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83390)">一站式办事大厅</a>
<a href="https://exmail.qq.com/login" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83388)">邮箱系统</a>
</div>

        <div class="copright"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p></div>
    </div>
    <div class="end_right">
        <div class="wx_sm">    <table align="center">
            <tr>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/wx.jpg" border="0" height="110">
                    微信 
                </td>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/jf.jpg" border="0" height="110">
                    缴费 
                </td>
        </tr>
</table></div>
    </div>
</div>
</div>
   <script src="static/js/jia.js" type="text/javascript"></script>
   <script src="static/js/pub2.js" type="text/javascript"></script>

</body>
</html>








