<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="force-rendering" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="”pragma”" content="”no-cache”">
    <meta http-equiv="”cache-control”" content="”no-cache”">
    <meta http-equiv="”expires”" content="”0″">
    <title>2015年大事记-泉州海洋学院——统招全日制高等院校</title><meta name="pageType" content="3">
<meta name="pageTitle" content="2015年大事记">
<meta name="keywords" content="泉州海洋学院——统招全日制高等院校,大事记,2015年">
<meta name="description" content="					1.2015年1月6日澳大利亚克兰钻学校校长DirkWellham一行莅临我院考察访问，学院院长黄水源、副院长吴广华、赵山辉等领导热情接待了来宾，并召开了座谈会。	2.2...">

    <link href="static/css/public.css" rel="stylesheet" type="text/css">
    <link href="static/css/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/banner.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/pic_lbqh.css">
    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/pub1.js" type="text/javascript"></script>
  <!--[if lt IE 10]>
    <script type="text/javascript">
        var str = " 您的浏览器低于ie9，请升级到ie9以上版本:(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#888;height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d1.css">
<script language="javascript" src="static/js/_sitegray1.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/content.vsb.css">
<script type="text/javascript" src="static/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1071,'/content.jsp',9181,1916776078)</script>
</head>
<body class="ls_body">
    <div class="header ny_header">
        <div class="top header-pc tu1">
            <div class="container flex">
                <div class="logo flex-v-center">
                    
 <a href="index1.html">
                        <img src="static/picture/logo1.png" alt="" class="imgMargin">
                       
                    </a>
                </div>
                <div class="pcnav fr">
                <div class="header-t flex-right">
                    <div style="display: flex;">
                         <script language="javascript" src="static/js/dynclicks.js"></script>   <li><a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank"><img src="static/picture/top_img2.png">校长邮箱</a></li>
   <li><a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank"><img src="static/picture/top_img3.png">书记邮箱</a></li>
   <li><a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank"><img src="static/picture/top_img4.png">一站式办事大厅</a></li>
   <li><a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank"><img src="static/picture/top_img5.png">图书馆</a></li>
   <li><a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank"><img src="static/picture/top_img6.png">就业创业</a></li>

                    </div>
                </div>
                    <div class="menubox">
                        <div class="nav flex-right">
                           
 <ul>
                                                             <li class="dhdqwz">
                                    <a href="index1.html" title="首页" target="_blank">首页</a>
                                
                                </li>
                                <li>
                                    <a href="xxjj.html" title="学校概况" target="_blank">学校概况</a>
                                    <div class="two-nav">
                                        <a href="xxjj.html" title="学校简介" target="_blank">学校简介</a>
                                     
                                        <a href="xxzc.html" title="学校章程" target="_blank">学校章程</a>
                                     
                                        <a href="cbr.html" title="创办人" target="_blank">创办人</a>
                                     
                                        <a href="xxld.html" title="学校领导" target="_blank">学校领导</a>
                                     
                                        <a href="zzjg.html" title="组织机构" target="_blank">组织机构</a>
                                     
                                        <a href="dsj.html" title="大事记" target="_blank">大事记</a>
                                     
                                        <a href="ssqh.html" title="数说泉海" target="_blank">数说泉海</a>
                                     
                                        <a href="xygh.html" title="校园规划" target="_blank">校园规划</a>
                                     
                                        <a href="sphy.html" title="光影海院" target="_blank">光影海院</a>
                                     
                                        <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="yxsz.html" title="院系设置" target="_blank">院系设置</a>
                                    <div class="two-nav">
                                        <a href="hhjtxy.html" title="航海交通学院" target="_blank">航海交通学院</a>
                                     
                                        <a href="hygc.html" title="海洋工程学院" target="_blank">海洋工程学院</a>
                                     
                                        <a href="xxgc.html" title="信息工程学院" target="_blank">信息工程学院</a>
                                     
                                        <a href="jjgl.html" title="经济管理学院" target="_blank">经济管理学院</a>
                                     
                                        <a href="ysty.html" title="艺术体育学院" target="_blank">艺术体育学院</a>
                                     
                                        <a href="gfjy.html" title="国防教育学院" target="_blank">国防教育学院</a>
                                     
                                        <a href="tsjy.html" title="通识教育学院" target="_blank">通识教育学院</a>
                                     
                                        <a href="my.html" title="马克思主义学院" target="_blank">马克思主义学院</a>
                                     
                                        <a href="ytfc.html" title="游艇帆船学院" target="_blank">游艇帆船学院</a>
                                     
                                        <a href="scxy.html" title="三创学院" target="_blank">三创学院</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="index2.html" title="招生信息" target="_blank">招生信息</a>
                                
                                </li>
                                <li>
                                    <a href="xygk.html" title="技能培训" target="_blank">技能培训</a>
                                    <div class="two-nav">
                                        <a href="chuanyuan.html" title="船员培训学院" target="_blank">船员培训学院</a>
                                     
                                        <a href="jxjy.html" title="继续教育学院" target="_blank">继续教育学院</a>
                                     
                                        <a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养" target="_blank">国际海洋工程人才培养</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="jwc.html" title="教育教学" target="_blank">教育教学</a>
                                
                                </li>
                                <li>
                                    <a href="dwhz.html" title="交流合作" target="_blank">交流合作</a>
                                
                                </li>
                                <li>
                                    <a href="rczp.html" title="招贤纳才" target="_blank">招贤纳才</a>
                                
                                </li>
                                <li>
                                    <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                
                                </li>
                                                              <div class="searchbtn"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mp">
            <div class="container">
                <div class="clearfix">
                    <div class="logo">
<a href="index1.html"><img src="static/picture/logo1.png" alt=""></a></div>
                    <div class="header-mp-right">
                        <li class="searchbtn"></li>
                        <div class="move_nav">
                            <div class="move_menu" id="smenu"><a class="thuicon-menu menuicon"></a></div>
                        </div>
                    </div>
                    <div class="move_navBox" style="display: none;">
                        <div class="move_navShow">
                        <div class="mp_dblj"><div class="clearfix">    <a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank">校长邮箱</a>
<a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank">书记邮箱</a>
<a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank">一站式办事大厅</a>
<a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank">图书馆</a>
<a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank">就业创业</a>
</div></div>
                          
  <ul id="move_nav">
                                                              <li><p><a href="index1.html" title="首页">首页</a>  </p>
                                 
                                </li>                                <li><p><a href="xxjj.html" title="学校概况">学校概况</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="xxjj.html" title="学校简介">学校简介</a></li>
                                          <li class="col-xs-6"><a href="xxzc.html" title="学校章程">学校章程</a></li>
                                          <li class="col-xs-6"><a href="cbr.html" title="创办人">创办人</a></li>
                                          <li class="col-xs-6"><a href="xxld.html" title="学校领导">学校领导</a></li>
                                          <li class="col-xs-6"><a href="zzjg.html" title="组织机构">组织机构</a></li>
                                          <li class="col-xs-6"><a href="dsj.html" title="大事记">大事记</a></li>
                                          <li class="col-xs-6"><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
                                          <li class="col-xs-6"><a href="xygh.html" title="校园规划">校园规划</a></li>
                                          <li class="col-xs-6"><a href="sphy.html" title="光影海院">光影海院</a></li>
                                          <li class="col-xs-6"><a href="lxwm.html" title="联系我们">联系我们</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="yxsz.html" title="院系设置">院系设置</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="hhjtxy.html" title="航海交通学院">航海交通学院</a></li>
                                          <li class="col-xs-6"><a href="hygc.html" title="海洋工程学院">海洋工程学院</a></li>
                                          <li class="col-xs-6"><a href="xxgc.html" title="信息工程学院">信息工程学院</a></li>
                                          <li class="col-xs-6"><a href="jjgl.html" title="经济管理学院">经济管理学院</a></li>
                                          <li class="col-xs-6"><a href="ysty.html" title="艺术体育学院">艺术体育学院</a></li>
                                          <li class="col-xs-6"><a href="gfjy.html" title="国防教育学院">国防教育学院</a></li>
                                          <li class="col-xs-6"><a href="tsjy.html" title="通识教育学院">通识教育学院</a></li>
                                          <li class="col-xs-6"><a href="my.html" title="马克思主义学院">马克思主义学院</a></li>
                                          <li class="col-xs-6"><a href="ytfc.html" title="游艇帆船学院">游艇帆船学院</a></li>
                                          <li class="col-xs-6"><a href="scxy.html" title="三创学院">三创学院</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="index2.html" title="招生信息">招生信息</a>  </p>
                                 
                                </li>                                <li><p><a href="xygk.html" title="技能培训">技能培训</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="chuanyuan.html" title="船员培训学院">船员培训学院</a></li>
                                          <li class="col-xs-6"><a href="jxjy.html" title="继续教育学院">继续教育学院</a></li>
                                          <li class="col-xs-6"><a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养">国际海洋工程人才培养</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="jwc.html" title="教育教学">教育教学</a>  </p>
                                 
                                </li>                                <li><p><a href="dwhz.html" title="交流合作">交流合作</a>  </p>
                                 
                                </li>                                <li><p><a href="rczp.html" title="招贤纳才">招贤纳才</a>  </p>
                                 
                                </li>                                <li><p><a href="lxwm.html" title="联系我们">联系我们</a>  </p>
                                 
                                </li>
                                                         </ul>
                        </div>
                    </div>
                    <script>
                        $(".menuicon").click(function(){
                            $(".move_navBox").slideToggle();
                            $(this).toggleClass("closeNav")
                        })
                        $(".column i").click(function(){
                            $(".move_navShow").slideToggle();
                        })
                        $(".zkicon").click(function(){
                            $(this).parent().next().slideToggle();
                            $(this).toggleClass("sqicon");
                        })
                        $(".am-btn-red").click(function(){
                            $(".searchBox").slideToggle();
                            $(this).children().toggleClass("closeSearch");
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_page1 ab">
      <img src="static/picture/ny_banner4.png">
    </div>
    <div class="pcejdh">
        <div class="cw dqdh">
            <div class="ny_tit">
大事记</div>
            <div class="dqwz flex">
                <span>您当前位置:
                         
                        <a href="index1.html">首页</a>
                -
                <a href="xxjj.html">学校概况</a>
                -
                <a href="dsj.html">大事记</a>
                -
                正文

</span>
            </div>
            <div class="ny_ejdh flex">
                <ul class="n_erji aos-init">
                   
 <li><a href="xxjj.html" title="学校简介">学校简介</a></li>
 <li><a href="xxzc.html" title="学校章程">学校章程</a></li>
 <li><a href="cbr.html" title="创办人">创办人</a></li>
 <li><a href="xxld.html" title="学校领导">学校领导</a></li>
 <li><a href="zzjg.html" title="组织机构">组织机构</a></li>
 <li class="on"><a href="dsj.html" title="大事记">大事记</a></li>
 <li><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
 <li><a href="xygh.html" title="校园规划">校园规划</a></li>
 <li><a href="sphy.html" title="光影海院">光影海院</a></li>
 <li><a href="lxwm.html" title="联系我们">联系我们</a></li>


                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="cw">
        <div class="new-cont">
       <div class="clearfix">
          

<script language="javascript" src="static/js/NewsvoteDWR.js"></script><script language="javascript" src="static/js/engine.js"></script><script language="javascript" src="static/js/newscontent.js"></script><script language="javascript" src="static/js/ajax.js"></script>  <h2>2015年大事记</h2>
            <div class="cont-tit">
                <span class="flex">作者:  </span>
                <span class="flex"> 发布时间: 2016-10-27</span>
                <span class="flex">浏览次数: <script>_showDynClicks("wbnews", 1916776078, 9181)</script></span>
            </div>
            <div class="article">
              
   
    <div id="vsb_content"><div class="v_news_content">
<div class="content_main content_history_detail">
				<p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	1.<st1:chsdate year="2015" month="1" day="6" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年1</span></span><span lang="EN-US"><span lang="EN-US">月6</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">澳大利亚克兰钻学校校长DirkWellham</span>一行莅临我院考察访问，学院院长黄水源、副院长吴广华、赵山辉等领导热情接待了来宾，并召开了座谈会。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	2.<st1:chsdate year="2015" month="1" day="7" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年1</span></span><span lang="EN-US"><span lang="EN-US">月7</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，福建省船员服务行业协会文件闽船员协会发布《福建省船员服务行业协会关于公布2014</span>年度福建省船员服务行业协会“云帆”奖学金获得者名单的通知》，我院吕澄、陈志青、彭令、李业、杨平、李志勤、桑浩、卢秋霞等<span lang="EN-US">8</span>名学生喜获<span lang="EN-US">2014</span>年度福建省船员服务行业协会“云帆”奖学金。这是福建省船员服务行业协会评审的首届“云帆”奖学金获得者。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	3.<st1:chsdate year="2015" month="1" day="23" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年1</span></span><span lang="EN-US"><span lang="EN-US">月23</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院与北京新航线英才教育投资公司正式签署船员培训合作协议，双方确定在安徽省芜湖市开展初级船员培训项目。学院党委书记、院长黄水源与北京新航<span lang="EN-US">线英才教育投资公司总裁刘红军代表双方在协议书上签字。<o:p></o:p></span></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	4.<st1:chsdate year="2015" month="3" day="11" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年3</span></span><span lang="EN-US"><span lang="EN-US">月11</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，泉州市副市长周真平、泉州市教育局副局长毛伟雄等到我院参观调研，石狮市委常委、教育工委书记龚志阳、石狮市副市长杜举胜等陪同参观，我院黄水源院长、董清海副书记、吴广华副院长、赵山辉副院长热情接待了周副市长一行。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	5.<st1:chsdate year="2015" month="3" day="23" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年3</span></span><span lang="EN-US"><span lang="EN-US">月23</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，在石狮市杜举胜副市长的关心和支持下，石狮市政府向我院赠送木棉树、桃树树苗各50</span>棵。学院后勤部门在接到这些树苗后立即组织绿化工人按照规划分区进行栽种。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	6.<st1:chsdate year="2015" month="4" day="3" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年4</span></span><span lang="EN-US"><span lang="EN-US">月3</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院分别与祥<span lang="EN-US">芝中心幼儿园和石狮市万祥实验幼儿园签署共建实践基地协议。学院全体党政领导、党政办公室以及教务处负责人参加签约授牌仪式。<o:p></o:p></span></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	7.<st1:chsdate year="2015" month="4" day="7" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年4</span></span><span lang="EN-US"><span lang="EN-US">月7</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，省教育厅正式公布我院顺利通过福建省高职院校人才培养工作评估的文件。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	8.<st1:chsdate year="2015" month="4" day="7" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年4</span></span><span lang="EN-US"><span lang="EN-US">月7</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，福建省职业院校技能大赛于在漳州职业技术学院隆重举行，我院学生高继升同学和唐梦同学荣获“西式宴会服务”和“中餐主题宴会设计”两项比赛三等奖。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	9.<st1:chsdate year="2015" month="5" day="1" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年5</span></span><span lang="EN-US"><span lang="EN-US">月1</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院行政服务楼新大门正式启用。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	10.<st1:chsdate year="2015" month="5" day="14" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年5</span></span><span lang="EN-US"><span lang="EN-US">月14</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，泉州师范学院党委书记游小波教授和校长<span lang="EN-US">助理、党委组织部部长陈亚兵教授一行来访我院，并看望慰问了在我院挂职干部董清海。<o:p></o:p></span></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11.<st1:chsdate year="2015" month="5" day="14" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年5</span></span><span lang="EN-US"><span lang="EN-US">月14</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，泉州海洋职业学院与建明国际酒店校企合作签约授牌仪式在建明国际酒店三楼中餐厅举行。学院副院长吴广华教授、党政办主任蔡聪足、人文与管理系于浴贤教授、教研处代处长吉尚仁、建明国际餐饮部执行董事副总经理饶新华等共同参加了仪式。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	12.<st1:chsdate year="2015" month="5" day="18" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年5</span></span><span lang="EN-US"><span lang="EN-US">月18</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，“石狮科技——人才活动周暨泉州海洋学院创新创业大赛”启动仪式在我院举行。石狮市林旺强副市长、石狮市科技和知识产权局李圣阳局长、泉州海洋学院<span lang="EN-US">吴广华副院长、董清海副书记、赵山辉副院长、学生代表以及祥芝镇政府、石狮市海洋生物科技园、石狮日报社、石狮市广播电视台等单位的领导及嘉宾参加本次启动仪式。<o:p></o:p></span></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	13.<st1:chsdate year="2015" month="6" day="17" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年6</span></span><span lang="EN-US"><span lang="EN-US">月17</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院隆重召开一届教代会暨工会二次会议，学院院长黄水源、党委副书记董清海、副院长吴广华等参加大会，泉州永顺船务有限公司董事长总经理郭永坤先生、中一汽车文化园总经理邱荣仔先生等校企合作单位领导列席会议。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	14.<st1:chsdate year="2015" month="6" day="19" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年6</span></span><span lang="EN-US"><span lang="EN-US">月19</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院2015</span>届学生毕业典礼在<span lang="EN-US">2204</span>报告厅举行。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	15.<st1:chsdate year="2015" month="7" day="2" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年7</span></span><span lang="EN-US"><span lang="EN-US">月2</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，学院与荣誉国际<span lang="EN-US">集团有限公司正式签署校企合作协议。我院吴广华副院长、赵山辉副院长、荣誉国际集团有限公司总经理邓常青、中餐餐饮总监吴仁峰、中餐培训部经理吕治心等人参加签字仪式。<o:p></o:p></span></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	16.<st1:chsdate year="2015" month="8" day="6" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年8</span></span><span lang="EN-US"><span lang="EN-US">月6</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院举行2015</span>年海军直招士官学生入伍欢送会。我院人民武装部张国建部长、苏良城副部长及被确定为海军直招士官的我院<span lang="EN-US">2015</span>届毕业生吴姜伟、陈超翔、胡长椿、沈伟斌、吴兴敏、王红、何小康、陈伟枭、邵岩岩等<span lang="EN-US">9</span>名毕业生参加会议。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	17.<st1:chsdate year="2015" month="8" day="28" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年8</span></span><span lang="EN-US"><span lang="EN-US">月28</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，《福建省教育厅关于公布2015</span>年高等职业教育省级示范专业和生产性实训基地的通知》（闽教职成〔<span lang="EN-US">2015</span>〕<span lang="EN-US">31</span>号）文件下发，经评估认定，我院“远洋船员航海技能实训中心”被福建省教育厅认定为省级生产性实训基地。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	18.<st1:chsdate year="2015" month="9" day="14" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年9</span></span><span lang="EN-US"><span lang="EN-US">月14</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，石狮教育报在校园新闻栏目发表文章《泉州海洋学院获校园文化建设优秀成果三等奖》，报道了我院校园文化成果《“四轮驱动”大学生素质教育模式》荣获“2015</span>年福建省高校校园文化建设优秀成果评选”三等奖，成为泉州地区六所获奖的高校之一。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	19.<st1:chsdate year="2015" month="10" day="13" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年10</span></span><span lang="EN-US"><span lang="EN-US">月13</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，闽江师范高等专科学校张昌勋副校长带领该校各部门负责人来访我院交流评建工作。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	20.<st1:chsdate year="2015" month="11" day="10" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年11</span></span><span lang="EN-US"><span lang="EN-US">月10</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，台湾修平科技大学钟瑞国校长一行三人莅临我院参观交流。学院副院长吴广华、副院长赵山辉、院长助理林金良、董事秘书陈志伟热情接待了客人。<o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	21.<st1:chsdate year="2015" month="11" day="23" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年11</span></span><span lang="EN-US"><span lang="EN-US">月23</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院20</span>名学生获邀参与央视<span lang="EN-US">2016</span>年猴年春晚宣传片的摄制我院学生准时到达永宁观音山春晚宣传片摄制点，主动投入了紧张摄制工作中。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	22.<st1:chsdate year="2015" month="12" day="1" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年12</span></span><span lang="EN-US"><span lang="EN-US">月1</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院顺利完成质量管理体系2015</span>年内部审核工作，为迎接国家海事局专家对学院的外审做好了前期准备。<span lang="EN-US"><o:p></o:p></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	23.<st1:chsdate year="2015" month="11" day="23" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年11</span></span><span lang="EN-US"><span lang="EN-US">月23</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">至<st1:chsdate year="2016" month="12" day="1" islunardate="False" isrocdate="False" w:st="on">12<span lang="EN-US"><span lang="EN-US">月1</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，我院举行创新创<span lang="EN-US">业讲座、创新创业交流会、泉州海洋学院大学生创新创业基地揭牌仪式、泉州海洋学院创新创业基地启动仪式等活动，着力推进我院大学生创新创业工作。<o:p></o:p></span></span></span></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	24.<st1:chsdate year="2015" month="12" day="9" islunardate="False" isrocdate="False" w:st="on">2015<span lang="EN-US"><span lang="EN-US">年12</span></span><span lang="EN-US"><span lang="EN-US">月9</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，泉州海洋职业学院科学技术协会成立暨第一次代表大会在2204</span>报告厅隆重召开。泉州市政协副主席、泉州市科协主席骆沙鸣、泉州市教育局副局长毛伟雄、泉州市教育局高教科科长黄世琴、石狮市科协主席李繁红、石狮市科技局副局长蔡明权等应邀参加成立大会。<span style="line-height:20pt;text-indent:22pt;"> </span></p>			</div>
</div></div><div id="div_vote_id"></div>
      
    
    </div>
<div class="cw">
            <div class="pages">
                 <p><a href="9191.html"><span class="aline_w"> 上一篇：2016年大事记 </span> </a></p>    
                 <p><a href="9171.html"><span class="aline_w">下一篇：2014年大事记</span></a></p>    
            </div>  </div>  


          </div>
    </div>
     </div>
    <div class="bq ny_bq">
        <div class="cw">
            <div class="f_logo">
                    
 <img src="static/picture/logo1.png">

                        </div>
                        <div class="bqwz">
                            <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>Copyright © 2016-2023 泉州海洋职业学院 版权所有<br><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备09021863号-1</a> <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank">闽公网安备 35058102000172号</a> &nbsp; 违法和不良信息举报中心</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--搜索开始-->
    <div class="searchbox" frag="窗口103" portletmode="search">
        <div class="search_bg"></div>
        <span class="close">X</span>
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><div class="ss_form">
<style>
    #appu13 .qwss{
        height: 45px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu13 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 45px;
        border: 0;
        border-radius: 2px;
        background-color: #2454a6;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu13"></div>
<script type="text/html" id="htmlu13">
    <div id="appu13">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="全文搜索" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"  />
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu13").html($("#htmlu13").text());
</script>
<script>
    var appOwner = "1916776078";
    var token =gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu13",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div>
    </div>
    <script type="text/javascript" src="static/js/search.js"></script>
    <!--搜索结束-->


<script src="static/js/swiper.min.js"></script>

</body>
</html>
