<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="force-rendering" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="”pragma”" content="”no-cache”">
    <meta http-equiv="”cache-control”" content="”no-cache”">
    <meta http-equiv="”expires”" content="”0″">
    <title>2016年大事记-泉州海洋学院——统招全日制高等院校</title><meta name="pageType" content="3">
<meta name="pageTitle" content="2016年大事记">
<meta name="keywords" content="泉州海洋学院——统招全日制高等院校,大事记,2016年">
<meta name="description" content="	1.林华东院长率团参访嘉泰集团共商校企合作 	2016年1月5日，在院长林华东教授、院长助理郑文谦老师带队下，我院交流参访团一行7人赴福建嘉泰集团展开交流学习...">

    <link href="static/css/public.css" rel="stylesheet" type="text/css">
    <link href="static/css/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/banner.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/pic_lbqh.css">
    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/pub1.js" type="text/javascript"></script>
  <!--[if lt IE 10]>
    <script type="text/javascript">
        var str = " 您的浏览器低于ie9，请升级到ie9以上版本:(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#888;height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d1.css">
<script language="javascript" src="static/js/_sitegray1.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/content.vsb.css">
<script type="text/javascript" src="static/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1071,'/content.jsp',9191,1916776078)</script>
</head>
<body class="ls_body">
    <div class="header ny_header">
        <div class="top header-pc tu1">
            <div class="container flex">
                <div class="logo flex-v-center">
                    
 <a href="index1.html">
                        <img src="static/picture/logo1.png" alt="" class="imgMargin">
                       
                    </a>
                </div>
                <div class="pcnav fr">
                <div class="header-t flex-right">
                    <div style="display: flex;">
                         <script language="javascript" src="static/js/dynclicks.js"></script>   <li><a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank"><img src="static/picture/top_img2.png">校长邮箱</a></li>
   <li><a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank"><img src="static/picture/top_img3.png">书记邮箱</a></li>
   <li><a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank"><img src="static/picture/top_img4.png">一站式办事大厅</a></li>
   <li><a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank"><img src="static/picture/top_img5.png">图书馆</a></li>
   <li><a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank"><img src="static/picture/top_img6.png">就业创业</a></li>

                    </div>
                </div>
                    <div class="menubox">
                        <div class="nav flex-right">
                           
 <ul>
                                                             <li class="dhdqwz">
                                    <a href="index1.html" title="首页" target="_blank">首页</a>
                                
                                </li>
                                <li>
                                    <a href="xxjj.html" title="学校概况" target="_blank">学校概况</a>
                                    <div class="two-nav">
                                        <a href="xxjj.html" title="学校简介" target="_blank">学校简介</a>
                                     
                                        <a href="xxzc.html" title="学校章程" target="_blank">学校章程</a>
                                     
                                        <a href="cbr.html" title="创办人" target="_blank">创办人</a>
                                     
                                        <a href="xxld.html" title="学校领导" target="_blank">学校领导</a>
                                     
                                        <a href="zzjg.html" title="组织机构" target="_blank">组织机构</a>
                                     
                                        <a href="dsj.html" title="大事记" target="_blank">大事记</a>
                                     
                                        <a href="ssqh.html" title="数说泉海" target="_blank">数说泉海</a>
                                     
                                        <a href="xygh.html" title="校园规划" target="_blank">校园规划</a>
                                     
                                        <a href="sphy.html" title="光影海院" target="_blank">光影海院</a>
                                     
                                        <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="yxsz.html" title="院系设置" target="_blank">院系设置</a>
                                    <div class="two-nav">
                                        <a href="hhjtxy.html" title="航海交通学院" target="_blank">航海交通学院</a>
                                     
                                        <a href="hygc.html" title="海洋工程学院" target="_blank">海洋工程学院</a>
                                     
                                        <a href="xxgc.html" title="信息工程学院" target="_blank">信息工程学院</a>
                                     
                                        <a href="jjgl.html" title="经济管理学院" target="_blank">经济管理学院</a>
                                     
                                        <a href="ysty.html" title="艺术体育学院" target="_blank">艺术体育学院</a>
                                     
                                        <a href="gfjy.html" title="国防教育学院" target="_blank">国防教育学院</a>
                                     
                                        <a href="tsjy.html" title="通识教育学院" target="_blank">通识教育学院</a>
                                     
                                        <a href="my.html" title="马克思主义学院" target="_blank">马克思主义学院</a>
                                     
                                        <a href="ytfc.html" title="游艇帆船学院" target="_blank">游艇帆船学院</a>
                                     
                                        <a href="scxy.html" title="三创学院" target="_blank">三创学院</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="index2.html" title="招生信息" target="_blank">招生信息</a>
                                
                                </li>
                                <li>
                                    <a href="xygk.html" title="技能培训" target="_blank">技能培训</a>
                                    <div class="two-nav">
                                        <a href="chuanyuan.html" title="船员培训学院" target="_blank">船员培训学院</a>
                                     
                                        <a href="jxjy.html" title="继续教育学院" target="_blank">继续教育学院</a>
                                     
                                        <a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养" target="_blank">国际海洋工程人才培养</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="jwc.html" title="教育教学" target="_blank">教育教学</a>
                                
                                </li>
                                <li>
                                    <a href="dwhz.html" title="交流合作" target="_blank">交流合作</a>
                                
                                </li>
                                <li>
                                    <a href="rczp.html" title="招贤纳才" target="_blank">招贤纳才</a>
                                
                                </li>
                                <li>
                                    <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                
                                </li>
                                                              <div class="searchbtn"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mp">
            <div class="container">
                <div class="clearfix">
                    <div class="logo">
<a href="index1.html"><img src="static/picture/logo1.png" alt=""></a></div>
                    <div class="header-mp-right">
                        <li class="searchbtn"></li>
                        <div class="move_nav">
                            <div class="move_menu" id="smenu"><a class="thuicon-menu menuicon"></a></div>
                        </div>
                    </div>
                    <div class="move_navBox" style="display: none;">
                        <div class="move_navShow">
                        <div class="mp_dblj"><div class="clearfix">    <a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank">校长邮箱</a>
<a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank">书记邮箱</a>
<a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank">一站式办事大厅</a>
<a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank">图书馆</a>
<a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank">就业创业</a>
</div></div>
                          
  <ul id="move_nav">
                                                              <li><p><a href="index1.html" title="首页">首页</a>  </p>
                                 
                                </li>                                <li><p><a href="xxjj.html" title="学校概况">学校概况</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="xxjj.html" title="学校简介">学校简介</a></li>
                                          <li class="col-xs-6"><a href="xxzc.html" title="学校章程">学校章程</a></li>
                                          <li class="col-xs-6"><a href="cbr.html" title="创办人">创办人</a></li>
                                          <li class="col-xs-6"><a href="xxld.html" title="学校领导">学校领导</a></li>
                                          <li class="col-xs-6"><a href="zzjg.html" title="组织机构">组织机构</a></li>
                                          <li class="col-xs-6"><a href="dsj.html" title="大事记">大事记</a></li>
                                          <li class="col-xs-6"><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
                                          <li class="col-xs-6"><a href="xygh.html" title="校园规划">校园规划</a></li>
                                          <li class="col-xs-6"><a href="sphy.html" title="光影海院">光影海院</a></li>
                                          <li class="col-xs-6"><a href="lxwm.html" title="联系我们">联系我们</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="yxsz.html" title="院系设置">院系设置</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="hhjtxy.html" title="航海交通学院">航海交通学院</a></li>
                                          <li class="col-xs-6"><a href="hygc.html" title="海洋工程学院">海洋工程学院</a></li>
                                          <li class="col-xs-6"><a href="xxgc.html" title="信息工程学院">信息工程学院</a></li>
                                          <li class="col-xs-6"><a href="jjgl.html" title="经济管理学院">经济管理学院</a></li>
                                          <li class="col-xs-6"><a href="ysty.html" title="艺术体育学院">艺术体育学院</a></li>
                                          <li class="col-xs-6"><a href="gfjy.html" title="国防教育学院">国防教育学院</a></li>
                                          <li class="col-xs-6"><a href="tsjy.html" title="通识教育学院">通识教育学院</a></li>
                                          <li class="col-xs-6"><a href="my.html" title="马克思主义学院">马克思主义学院</a></li>
                                          <li class="col-xs-6"><a href="ytfc.html" title="游艇帆船学院">游艇帆船学院</a></li>
                                          <li class="col-xs-6"><a href="scxy.html" title="三创学院">三创学院</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="index2.html" title="招生信息">招生信息</a>  </p>
                                 
                                </li>                                <li><p><a href="xygk.html" title="技能培训">技能培训</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="chuanyuan.html" title="船员培训学院">船员培训学院</a></li>
                                          <li class="col-xs-6"><a href="jxjy.html" title="继续教育学院">继续教育学院</a></li>
                                          <li class="col-xs-6"><a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养">国际海洋工程人才培养</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="jwc.html" title="教育教学">教育教学</a>  </p>
                                 
                                </li>                                <li><p><a href="dwhz.html" title="交流合作">交流合作</a>  </p>
                                 
                                </li>                                <li><p><a href="rczp.html" title="招贤纳才">招贤纳才</a>  </p>
                                 
                                </li>                                <li><p><a href="lxwm.html" title="联系我们">联系我们</a>  </p>
                                 
                                </li>
                                                         </ul>
                        </div>
                    </div>
                    <script>
                        $(".menuicon").click(function(){
                            $(".move_navBox").slideToggle();
                            $(this).toggleClass("closeNav")
                        })
                        $(".column i").click(function(){
                            $(".move_navShow").slideToggle();
                        })
                        $(".zkicon").click(function(){
                            $(this).parent().next().slideToggle();
                            $(this).toggleClass("sqicon");
                        })
                        $(".am-btn-red").click(function(){
                            $(".searchBox").slideToggle();
                            $(this).children().toggleClass("closeSearch");
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_page1 ab">
      <img src="static/picture/ny_banner4.png">
    </div>
    <div class="pcejdh">
        <div class="cw dqdh">
            <div class="ny_tit">
大事记</div>
            <div class="dqwz flex">
                <span>您当前位置:
                         
                        <a href="index1.html">首页</a>
                -
                <a href="xxjj.html">学校概况</a>
                -
                <a href="dsj.html">大事记</a>
                -
                正文

</span>
            </div>
            <div class="ny_ejdh flex">
                <ul class="n_erji aos-init">
                   
 <li><a href="xxjj.html" title="学校简介">学校简介</a></li>
 <li><a href="xxzc.html" title="学校章程">学校章程</a></li>
 <li><a href="cbr.html" title="创办人">创办人</a></li>
 <li><a href="xxld.html" title="学校领导">学校领导</a></li>
 <li><a href="zzjg.html" title="组织机构">组织机构</a></li>
 <li class="on"><a href="dsj.html" title="大事记">大事记</a></li>
 <li><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
 <li><a href="xygh.html" title="校园规划">校园规划</a></li>
 <li><a href="sphy.html" title="光影海院">光影海院</a></li>
 <li><a href="lxwm.html" title="联系我们">联系我们</a></li>


                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="cw">
        <div class="new-cont">
       <div class="clearfix">
          

<script language="javascript" src="static/js/NewsvoteDWR.js"></script><script language="javascript" src="static/js/engine.js"></script><script language="javascript" src="static/js/newscontent.js"></script><script language="javascript" src="static/js/ajax.js"></script>  <h2>2016年大事记</h2>
            <div class="cont-tit">
                <span class="flex">作者:  </span>
                <span class="flex"> 发布时间: 2016-10-27</span>
                <span class="flex">浏览次数: <script>_showDynClicks("wbnews", 1916776078, 9191)</script></span>
            </div>
            <div class="article">
              
   
    <div id="vsb_content"><div class="v_news_content">
<div class="content_main content_history_detail">
				<p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	1.林华东院长率团参访嘉泰集团共商校企合作<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="1" day="5" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">1</span>月<span lang="EN-US">5</span>日</st1:chsdate>，在院长林华东教授、院长助理郑文谦老师带队下，我院交流参访团一行<span lang="EN-US">7</span>人赴福建嘉泰集团展开交流学习，受到了嘉泰集团董事长苏亚帅、副总裁李水才、运营中心总监王海明等企业领导的热情接待。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	2.泉州晚报<span lang="EN-US">--</span>在泉筹建“福建海洋学院”<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	2016年<span lang="EN-US">1</span>月初，省政协委员马照南、骆沙鸣提交了《关于筹建“福建海洋学院”本科高职教育的建议》，马照南、骆沙鸣建议，以泉州市为主要办学地，在“泉州海洋职业学院”基础上筹建“福建海洋学院”。人民网、光明网、中国网纷纷转载《在泉筹建“福建海洋学院”》一文。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	3.中国船舶工业公司一行来我院参访考察<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="1" day="8" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">1</span>月<span lang="EN-US">8</span>日</st1:chsdate>，我院原院长程文忠教授、衫达工学院院长葛康教授、江南造船集团职业技术学院副校长郑永佳先生等带领中国船舶工业集团公司代表团一行来访我院。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	4.中文导游讲解王梦钰同学在福建省职业院校技能大赛获得三等奖<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	5.中海油服泛太平洋钻井有限公司总裁一行莅临我院参观考察<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="1" day="8" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">1</span>月<span lang="EN-US">8</span>日</st1:chsdate>，在我院董事会蔡天真主席的陪同下，中海油服泛太平洋钻井有限公司金庆勇董事长莅临我院参观考察。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	6.石狮市市委书记朱启平一行莅临我院视察<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="2" day="25" islunardate="False" isrocdate="False" w:st="on">2月<span lang="EN-US">25</span>日</st1:chsdate>下午，石狮市市委书记朱启平在石狮市常务副市长刘德旺、教育局局长李怀忠先生等陪同下莅临我校视察指导。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	7.我院获选福建省首批现代学徒制试点项目单位<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	2月底，福建省教育厅下发《福建省教育厅关于开展现代学徒制项目试点工作的通知》，我院申报的“以现代学徒制模式培养涉海专业人才”项目成功入选福建省首批现代学徒制试点项目，成为省内首批成功获选的<span lang="EN-US">15</span>所高职院校之一。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	8.中国教育报——泉州海洋职业学院：在感恩中磨练职业品质<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	9.大连海昌集团领导来我院参观考察<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="3" day="2" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">3</span>月<span lang="EN-US">2</span>日</st1:chsdate>，大连海昌集团董事局副主席龚琳、副总裁张田晨、原大连市教育局长王允庆一行来我院考察访问。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	10.林华东院长率团参访佳乐科技集团，探讨建立“二元制”人才培养模式<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	近日，在院长<st1:personname productid="林华东" w:st="on">林华东</st1:personname>教授、院长助理<st1:personname productid="郑文谦" w:st="on">郑文谦</st1:personname>老师带队下，我院交流参访团一行<span lang="EN-US">6</span>人赴佳乐科技集团展开合作交流，<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11.福建省教育厅副厅长曾能建一行莅临我院调研<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="3" day="11" islunardate="False" isrocdate="False" w:st="on">3月<span lang="EN-US">11</span>日</st1:chsdate>，福建省教育厅党组成员、副厅长曾能建、发展规划处处长吴吓凤等一行莅临我院调研。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	12.我院五个新增专业全部获批<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	3月中旬，教育部公布了《关于<span lang="EN-US">2016</span>年普通高等学校高等职业教育专业设置备案和审批结果的通知》，我院申报的海洋工程技术、船舶检验、移动互联网应用技术、财务管理、艺术设计等全部获批。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	13，我院喜获海洋渔业船员一级培训机构资质<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="4" day="4" islunardate="False" isrocdate="False" w:st="on">4月<span lang="EN-US">4</span>日</st1:chsdate>，经过半年多的筹备和申请，我院获得了海洋渔业船员一级培训机构资质，并正式获得福建省海洋与渔业厅备案，成为石狮市唯一一个获得该资质的渔业船员培训机构。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	14.<st1:chsdate year="2016" month="4" day="13" islunardate="False" isrocdate="False" w:st="on">2016<span lang="EN-US"><span lang="EN-US">年4</span></span><span lang="EN-US"><span lang="EN-US">月13</span></span><span lang="EN-US"><span lang="EN-US">日</span></span></st1:chsdate><span lang="EN-US">，<span lang="EN-US">我院7</span></span>名学生获得<span lang="EN-US">2015</span>年度福建省船员服务行业协会“云帆”奖学金<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	15.我院学生在<span lang="EN-US">2016</span>年福建省职业院校技能大赛中斩获两项三等奖<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	2016年<span lang="EN-US">4</span>月中旬，我院汽修<span lang="EN-US">141</span>班刘荣生、李景皇同学（指导老师：吴丽娇老师）在汽车营销项目中荣获三等奖；旅游管理<span lang="EN-US">141</span>班王梦钰同学（指导老师：潘思恒老师）在导游服务（中文）项目斩获三等奖。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	16.我院成功获批福建省首批“二元制”技术技能人才培养改革试点项目<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="4" day="20" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">4</span>月<span lang="EN-US">20</span>日</st1:chsdate>，福建省教育厅公布了第二批现代学徒制项目建设学校暨首批“二元制”技术技能人才培养模式改革试点项目学校名单。我院与厦门华洋海事有限公司联合申报的国际邮轮乘务管理专业“二元制”技术技能人才培养模式改革试点项目成功获批，成为福建省内<span lang="EN-US">25</span>所、泉州<span lang="EN-US">5</span>所获批的职业院校之一。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	17.我院与泉州工商旅游学校、南安红星职专签订五年专联合办学协议<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	泉州海洋学院院长、党委书记<st1:personname productid="林华东" w:st="on">林华东</st1:personname>教授与厦门中海航集团赵增旭总经理分别代表双方共同签署了校企共建“高速铁路客运乘务”专业的合作协议。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	18.弘扬工匠精神，打造技能强校——泉州海洋职业学院举办<span lang="EN-US">2016</span>年职业教育活动周活动<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="5" day="9" islunardate="False" isrocdate="False" w:st="on">5月<span lang="EN-US">9</span>日</st1:chsdate>，我院在实训大楼举行了主题为“弘扬工匠精神，打造技能强校”的“职业教育活动周”启动仪式。启动仪式当天，石狮市海洋生物科技园区、祥芝边防派出所、厦门华洋海事有限公司、泉州永顺船舶有限公司、南安红星职业中专学校、泉州工商旅游学校等多个企事业单位代表及蚶江实验小学<span lang="EN-US">300</span>多个师生应邀到学院参观。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	19.我院顺利通过船员教育和培训质量管理体系换证审核<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="5" day="31" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">5</span>月<span lang="EN-US">31</span>日</st1:chsdate>—<st1:chsdate year="2016" month="6" day="3" islunardate="False" isrocdate="False" w:st="on"><span lang="EN-US">6</span>月<span lang="EN-US">3</span>日</st1:chsdate>，以福建海事局副局长宋剑华为组长的审核组专家对我院船员教育和培训质量管理体系进行了换证审核。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	20.学院喜获“石狮市<span lang="EN-US">2013</span>～<span lang="EN-US">2015</span>年度文明学校”称号<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	2016年<span lang="EN-US">6</span>月初，中共石狮市委、石狮市人民政府公布《关于表彰<span lang="EN-US">2013</span>～<span lang="EN-US">2015</span>年度精神文明建设先进集体和先进个人的通报》的通知，泉州海洋职业学院获得石狮市<span lang="EN-US">2013</span>～<span lang="EN-US">2015</span>年度文明学校，该荣誉的获得是对我院近年来在精神文明建设上的肯定，也为我院继续向创建泉州市文明学校乃至福建省文明学校的目标迈进奠定了坚实的基础。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	21.我院学生在泉州首届“兰研杯”大学女生职场形象设计大赛喜获佳绩<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="6" day="21" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">6</span>月<span lang="EN-US">21</span>日</st1:chsdate>，泉州首届“兰研杯”大学女生职场形象设计大赛顺利落下帷幕，经过两个多月的层层筛选，从大泉州地区的十余所高校中评选出二十多名优秀选手进入总决赛，来自泉州海洋学院的五名选手们闯进了本次决赛，并有三名选手喜获前六。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<o:p>&nbsp;</o:p></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	22.闽南师范大学党委书记林晓峰一行莅临我院交流访问<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="7" day="4" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">7</span>月<span lang="EN-US">4</span>日</st1:chsdate>上午，闽南师范大学党委书记、福建省闽南文化研究会会长林晓峰先生与闽南师范大学学报主编、福建省闽南文化研究会副会长郑镛先生一行莅临我院交流访问。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	23.我院党委喜获“泉州市市直教育系统先进基层党组织”称号<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="7" day="10" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">7</span>月<span lang="EN-US">10</span>日</st1:chsdate>，中共泉州市委教育工作委员会公布《中共泉州市委教育工委关于表彰市直教育系统优秀共产党员、优秀党务工作者和先进基层党组织的决定》的通知，中共泉州海洋职业学院委员会被表彰为“泉州市市直教育系统先进基层党组织”<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	24.福建省教育工委副书记刘剑津莅临我院检查指导工作<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="7" day="16" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">7</span>月<span lang="EN-US">16</span>日</st1:chsdate>上午，福建省委教育工委副书记、省教育厅党组成员刘剑津莅临我院检查指导工作，石狮市教育局局长周拥护、泉州海洋学院党委副书记董清海陪同了考察。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	25.我校举行正大门（北大门）揭牌仪式<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<st1:chsdate year="2016" month="7" day="20" islunardate="False" isrocdate="False" w:st="on">2016年<span lang="EN-US">7</span>月<span lang="EN-US">20</span>日</st1:chsdate>（农历六月十七）上午<span lang="EN-US">6</span>时<span lang="EN-US">15</span>分，泉州海洋学院正大门（北大门）揭牌仪式隆重举行。学校创办人、董事长蔡天真先生和校长、党委书记林华东教授在热烈的掌声中共同为泉州海洋学院揭开校牌。<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	26.全国船员教育培训质量管理体系高级研修班在泉召开<span lang="EN-US"><o:p></o:p></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	全国航海类专业指导委员会于<span lang="EN-US">2016</span>年<span lang="EN-US">7</span>月<span lang="EN-US">23-25</span>日在石狮举办“船员教育培训质量管理体系”高级研修班，培训班由泉州海洋职业学院承办。来自全国<span lang="EN-US">15</span>个省份的<span lang="EN-US">26</span>所交通职业院校<span lang="EN-US">52</span>名质量管理体系办公室负责人参加研修班。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	27、<span style="line-height:20pt;text-indent:22pt;font-family:宋体;">我院迎来了</span><span style="line-height:20pt;text-indent:22pt;">2016</span><span style="line-height:20pt;text-indent:22pt;font-family:宋体;">级新生报到。</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;font-family:宋体;">9月3日—5日，我院迎来了2016级新生报到，为了以崭新的面貌，迎接新学期及新生的到来，确保开学初各项后勤工作的稳定、顺畅、有序，学院对水、电、木、墙等设备设施进行检查和维修，使所有新生在到校之际享受到优美、温馨、舒适、安全的校园环境。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	28、<span style="line-height:20pt;text-indent:22pt;font-family:宋体;">我院后勤处践行</span><span style="line-height:20pt;text-indent:22pt;">“两学一做”，打造“马上就办”宿舍维修点。</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">9月3日新生报道日开始，后勤处联合学生第三党支部在各宿舍楼设立“两学一做，马上就办”宿舍维修点，及时有效地解决了宿舍修缮问题。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	29、<span style="line-height:20pt;text-indent:22pt;">泉州市教育局副调研员谢细财带领检查组来到我校检查指导期初开学各项工作。</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">9月6日，泉州市教育局副调研员谢细财带领检查组来到我校检查指导期初开学各项工作。林华东院长等学院领导接待了检查组。<br></span> </p><p class="MsoNormal">
	<o:p></o:p></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	30、<span style="line-height:20pt;text-indent:22pt;">我院创新学生食堂供餐管理模式</span><br><o:p></o:p></p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">我院创新学生食堂供餐管理模式，深入推进学生营养改善计划的重要举措得到石狮日报、福建省教育厅等校外媒体的报道和转载。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	31、<span style="line-height:20pt;text-indent:22pt;">学院举行庆祝第</span><span style="line-height:20pt;text-indent:22pt;">32</span><span style="line-height:20pt;text-indent:22pt;">个教师节暨先进表彰大会。</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">&nbsp;2016年9月9日学院举行庆祝第32个教师节暨先进表彰大会，会议表彰了我院2015-2016学年‘优秀教师’、‘先进教育工作者’、‘先进集体’等。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	32、<span style="line-height:20pt;text-indent:22pt;">学院召开新学期全体教职工大会</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">2016年9月9日学院召开新学期全体教职工大会，院长、党委书记林华东教授在大会上发表题为“大学的存在与我们的使命”的重要讲话。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	33、<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">学院召开</span><span style="line-height:20pt;text-indent:22pt;">2016</span><span style="line-height:20pt;text-indent:22pt;">级新生开学典礼暨军训阅兵大会</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">2016年9月18日学院2016级近千名新生在学院北大门海丝文化广场举行“2016级新生开学典礼暨军训阅兵大会”。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	34、我院举行<span style="line-height:20pt;text-indent:22pt;">“一见倾心 活力海洋”主题迎新晚会</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">2016年9月18日晚，我院“一见倾心 活力海洋”主题迎新晚会在学院北大门广场拉开帷幕。学院领导老师与新老生共千余人到场观看。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	35、省高校创业就业工作专项督查调研组一行莅临我院检查指导工作。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	9月27日，省教育厅学生处处长谢友平带领省高校创业就业工作专项督查调研组一行莅临我院检查指导工作。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	36、我院顺利通过了海事局船员培训质量评价管理检查</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	9月30日福建海事局莅临我院开展船员培训质量评价管理活动，经过一系列检查评定，我院顺利通过了海事局此次评定活动，并获得良好的评价。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	37、我院召开2016年教师等专业技术职务评聘会议</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	10月12日我院2016年教师等专业技术职务评聘会议圆满召开，本次共有12名教师顺利通过学院初、中、高级专业技术职务评聘。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	38、闽南师范大学校长李进金教授一行莅临我院考察访问。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	10月14日闽南师范大学校长李进金教授、研究生处处长张晓松教授等一行三人莅临我院考察访问。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	39、<span style="line-height:20pt;text-indent:22pt;">学院召开党委扩大会暨两学一做专题会议</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">10月19日学院召开党委扩大会暨两学一做专题会议，全体党委委员、党支部书记及党委组织部负责人参加会议。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	40、2016高雅艺术进校园——走进泉海”文艺晚会在我院北大门广场盛大开幕</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	10月23日由福建省教育厅、福建省文化厅共同主办、泉州海洋学院承办的“2016高雅艺术进校园——走进泉海”文艺晚会在我院北大门广场盛大开幕，华侨大学学生艺术团110名学生来校为我院师生带来十分精彩的文艺汇演。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	41、<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">德国大型船舶管理公司“Hammonia”公司董事总经理Rene Menzel船长莅临我院洽谈校企合作。</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">10月25日德国大型船舶管理公司“Hammonia”公司董事总经理Rene Menzel船长在中国船舶（香港）航运租赁公司何芳女士和泰山石油（新加坡）有限公司蔡明星先生的陪同下莅临我院洽谈校企合作。双方于2016年12月23日已正式签署国际船员外派劳务公司及合作培训正式合同。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	42、<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">我校林华东院长荣获全国优秀社科普及专家荣誉称号</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">2016年10月24日-25日，全国第十八次社会科学普及工作经验交流会在长沙召开。我校林华东教授荣获全国优秀社科普及专家荣誉称号。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	43、<span style="line-height:20pt;text-indent:22pt;font-family:宋体;">林华东院长出席</span><span style="line-height:20pt;text-indent:22pt;">2016</span><span style="line-height:20pt;text-indent:22pt;font-family:宋体;">世界闽南文化节开幕式</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;font-family:宋体;">2016世界闽南文化节10月27日在马来西亚马六甲正式开幕，我院林华东院长作为特邀代表出席开幕式，并在“闽南文化与海丝文化论坛”上做《利益驱动，互惠共赢——海上丝路的文化阐释》的专题演讲。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	44、<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">我</span><span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">院与克兰菲尔德大学高层正式签署全面战略合作协议</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:26.6667px;text-indent:29.3333px;background-color:#FFFFFF;">10月28日蔡天真董事长受邀前往英国顶尖高等学府——克兰菲尔德大学访问，并代表泉州海洋学院与克兰菲尔德大学高层正式签署全面战略合作协议。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	45、<span style="line-height:20pt;text-indent:22pt;">我院举办第三届运动会</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">11月3日我院第三届运动会在学院田径场和游泳池如期举办，经过激烈角逐，航海系2016级代表队获团体总分第一名，航海系2015级代表队、轮机系2016级分获团体总分的第二、三名。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	46、<span style="line-height:20pt;text-indent:22pt;">学院召开全体党员大会，集中学习传达十八届六中全会精神</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">11月8日学院召开全体党员大会，集中学习传达十八届六中全会精神。林华东书记带领全体党员学习了《中国共产党第十八届中央委员会第六次全体会议公报》，并对六中全会公报十二个关键词进行了详细的解读。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	47、石狮市人力资源与社会保障局廖闽欣局长等莅临我院考察调研</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11月9日，石狮市人力资源与社会保障局廖闽欣局长、王翌壮副局长莅临我院，对我院就业创业工作的开展情况进行深入调研。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	48、学院林华东院长带领全体院领导慰问我院福州教学实践基地学生</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11月10日学院林华东院长带领全体院领导及相关职能部门负责人赴位于福建师范大学仓山校区的福州教学实践基地，慰问在那就读的我院2016级工商管理和旅游管理专业的同学们。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	49、我院进行第十七届人大代表换届选举</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11月17日我院作为石狮市第七届、祥芝镇第十七届人大代表换届选举选区工作组之一，在学院行政办公楼三楼组织换届选举工作。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	50、我院开展2016年高雅艺术进校园活动——“聆听京剧经典，体味国粹精华”</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11月18日由福建省教育厅、福建省文化厅和福建省财政厅联合主办的2016年高雅艺术进校园活动——“聆听京剧经典，体味国粹精华”演出在学院多功能报告厅举行。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	51、我院参展泉州市2016年大学生创新创意作品大赛作品展。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11月22日我院参展工作小组在学院副院长吴广华教授的带领下赴泉州信息学院参加由泉州市教育局、发改委、人社局、科技局、科协等单位主办的泉州市2016年大学生创新创意作品大赛作品展。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	52、“航空实训模拟舱”正式落成完工并投入使用。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	11月25日由我院与东方领航教育集团共同投资建造的“航空实训模拟舱”正式在学院轮机实训中心一楼落成完工并投入使用。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	53、我院学子在2017年福建省职业技能竞赛中佳绩频传</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	截至11月28日，我院人文系学子在2017年福建省职业技能竞赛中大放异彩，佳绩频传，在导游服务和西餐宴会服务两个赛项中斩获1个二等奖和4个三等奖。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	54、荣氏教育集团荣智丰董事长莅校参观考察</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	12月7日，荣氏教育集团荣智丰董事长一行五人莅临我校参观考察，蔡天真董事长、林华东院长等领导热情地接见了来访贵宾。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	55、首届“永莉奖学金”评审会</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	12月8日，我院在学院行政楼会议室举行首届“永莉奖学金”评审会，蔡天真董事长亲临评审会现场。林华东院长等学院全体院领导及党政办、学生处、教务处等相关部门负责人参加评审会。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	56、世界特种船舶展示厅正式建设完工</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	12月10日由学院董事长蔡天真先生亲自参与策划和建设的世界特种船舶展示厅在学院行政楼一楼正式建设完工。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	57、2016年教职工“迎新年”中长跑比赛活动</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	&nbsp;12月15日，学院工会联合体育运动委员会在校内田径运动场举办2016年教职工“迎新年”中长跑比赛活动。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	58、践行“两学一做”，传播精神文明新风尚</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	12月22日，为践行“两学一做”，传播精神文明新风尚，我院机关党支部和学院文明办公室联合将之前获得的学院奖励800元捐献给2015级表演艺术专业张东凤同学。</p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	59、<span style="line-height:20pt;text-indent:22pt;">民航服务礼仪课程考核模式</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">12月22日，我院2015级空乘专业学生在新投入使用的航空模拟舱进行分组民航服务礼仪技能仿真演练，大胆创新民航服务礼仪课程考核模式。<br></span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	60、<span style="line-height:20pt;text-indent:22pt;">泉州海洋学院首届学生美术手工作品展</span> </p><p class="MsoNormal" style="text-align:left;text-indent:22pt;line-height:20pt;word-break:break-all;background:white;">
	<span style="line-height:20pt;text-indent:22pt;">12月26日，我院艺术体育系在行政楼一楼海洋文化厅举办为期一周的”泉州海洋学院首届学生美术手工作品展”，</span> </p>			</div>
</div></div><div id="div_vote_id"></div>
      
    
    </div>
<div class="cw">
            <div class="pages">
                 <p><a href="9211.html"><span class="aline_w"> 上一篇：2017年大事记 </span> </a></p>    
                 <p><a href="9181.html"><span class="aline_w">下一篇：2015年大事记</span></a></p>    
            </div>  </div>  


          </div>
    </div>
     </div>
    <div class="bq ny_bq">
        <div class="cw">
            <div class="f_logo">
                    
 <img src="static/picture/logo1.png">

                        </div>
                        <div class="bqwz">
                            <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>Copyright © 2016-2023 泉州海洋职业学院 版权所有<br><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备09021863号-1</a> <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank">闽公网安备 35058102000172号</a> &nbsp; 违法和不良信息举报中心</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--搜索开始-->
    <div class="searchbox" frag="窗口103" portletmode="search">
        <div class="search_bg"></div>
        <span class="close">X</span>
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><div class="ss_form">
<style>
    #appu13 .qwss{
        height: 45px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu13 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 45px;
        border: 0;
        border-radius: 2px;
        background-color: #2454a6;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu13"></div>
<script type="text/html" id="htmlu13">
    <div id="appu13">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="全文搜索" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"  />
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu13").html($("#htmlu13").text());
</script>
<script>
    var appOwner = "1916776078";
    var token =gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu13",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div>
    </div>
    <script type="text/javascript" src="static/js/search.js"></script>
    <!--搜索结束-->


<script src="static/js/swiper.min.js"></script>

</body>
</html>
