<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="force-rendering" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="”pragma”" content="”no-cache”">
    <meta http-equiv="”cache-control”" content="”no-cache”">
    <meta http-equiv="”expires”" content="”0″">
    <title>2017年大事记-泉州海洋学院——统招全日制高等院校</title><meta name="pageType" content="3">
<meta name="pageTitle" content="2017年大事记">
<meta name="keywords" content="泉州海洋学院——统招全日制高等院校,大事记,2017年大事记">
<meta name="description" content="2017年大事记				发布时间：2017-04-26 10:17						1、泉州海洋学院举行首届“永莉奖学金”颁奖大会 	　　2017年1月4日,泉州海洋学院召开首届“永莉奖学金”颁奖大会。学院副院长吴广华教授高声宣...">

    <link href="static/css/public.css" rel="stylesheet" type="text/css">
    <link href="static/css/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/banner.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/pic_lbqh.css">
    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/pub1.js" type="text/javascript"></script>
  <!--[if lt IE 10]>
    <script type="text/javascript">
        var str = " 您的浏览器低于ie9，请升级到ie9以上版本:(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#888;height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d1.css">
<script language="javascript" src="static/js/_sitegray1.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/content.vsb.css">
<script type="text/javascript" src="static/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1071,'/content.jsp',9211,1916776078)</script>
</head>
<body class="ls_body">
    <div class="header ny_header">
        <div class="top header-pc tu1">
            <div class="container flex">
                <div class="logo flex-v-center">
                    
 <a href="index1.html">
                        <img src="static/picture/logo1.png" alt="" class="imgMargin">
                       
                    </a>
                </div>
                <div class="pcnav fr">
                <div class="header-t flex-right">
                    <div style="display: flex;">
                         <script language="javascript" src="static/js/dynclicks.js"></script>   <li><a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank"><img src="static/picture/top_img2.png">校长邮箱</a></li>
   <li><a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank"><img src="static/picture/top_img3.png">书记邮箱</a></li>
   <li><a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank"><img src="static/picture/top_img4.png">一站式办事大厅</a></li>
   <li><a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank"><img src="static/picture/top_img5.png">图书馆</a></li>
   <li><a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank"><img src="static/picture/top_img6.png">就业创业</a></li>

                    </div>
                </div>
                    <div class="menubox">
                        <div class="nav flex-right">
                           
 <ul>
                                                             <li class="dhdqwz">
                                    <a href="index1.html" title="首页" target="_blank">首页</a>
                                
                                </li>
                                <li>
                                    <a href="xxjj.html" title="学校概况" target="_blank">学校概况</a>
                                    <div class="two-nav">
                                        <a href="xxjj.html" title="学校简介" target="_blank">学校简介</a>
                                     
                                        <a href="xxzc.html" title="学校章程" target="_blank">学校章程</a>
                                     
                                        <a href="cbr.html" title="创办人" target="_blank">创办人</a>
                                     
                                        <a href="xxld.html" title="学校领导" target="_blank">学校领导</a>
                                     
                                        <a href="zzjg.html" title="组织机构" target="_blank">组织机构</a>
                                     
                                        <a href="dsj.html" title="大事记" target="_blank">大事记</a>
                                     
                                        <a href="ssqh.html" title="数说泉海" target="_blank">数说泉海</a>
                                     
                                        <a href="xygh.html" title="校园规划" target="_blank">校园规划</a>
                                     
                                        <a href="sphy.html" title="光影海院" target="_blank">光影海院</a>
                                     
                                        <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="yxsz.html" title="院系设置" target="_blank">院系设置</a>
                                    <div class="two-nav">
                                        <a href="hhjtxy.html" title="航海交通学院" target="_blank">航海交通学院</a>
                                     
                                        <a href="hygc.html" title="海洋工程学院" target="_blank">海洋工程学院</a>
                                     
                                        <a href="xxgc.html" title="信息工程学院" target="_blank">信息工程学院</a>
                                     
                                        <a href="jjgl.html" title="经济管理学院" target="_blank">经济管理学院</a>
                                     
                                        <a href="ysty.html" title="艺术体育学院" target="_blank">艺术体育学院</a>
                                     
                                        <a href="gfjy.html" title="国防教育学院" target="_blank">国防教育学院</a>
                                     
                                        <a href="tsjy.html" title="通识教育学院" target="_blank">通识教育学院</a>
                                     
                                        <a href="my.html" title="马克思主义学院" target="_blank">马克思主义学院</a>
                                     
                                        <a href="ytfc.html" title="游艇帆船学院" target="_blank">游艇帆船学院</a>
                                     
                                        <a href="scxy.html" title="三创学院" target="_blank">三创学院</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="index2.html" title="招生信息" target="_blank">招生信息</a>
                                
                                </li>
                                <li>
                                    <a href="xygk.html" title="技能培训" target="_blank">技能培训</a>
                                    <div class="two-nav">
                                        <a href="chuanyuan.html" title="船员培训学院" target="_blank">船员培训学院</a>
                                     
                                        <a href="jxjy.html" title="继续教育学院" target="_blank">继续教育学院</a>
                                     
                                        <a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养" target="_blank">国际海洋工程人才培养</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="jwc.html" title="教育教学" target="_blank">教育教学</a>
                                
                                </li>
                                <li>
                                    <a href="dwhz.html" title="交流合作" target="_blank">交流合作</a>
                                
                                </li>
                                <li>
                                    <a href="rczp.html" title="招贤纳才" target="_blank">招贤纳才</a>
                                
                                </li>
                                <li>
                                    <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                
                                </li>
                                                              <div class="searchbtn"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mp">
            <div class="container">
                <div class="clearfix">
                    <div class="logo">
<a href="index1.html"><img src="static/picture/logo1.png" alt=""></a></div>
                    <div class="header-mp-right">
                        <li class="searchbtn"></li>
                        <div class="move_nav">
                            <div class="move_menu" id="smenu"><a class="thuicon-menu menuicon"></a></div>
                        </div>
                    </div>
                    <div class="move_navBox" style="display: none;">
                        <div class="move_navShow">
                        <div class="mp_dblj"><div class="clearfix">    <a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank">校长邮箱</a>
<a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank">书记邮箱</a>
<a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank">一站式办事大厅</a>
<a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank">图书馆</a>
<a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank">就业创业</a>
</div></div>
                          
  <ul id="move_nav">
                                                              <li><p><a href="index1.html" title="首页">首页</a>  </p>
                                 
                                </li>                                <li><p><a href="xxjj.html" title="学校概况">学校概况</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="xxjj.html" title="学校简介">学校简介</a></li>
                                          <li class="col-xs-6"><a href="xxzc.html" title="学校章程">学校章程</a></li>
                                          <li class="col-xs-6"><a href="cbr.html" title="创办人">创办人</a></li>
                                          <li class="col-xs-6"><a href="xxld.html" title="学校领导">学校领导</a></li>
                                          <li class="col-xs-6"><a href="zzjg.html" title="组织机构">组织机构</a></li>
                                          <li class="col-xs-6"><a href="dsj.html" title="大事记">大事记</a></li>
                                          <li class="col-xs-6"><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
                                          <li class="col-xs-6"><a href="xygh.html" title="校园规划">校园规划</a></li>
                                          <li class="col-xs-6"><a href="sphy.html" title="光影海院">光影海院</a></li>
                                          <li class="col-xs-6"><a href="lxwm.html" title="联系我们">联系我们</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="yxsz.html" title="院系设置">院系设置</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="hhjtxy.html" title="航海交通学院">航海交通学院</a></li>
                                          <li class="col-xs-6"><a href="hygc.html" title="海洋工程学院">海洋工程学院</a></li>
                                          <li class="col-xs-6"><a href="xxgc.html" title="信息工程学院">信息工程学院</a></li>
                                          <li class="col-xs-6"><a href="jjgl.html" title="经济管理学院">经济管理学院</a></li>
                                          <li class="col-xs-6"><a href="ysty.html" title="艺术体育学院">艺术体育学院</a></li>
                                          <li class="col-xs-6"><a href="gfjy.html" title="国防教育学院">国防教育学院</a></li>
                                          <li class="col-xs-6"><a href="tsjy.html" title="通识教育学院">通识教育学院</a></li>
                                          <li class="col-xs-6"><a href="my.html" title="马克思主义学院">马克思主义学院</a></li>
                                          <li class="col-xs-6"><a href="ytfc.html" title="游艇帆船学院">游艇帆船学院</a></li>
                                          <li class="col-xs-6"><a href="scxy.html" title="三创学院">三创学院</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="index2.html" title="招生信息">招生信息</a>  </p>
                                 
                                </li>                                <li><p><a href="xygk.html" title="技能培训">技能培训</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="chuanyuan.html" title="船员培训学院">船员培训学院</a></li>
                                          <li class="col-xs-6"><a href="jxjy.html" title="继续教育学院">继续教育学院</a></li>
                                          <li class="col-xs-6"><a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养">国际海洋工程人才培养</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="jwc.html" title="教育教学">教育教学</a>  </p>
                                 
                                </li>                                <li><p><a href="dwhz.html" title="交流合作">交流合作</a>  </p>
                                 
                                </li>                                <li><p><a href="rczp.html" title="招贤纳才">招贤纳才</a>  </p>
                                 
                                </li>                                <li><p><a href="lxwm.html" title="联系我们">联系我们</a>  </p>
                                 
                                </li>
                                                         </ul>
                        </div>
                    </div>
                    <script>
                        $(".menuicon").click(function(){
                            $(".move_navBox").slideToggle();
                            $(this).toggleClass("closeNav")
                        })
                        $(".column i").click(function(){
                            $(".move_navShow").slideToggle();
                        })
                        $(".zkicon").click(function(){
                            $(this).parent().next().slideToggle();
                            $(this).toggleClass("sqicon");
                        })
                        $(".am-btn-red").click(function(){
                            $(".searchBox").slideToggle();
                            $(this).children().toggleClass("closeSearch");
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_page1 ab">
      <img src="static/picture/ny_banner4.png">
    </div>
    <div class="pcejdh">
        <div class="cw dqdh">
            <div class="ny_tit">
大事记</div>
            <div class="dqwz flex">
                <span>您当前位置:
                         
                        <a href="index1.html">首页</a>
                -
                <a href="xxjj.html">学校概况</a>
                -
                <a href="dsj.html">大事记</a>
                -
                正文

</span>
            </div>
            <div class="ny_ejdh flex">
                <ul class="n_erji aos-init">
                   
 <li><a href="xxjj.html" title="学校简介">学校简介</a></li>
 <li><a href="xxzc.html" title="学校章程">学校章程</a></li>
 <li><a href="cbr.html" title="创办人">创办人</a></li>
 <li><a href="xxld.html" title="学校领导">学校领导</a></li>
 <li><a href="zzjg.html" title="组织机构">组织机构</a></li>
 <li class="on"><a href="dsj.html" title="大事记">大事记</a></li>
 <li><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
 <li><a href="xygh.html" title="校园规划">校园规划</a></li>
 <li><a href="sphy.html" title="光影海院">光影海院</a></li>
 <li><a href="lxwm.html" title="联系我们">联系我们</a></li>


                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="cw">
        <div class="new-cont">
       <div class="clearfix">
          

<script language="javascript" src="static/js/NewsvoteDWR.js"></script><script language="javascript" src="static/js/engine.js"></script><script language="javascript" src="static/js/newscontent.js"></script><script language="javascript" src="static/js/ajax.js"></script>  <h2>2017年大事记</h2>
            <div class="cont-tit">
                <span class="flex">作者:  </span>
                <span class="flex"> 发布时间: 2017-04-26</span>
                <span class="flex">浏览次数: <script>_showDynClicks("wbnews", 1916776078, 9211)</script></span>
            </div>
            <div class="article">
              
   
    <div id="vsb_content"><div class="v_news_content">
<div class="content_main content_history_detail"><span style="text-align: justify; text-indent: 0pt;">1、</span><strong style="text-align: justify; text-indent: 0pt;">泉州海洋学院举行首届</strong><strong style="text-align: justify; text-indent: 0pt;">“永莉奖学金”颁奖大会</strong><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年1月4日,泉州海洋学院召开首届“永莉奖学金”颁奖大会。学院副院长吴广华教授高声宣读学院表彰决定。46位获奖同学先后上台领奖并与颁奖嘉宾合影留念。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	2、<strong>我院首艘油轮实训船到达祥芝港</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年1月6日，我院油轮实训船从天津滨海新区码头出发，途经渤海、黄海、东海等海域，航行1150海里平安到达泉州祥芝港。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	3、<strong>公路行大船－我院</strong><strong>“育航”号实操船由祥芝港向学院进发</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年1月22日，我院购置的油轮实操船“育航号”从石狮宏泰船厂出阁，向学院迈进！现场采用传统绞缆的拖船方式从船厂途经石狮大道运行至学院水上训练基地。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	4、<strong>我院召开食品安全与传染病防控工作专题会议</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年2月20日，学院安全处牵头组织召开了传染病防控工作会议，会议由副院长赵山辉主持并作专题发言，教务处、学生处、安全处、后勤处、医务室、食堂、超市相关负责人参加会议。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	5、<strong>学院举行新学期首次升旗仪式</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年2月20日清晨六点半，学工处、全体辅导员、国旗仪仗队以及2015级和2016级学生穿着整齐的制服，列队参加新学期首次升旗仪式，共同迎接新学期的到来。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	6、<strong>全国文明村蓉中村致信我院</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年2月19日，全国文明村、全国民主法治示范村、全国扶贫先进单位——泉州南安市蓉中村致信学院林华东院长，在信中对学院的教育培养表示了感谢，并希望学校、家庭和社会能共同努力，帮助青少年更好的成长。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	7、<strong>学院举行</strong><strong>2017</strong><strong>春季全校工作大会</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年2月21日，我院在多功能报告厅召开泉州海洋学院2017春季全校工作大会，全院党政领导及教职工出席大会，大会由吴广华副院长主持。林华东院长在会上发表了题为“规范办学，服务社会，合力拼搏开新局”的重要讲话。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	8、<strong>学院召开文明修身动员大会，正式启动文明修身工程</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月1日，泉州海洋学院文明修身动员大会在我院国旗台前举行。学院党政领导、各部门负责人以及15.16级全体学生参加动员大会。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	9、<strong>林华东院长赴石狮市供电有限公司赠送锦旗</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月3日，学院院长林华东教授、渔民培训中心负责人张宝定专程拜访石狮市供电有限公司。林华东院长对石狮市供电有限公司给予学院的支持表示了感谢，并向该公司赠送了题为“情系教育 敬业惟宏”的锦旗。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	10、<strong>我院青年志愿者协会荣获石狮市最佳志愿服务组织</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月5日，石狮市举行“石狮红·志愿汇”2017年学雷锋志愿服务系列活动,我院青年志愿者协会获得“石狮市最佳志愿服务组织”。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	11、<strong>“育航号”实习船顺利抵达泉州海洋学院水上实训基地</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月10日经过40余天的努力，重达260吨的泉州海洋学院实操实习船“育航号”抵达学院水上实训基地。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	12、<strong>泉州海洋职业学院与德国大型船舶管理公司签署国际合作协议</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月14日，德国大型船舶管理公司Hammonia公司管理合伙人Rene Menzel船长、Peter Döhle Schiffahrts-KG总经理Roy Machart在中国船舶（香港）航运租赁公司何芳女士的陪同下莅临泉州海洋职业学院，并与学院就国际船员教育、培训及就业签署国际合作协议。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	13、<strong>学院</strong><strong>2017</strong><strong>年首期渔民基本安全培训正式开班</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月19日，石狮市2017年首期渔民安全培训在泉州海洋学院轮机实训中心开课，50余名社会渔民参加了此次培训。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	14、<strong>学院贵宾接待室正式落成</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月19日，经过两个多月的施工，位于学院行政服务楼一楼大厅的贵宾接待室正式落成，并开始投入使用。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	15、<strong>弘扬国学精粹，传承优秀传统</strong><strong>——我院基础部举办第二届“弟子规”演讲比赛</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月30日，由泉州海洋学院基础部主办的“弟子规”演讲比赛在学院2204多功能报告厅举行。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	16、<strong>我院举行</strong><strong>“缅怀革命先烈，支部携手弘扬爱国情怀” 主题教育活动</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年3月31日下午，怀着对逝者的无限追忆，航海系支部、轮机系党支部、人文系党支部、艺体系党支部与基础部党支部代表共三十余人联合祥芝边防派出所全员前往邱奕凯烈士墓，举行了“缅怀革命先烈，支部携手弘扬爱国情怀”主题教育活动。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	17、<strong>全国航海类专业就业工作协作组专家莅校指导毕业生工作</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年4月6日，全国航海类专业就业工作协作组秘书处专家在协作组秘书长、大连海事大学学生就业指导中心主任石丽红和副秘书长、交通运输部海事局人教处处长王路等的带领下莅校调研，并对我院航海类专业毕业生的就业工作进行了专业指导。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	18、<strong>石狮市武装部部长曹军平莅院指导国防教育基地建设</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年4月7日，石狮市武装部部长曹军平一行莅临学院实地考察，指导学院国防教育基地建设，并与学院董事长蔡天真先生亲切交谈。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	19、<strong>学院人文系召开首届团员、学生代表大会</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年4月18日下午，学院人文系第一届团员、学生代表大会在2204报告厅正式拉开帷幕。</p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	20、<strong>我院基</strong><strong>础部举行消防安全疏散演练</strong> </p><p class="MsoNormal" style="text-align:justify;margin-left:0.0000pt;text-indent:0.0000pt;">
	　　2017年4月20日，我院基础部组织2016级五年专全体学生开展了“消防安全疏散演练”活动。</p><p class="MsoNormal">
	21、<strong>学院召开首届大学生创新创业大赛筹备会议</strong> </p><p class="MsoNormal" style="text-indent:21.1000pt;">
	2017年4月20日，我院在行政楼大会议室召开了“首届大学生创新创业大赛”筹备会议。院长林华东教授、副院长吴广华教授、各系（部）主任以及相关部门领导参加了此次会议。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	22、<strong>泉州市物价局施国宾局长带队莅临我校参观调研</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	4月20日下午，泉州市物价局施国宾局长、王宗锋副局长带领相关人员莅临学院参观调研活动。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	23、<strong>一带一路”交集：新疆昌吉市社会创新管理考察团来校参观访问</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	近日，在新疆维吾尔自治区昌吉市公务员局局长黄兵先生与昌吉市红十字会会长潘晓红女士的带领下，新疆昌吉市社会创新管理考察团一行莅临学院参观考察。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	24、<strong>我院荣获“福建省征兵工作先进单位”称号</strong> </p><p class="MsoNormal" style="text-indent:21.2500pt;">
	4月26日, 省征兵办、省教育厅召开2017年全省大学生征兵工作视频会议。会上，福建省军区副参谋长、省征兵办主任林能秋宣读了《省征兵办关于表彰2016年高校征兵工作先进集体和先进个人的决定》，泉州海洋职业学院荣获2016年福建省征兵工作先进单位。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	25、<strong>我院团委举行五四表彰大会</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	2017年5月3日下午，我院团委在多功能报告厅隆重举行2017年五四表彰大会。林华东院长，赵山辉副院长，郑文谦研究员，林金良研究员等学院领导及各相关部门负责人出席大会。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	26、<strong>泉州市人民政府副市长洪自强莅临我院调研</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	5月4日，在泉州市科技局局长李文生、石狮市人民政府副市长张永安的陪同下，泉州市人民政府副市长洪自强莅临我院调研。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	27、<strong>陈火全博士来院开展创新创业专题讲座</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	5月4日晚，中国社会科学院博士后、泉州师范学院创新创业学院副院长陈火全教授受邀莅临我院，在学院多功能报告厅为我院师生举办了一场《信息经济时代大学生创新创业的道与术》专题讲座。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	28、<strong>泉州海洋学院在国内权威高职高专排行榜中位列我省第16名</strong> </p><p class="MsoNormal" style="text-indent:22.9500pt;">
	4月27日，广州日报数据和数字化研究院（GDI）发布“2017广州日报高职高专排行榜—TOP1000”,泉州海洋职业学院在全省院校中排名第16名（职场竞争力指数位列全省第8名），在全省民办职业院校中排名第一。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	29、<strong>学院召开党委扩大会议专题学习廖俊波同志先进事迹</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	5月5日，泉州海洋学院党委书记林华东主持召开党委扩大会议专题学习廖俊波同志先进事迹，并对全校学习活动进行研究部署。党委委员、党委工作部门负责人及各党支部书记参加会议。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	30、<strong>泉州海洋职业学院2017年职业教育活动周（月）活动拉开帷幕</strong> </p><p class="MsoNormal" style="text-indent:21.2500pt;">
	在全国第三届职业教育周活动期间，泉州海洋职业学院将5月8日-5月12日定为职教活动周，并进一步将5月份定为学院职业教育活动月。为此学院专门成立了以院长助理郑文谦研究员为组长、各相关部门负责人参与的职教周活动领导小组。5月8日，以“共筑职教梦 喜迎十九大”为主题的学院职业教育周（月）活动拉开帷幕。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	31、<strong>我院召开全校教学工作大会暨教学改革研讨会</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	5月12日，我院在大会议室召开全院教学工作大会暨教学改革研讨会，学院领导、各部门负责人及全体教师出席了会议。会议由吴广华副院长主持。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	32、<strong>林华东书记率党员干部赴政和县开展学习廖俊波同志精神主题活动</strong> </p><p class="MsoNormal">
	　　5月14日，根据学院党委“学习廖俊波 迎接十九大”的系列活动安排，林华东书记率学院党员干部一行19人赴政和县开展学习廖俊波同志精神主题活动。此次学习活动得到政和县委宣传部和县文化体育新闻出版局的大力支持。政和县委宣传部陈绍成副部长全程陪同。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	33、<strong>学院与厦门凤凰创壹公司签署校企合作协议</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	5月15日，学院与厦门凤凰创壹公司校企合作签约仪式在大会议室举行，学院林华东院长、吴广华副院长、赵山辉副院长、厦门凤凰创壹公司林庆平总经理以及我院各相关部门负责人参加签约仪式。林华东院长和林庆平总经理分别代表双方在校企合作协议上签字。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	34、<strong>我院成为福建省首家获取适任证书与合格证书知识更新培训项目的机构</strong> </p><p class="MsoNormal" style="text-indent:21.3000pt;">
	我院船员培训中心申报的适任证书与合格证书知识更新培训项目获交通运输部海事局审核通过，我院成为全省首家获批该项目的院校。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	35、<strong>泉州海洋产业技术创新高峰论坛在我院举办，泉州海洋产业创新研究院正式落户我院</strong> </p><p class="MsoNormal">
	　　5月20日上午，泉州海洋产业技术创新高峰论坛暨项目对接会在我院举办。来自中国科学院、厦门大学、四川大学、中国海洋大学、台湾海洋大学、大连海洋大学、福建农林大学、福建师范大学、集美大学、国家海洋局第三海洋研究所、深圳综合开发研究院、福建省水产研究所、泉州师范学院、泉州海洋学院等科研院所的专家学者，以及来自泉州市海洋产业技术创新联盟各成员单位的代表、泉州船东协会、泉州船员服务协会、泉州各地渔业协会的代表共二百余人受邀出席论坛。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	36、<strong>泉州海洋学院首届“互联网+”大学生创新创业大赛复赛圆满完成</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	6月14日晚，我院首届“互联网+”大学生创新创业大赛决赛在多功能报告厅举行。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	37、<strong>泉州海洋职业学院2017届毕业典礼隆重举行</strong> </p><p class="MsoNormal" style="text-indent:21.1000pt;">
	6月23日上午，我院2017届毕业典礼在多功能报告厅隆重举行。学院全体校领导、中层干部、各系教师代表、2017届全体毕业生以及在校生代表参加典礼。典礼由赵山辉副院长主持。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	38、<strong>国务院扶贫办在我院召开扶贫培训现场推进会</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	6月23日，国务院扶贫办召集福建、四川、安徽、河南、甘肃、宁夏等省区扶贫部门负责人在我院召开扶贫培训现场推进会，国务院扶贫办人力资源处处长周建文主持研讨会，各省与会代表围绕培训招生宣传、联系对接、政策支持、培训项目等方面展开研讨。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	39、<strong>我院今年五项福建省中青年教师教育科研项目顺利结题</strong> </p><p class="MsoNormal" style="text-indent:21.4000pt;">
	6月20日，福建省教育厅发布闽教科〔2017〕62号文件《福建省教育厅关于2017年度第一批中青年教师教育科研项目结题名单的通知》。通知中表示，经专家评审及省教育厅审核，李明灿老师的《泉州地区高校思想政治理论课多媒体教学效果研究》、黄建伟老师的《“北斗-海事”一体化终端在海洋渔业的运用》、梁小华老师的《11规划实施后轮机英语教学改革探究》、陈思园老师的《中国钢琴四手联弹作品&lt; 夔&gt;的演奏分析》、庄宗兰老师《泉州地区高校思想政治理论课网络媒体运用效果研究》等五个教育科研项目被确定为2017年度第一批福建省中青年教师教育科研项目结题项目。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	40、<strong>我院征兵工作站获表彰为2016年度全省征兵工作先进单位</strong> </p><p class="MsoNormal" style="text-indent:21.2000pt;">
	<span style="text-indent:28.5333px;">6月20日，</span>福建省人民政府征兵办公室发布闽征〔2017〕５号文件《表彰2016年度全省征兵工作先进单位和先进个人》，泉州海洋职业学院征兵工作站被确定为福建省征兵先进单位。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	41、<strong>学院与厦门开心上校餐饮公司签署食堂承包合作协议</strong> </p><p class="MsoNormal">
	　　7月5日，学院与厦门开心上校餐饮管理有限公司签署了为期三年的食堂承包合作协议，学院蔡天真董事长与厦门开心上校餐饮公司郑荣坤总经理在协议书上签字。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	42、<strong>我院成立膳食委员会，维护师生膳食权益</strong> </p><p class="MsoNormal">
	　　7月6日，为进一步提高食堂管理和服务水平，根据学院董事会办公会议及泉州海洋学院食堂承包经营合同，我院决定成立膳食委员会。膳食委员会由学院管理层代表、老师代表、学生代表、食堂承包方代表共同组成；</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	43、<strong>省教育厅正式批准我校成为福建省农民工 “求学圆梦行动”项目承办单位</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">7月10日，</span>福建省教育厅下发《关于公布福建省农民工“求学圆梦行动”项目单位名单的通知》（闽教职成〔2017〕37号），正式批准我校成为福建省农民工“求学圆梦行动”项目承办单位，此次我校申报的项目培养学校（高等学校）及项目培训基地（学校）双双获选。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	44、<strong>泉州海洋学院与台湾海洋大学签订学术交流合作备忘录</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	7月12日，泉州海洋学院与台湾海洋大学签署了学术交流合作备忘录。双方决定在教育、学术和科研等领域开展广泛、深入的合作。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	45、<strong>泉州海洋学院获福建省大学生“互联网＋” 创新创业大赛银奖</strong> </p><p class="MsoNormal" style="text-indent:21.1500pt;">
	8月2日，我院学生洪振业的“蓝店--LBS模式的快递信息管理平台”创新创业项目获得总分86分的佳绩，荣获本次大赛银奖，并获得铂欣资本500万元项目投资，是全省两所获银奖的高职院校之一，是民办高职院校唯一获奖者。此外，学院招就处张漫泓老师获得大赛优秀创新创业导师奖。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	46、<strong>泉州海洋学院17名毕业生被直招为部队士官</strong> </p><p class="MsoNormal" style="text-indent:21.1500pt;">
	我院共有17名毕业生被直招为部队士官，其中，海警8名，海军9名。17名海院学子将带着学院的重托，分批奔赴所在部队集训，开启军戎生涯。8月5日，学院党委书记兼院长林华东教授、副院长赵山辉老师、武装部部长苏良城老师及17名直招士官在大会议室举行2017届直招士官欢送大会。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	47、<strong>院长林华东教授出席金砖国家治国理政研讨会</strong> </p><p class="MsoNormal" style="text-indent:21.2000pt;">
	8月17日至18日，金砖国家治国理政研讨会在福建泉州开幕，我院院长林华东教授应邀出席大会。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	48、<strong>警校深度合作 创建平安校园</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	8月23日，在蔡天真董事长的积极推动下，学院与祥芝边防派出所就深度合作、共同打造平安校园达成一致。祥芝边防派出所将继续选派领导担任我院法制副院长，并在我校设立治安联防办公室，祥芝边防派出所还将协助我院建立健全安全管理制度，为我校安保人员的选拔和培训提供大力支持，并与我院联合开展安全教育、法制文化宣传教育等。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	49、<strong>我院获7项立项2017年福建省中青年教师教育科研项目</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">9月4日</span>，福建省教育厅公布了《福建省教育厅关于2017年福建省中青年教师教育科研项目立项的通知》的文件，我院阮凤彬老师申请的《泉州古民居建筑雕刻的美学研究》等4项社科类项目课题和陈东水老师申请的《锚泊船的风险评估-以泉州石胡港为例》等3项科技类项目全部获得省中青年教师教育科研项目立项。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	50、<strong>学院荣获2017年职业教育省级教学成果二等奖</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">9月11日，</span>福建省教育厅下发《福建省教育厅关于公布2017年省级教学成果奖获奖项目的通知》，我院院长林华东教授领衔申报的《“向海而生”的职业精神与人文素养“一体两翼”教育模式的探索与实践》（成果完成人：林华东 李明灿 赵山辉 苏良城 周甜）项目荣获2017年职业教育省级教学成果二等奖。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	51、<strong>学院举行2017级新生阅兵大会</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	9月13日上午，泉州海洋学院2017级新生军训阅兵大会在学院北大门海丝文化广场举行，学院全体党政领导及各系部负责人出席大会，大会由赵山辉副院长主持。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	52、<strong>学院隆重举行2017级新生开学典礼</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	9月12日晚，学院2017级新生开学典礼在北大门海丝广场隆重举行，林华东院长、吴广华副院长、赵山辉副院长、郑文谦院长助理及学院各部门负责领导出席典礼。典礼由党政办公室主任李明灿老师主持。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	53、<strong>福建省高校首个AR+steam教室落户我院</strong> </p><p class="MsoNormal" style="text-indent:21.5000pt;">
	<span style="text-indent:28px;">9月22日，</span>我院AR+steam教室项目顺利完成，该项目为我院科学技术协会申报立项，并列入“2017年石狮市十大科普教育基地提升计划”；AR+steam教室建设是我院董事会加大校园信息化建设又一举措、改革教学模式和现代化教学手段的一次尝试，同时也是福建省高校首创将AR技术运用到教学实际,后期我院将联合北极光虚拟视觉公司联合开发AR课程和教材。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	54、<strong>学院召开2018届毕业生就业动员大会</strong> </p><p class="MsoNormal" style="text-indent:21.2000pt;">
	<span style="text-indent:28px;">9月25日，</span>为更好地推进2018届毕业生的就业工作,我院在多功能报告厅召开了2018届毕业生就业动员大会，2018届全体同学参加了会议。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	55、<strong>学院正式启动校友会筹建工作</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">9月27日，</span>在蔡天真董事长的提议下，学院组织召开了校友会筹建工作会议，正式启动校友会筹建工作。会议由林华东院长主持召开，全体校领导及相关处室领导参加会议。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	56、<strong>献礼党的十九大：《典范引航 逐梦海洋》党建专集出炉</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	经过一个多月的紧张编辑，9月29日，由我校党委书记、院长林华东教授主编的《典范引航 逐梦海洋——学习廖俊波，建设新泉海，迎接十九大》党建心得正式结集付梓。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	57、<strong>我院举办第二轮人才培养评估迎评工作专题讲座</strong> </p><p class="MsoNormal" style="text-indent:21.2000pt;">
	10月11日下午，我院在2204室举行第二次人才培养评估迎评工作专题讲座，邀请泉州幼儿师范高等专科学校党委副书记、校长刘文开教授做评估演讲，全体院领导及教职工参加会议，吴广华副院长主持。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	58、<strong>泉海喜迎十九大 歌颂红歌献祖国</strong> </p><p class="MsoNormal">
	　　10月18日晚，为迎接党的十九大顺利召开，由泉州海洋学院校团委学生会主办的第三届合唱比赛在灯光篮球场举行。此次比赛旨在抒发全体同学爱国、爱党、爱校情怀，颂扬爱国主义精神，展现当代大学生朝气蓬勃、奋发进取的精神面貌。同时也丰富了同学们的课余生活，营造了一个积极向上的校园文化氛围。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	59、<strong>我院举办2018届毕业生双选会</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	为切实做好我院毕业生就业工作，大力构建毕业生与用人单位的交流平台，积极为用人单位输送各方面的人才。泉州海洋学院 2018届毕业生双选会在我院就业指导中心的组织下于10月26日在学院食堂二楼举办。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	60、<strong>学院成立海丝文化讲解团</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	10月30日，泉州海洋学院宣传部举行海丝文化讲解团成员聘任仪式，学院党委委员、宣传部部长李明灿老师为李嘉琳、洪雅译、林雅玲、郑洛矫、李凤明、龙盼等六位同学颁发聘书。学院社科普及基地李阳老师、谢海慧老师参加聘任仪式。此次聘任仪式由泉州市社会科学界联合会、石狮市社会科学界联合会、泉州海洋职业学院主办，由泉州海洋职业学院党委宣传部承办。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	61、<strong>我院党校第十四期入党积极分子培训班开班</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	11月3日下午，中共泉州海洋职业学院党校举行第十四期入党积极分子培训班开班仪式。仪式由学院党委委员、党校副校长郑文谦研究员主持，学院党委全体委员参加了开班仪式。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	62、<strong>我院第四届校运会精彩开幕</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	11月9日上午8点，经过学院体育运动委员会一个多月的紧张筹备，泉州海洋学院第四届运动会开幕式在学院田径场如期举办。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	63、<strong>学院面向我市青少年开放海洋科普资源</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">11月16日，</span>作为福建省唯一一家以海洋专业为办学特色的民办高职院校，我院以开展2017年泉州市社科普及资助项目为契机，面向我市中小学生开放校园，充分依托校内海洋文化厅、海丝文化校墙和海洋科技展览馆等海洋科普资源，服务我市青少年的海洋意识和海权意识的提升。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	64、<strong>“立体化”宣传让十九大精神深入学子心</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	近日，深入学习宣传和贯彻党的十九大精神，学院党委结合实际制定了学习宣传方案，指导各党支部及团委、学生处等部门通过专家宣讲、广播、官网官微、宣传专栏、党建书籍发放、学习讨论、主题党日活动、升旗仪式等多种形式，构建了立体化的学习宣传方式，在学院上下掀起了一轮轮学习贯彻十九大精神的热潮，真正让党的十九大精神进校园、进课堂、进社团、进头脑。自觉把思想和行动统一到党的十九大精神上来。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	65、<strong>我院开展“双进”活动典型事故案例学习会</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">11月27日，</span>根据泉州海事局文件要求，我院组织召开“典型事故案例”进培训机构的学习宣贯会。我院由教务处主持开展“双进”活动典型事故案例学习暨安全教育座谈会，航海系、轮机系、船员培训中心、渔民培训中心等部门负责人及部分教师代表参会。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	66、<strong>后勤标准化仓库建成 实现信息化管理</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	12月4日，为进一步加强仓储管理，提高仓库运行效率，杜绝浪费，从本学期开始，后勤处根据董事会规范管理的相关要求，采取了一系列措施，全方位加强了仓库的建设和管理工作，构建科学规范的仓储管理体系，并率先实现信息化管理。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	67、<strong>我院高职教育研究所召开第一次会议</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28px;">12月7日，</span>学院高职教育研究所在行政楼会议室召开第一次会议，会议由学院院长、高职教育研究所所长林华东主持，学院副院长、高职教育研究所副所长吴广华及全体高职教育研究所成员参加了会议。会上，全体成员对机构成立背景、机构研究方向、研究通道、科研课题研究、科研氛围、出版院内刊物、实训技能、如何指导新进教师撰写论文及发表等方面展开了讨论。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	68、<strong>蔡天真董事长参加全国贫困村致富带头人培育工作现场会</strong> </p><p class="MsoNormal" style="text-indent:21.2500pt;">
	12月16日，全国贫困村致富带头人培育工作现场会在宁夏固原召开，国务院扶贫办副主任洪天云、宁夏自治区政府副主席马顺清以及各省（市、区）扶贫办负责人出席会议；全国扶贫就业创业培训基地——泉州海洋学院董事长蔡天真、副院长赵山辉也应邀出席会议。此次大会的主题是：深入学习贯彻党的十九大精神，坚决打赢脱贫攻坚战。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	69、<strong>福建省船员服务行业协会会员代表大会在我院举行</strong> </p><p class="MsoNormal" style="text-indent:21.2500pt;">
	12月22日上午，福建省船员服务行业协会第二届第一次会员代表大会暨换届选举大会在我院举行，此次会议共吸引三十余家航海类高校、航运企业和科研单位代表与会。我院是福建省船员服务行业协会的理事单位，吴广华副院长代表学院出席并主持会议。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	70、<strong>我院与厦门华洋海事有限公司签署校企合作协议</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28.3333px;"><span style="text-indent:28.3333px;">12月22日上午</span>，</span>在我院承办福建省船员服务行业协会换届大会之际，我院与厦门华洋海事有限公司校企合作协议在我院举行。学院林华东院长与厦门华洋海事有限公司胡从池总经理分别代表双方签署校企合作协议。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	71、<strong>我校国际船员专修学院正式成立</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28.3333px;">12月23日，</span>为了更好服务海峡西岸航运事业的发展，更好的服务全国尤其是泉州地区船员队伍建设的发展，近日，泉州海洋职业学院和泉州市永顺船舶服务有限公司校企合作签约仪式暨泉州海洋职业学院国际船员专修学院揭牌仪式在我院行政楼海丝文化厅隆重举行。学院董事长蔡天真先生、院长林华东教授、永顺船舶总经理郭永坤等领导亲自为国际船员专修学院揭牌。集美大学、厦门泛海国际船舶等三十余家高校与航运企业代表出席本次揭牌仪式。</p><p class="MsoNormal" style="margin-left:0.0000pt;text-indent:0.0000pt;">
	72、<strong>学院创设“学习党的十九大精神”核心课程</strong> </p><p class="MsoNormal" style="text-indent:21.0000pt;">
	<span style="text-indent:28.3333px;">12月28日，</span>党的十九大召开以来，为了帮助广大学生深刻领会和全面把握十九大报告的科学内涵和精神实质，我院教务处会同思想政治理论教研部及时调整教学安排，增加了学习十九大报告的专题课时，由庄宗兰、李晶蕊二位老师为学院学生讲解题为“新时代、新征程——十九大报告精神解读”的核心课程。</p><p>
	<br></p><p class="MsoNormal" style="text-align:justify;">
	<br></p>			</div>
</div></div><div id="div_vote_id"></div>
      
    
    </div>
<div class="cw">
            <div class="pages">
                 <p><a href="9221.html"><span class="aline_w"> 上一篇：2018年大事记 </span> </a></p>    
                 <p><a href="9191.html"><span class="aline_w">下一篇：2016年大事记</span></a></p>    
            </div>  </div>  


          </div>
    </div>
     </div>
    <div class="bq ny_bq">
        <div class="cw">
            <div class="f_logo">
                    
 <img src="static/picture/logo1.png">

                        </div>
                        <div class="bqwz">
                            <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>Copyright © 2016-2023 泉州海洋职业学院 版权所有<br><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备09021863号-1</a> <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank">闽公网安备 35058102000172号</a> &nbsp; 违法和不良信息举报中心</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--搜索开始-->
    <div class="searchbox" frag="窗口103" portletmode="search">
        <div class="search_bg"></div>
        <span class="close">X</span>
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><div class="ss_form">
<style>
    #appu13 .qwss{
        height: 45px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu13 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 45px;
        border: 0;
        border-radius: 2px;
        background-color: #2454a6;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu13"></div>
<script type="text/html" id="htmlu13">
    <div id="appu13">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="全文搜索" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"  />
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu13").html($("#htmlu13").text());
</script>
<script>
    var appOwner = "1916776078";
    var token =gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu13",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div>
    </div>
    <script type="text/javascript" src="static/js/search.js"></script>
    <!--搜索结束-->


<script src="static/js/swiper.min.js"></script>

</body>
</html>
