<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="force-rendering" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="”pragma”" content="”no-cache”">
    <meta http-equiv="”cache-control”" content="”no-cache”">
    <meta http-equiv="”expires”" content="”0″">
    <title>2018年大事记-泉州海洋学院——统招全日制高等院校</title><meta name="pageType" content="3">
<meta name="pageTitle" content="2018年大事记">
<meta name="keywords" content="泉州海洋学院——统招全日制高等院校,大事记,2018年大事记">
<meta name="description" content="2018年大事记				发布时间：2018-12-29 15:30					  	1.我院召开质量体系管理评审会议 	1月2日，林华东院长主持召开了由管理者代表、行政副院长和质量体系受控的各部门负责人参加的质量体系管理评...">

    <link href="static/css/public.css" rel="stylesheet" type="text/css">
    <link href="static/css/style1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/banner.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/pic_lbqh.css">
    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/pub1.js" type="text/javascript"></script>
  <!--[if lt IE 10]>
    <script type="text/javascript">
        var str = " 您的浏览器低于ie9，请升级到ie9以上版本:(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#888;height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d1.css">
<script language="javascript" src="static/js/_sitegray1.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/content.vsb.css">
<script type="text/javascript" src="static/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1071,'/content.jsp',9221,1916776078)</script>
</head>
<body class="ls_body">
    <div class="header ny_header">
        <div class="top header-pc tu1">
            <div class="container flex">
                <div class="logo flex-v-center">
                    
 <a href="index1.html">
                        <img src="static/picture/logo1.png" alt="" class="imgMargin">
                       
                    </a>
                </div>
                <div class="pcnav fr">
                <div class="header-t flex-right">
                    <div style="display: flex;">
                         <script language="javascript" src="static/js/dynclicks.js"></script>   <li><a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank"><img src="static/picture/top_img2.png">校长邮箱</a></li>
   <li><a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank"><img src="static/picture/top_img3.png">书记邮箱</a></li>
   <li><a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank"><img src="static/picture/top_img4.png">一站式办事大厅</a></li>
   <li><a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank"><img src="static/picture/top_img5.png">图书馆</a></li>
   <li><a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank"><img src="static/picture/top_img6.png">就业创业</a></li>

                    </div>
                </div>
                    <div class="menubox">
                        <div class="nav flex-right">
                           
 <ul>
                                                             <li class="dhdqwz">
                                    <a href="index1.html" title="首页" target="_blank">首页</a>
                                
                                </li>
                                <li>
                                    <a href="xxjj.html" title="学校概况" target="_blank">学校概况</a>
                                    <div class="two-nav">
                                        <a href="xxjj.html" title="学校简介" target="_blank">学校简介</a>
                                     
                                        <a href="xxzc.html" title="学校章程" target="_blank">学校章程</a>
                                     
                                        <a href="cbr.html" title="创办人" target="_blank">创办人</a>
                                     
                                        <a href="xxld.html" title="学校领导" target="_blank">学校领导</a>
                                     
                                        <a href="zzjg.html" title="组织机构" target="_blank">组织机构</a>
                                     
                                        <a href="dsj.html" title="大事记" target="_blank">大事记</a>
                                     
                                        <a href="ssqh.html" title="数说泉海" target="_blank">数说泉海</a>
                                     
                                        <a href="xygh.html" title="校园规划" target="_blank">校园规划</a>
                                     
                                        <a href="sphy.html" title="光影海院" target="_blank">光影海院</a>
                                     
                                        <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="yxsz.html" title="院系设置" target="_blank">院系设置</a>
                                    <div class="two-nav">
                                        <a href="hhjtxy.html" title="航海交通学院" target="_blank">航海交通学院</a>
                                     
                                        <a href="hygc.html" title="海洋工程学院" target="_blank">海洋工程学院</a>
                                     
                                        <a href="xxgc.html" title="信息工程学院" target="_blank">信息工程学院</a>
                                     
                                        <a href="jjgl.html" title="经济管理学院" target="_blank">经济管理学院</a>
                                     
                                        <a href="ysty.html" title="艺术体育学院" target="_blank">艺术体育学院</a>
                                     
                                        <a href="gfjy.html" title="国防教育学院" target="_blank">国防教育学院</a>
                                     
                                        <a href="tsjy.html" title="通识教育学院" target="_blank">通识教育学院</a>
                                     
                                        <a href="my.html" title="马克思主义学院" target="_blank">马克思主义学院</a>
                                     
                                        <a href="ytfc.html" title="游艇帆船学院" target="_blank">游艇帆船学院</a>
                                     
                                        <a href="scxy.html" title="三创学院" target="_blank">三创学院</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="index2.html" title="招生信息" target="_blank">招生信息</a>
                                
                                </li>
                                <li>
                                    <a href="xygk.html" title="技能培训" target="_blank">技能培训</a>
                                    <div class="two-nav">
                                        <a href="chuanyuan.html" title="船员培训学院" target="_blank">船员培训学院</a>
                                     
                                        <a href="jxjy.html" title="继续教育学院" target="_blank">继续教育学院</a>
                                     
                                        <a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养" target="_blank">国际海洋工程人才培养</a>
                                                                         </div>
                                </li>
                                <li>
                                    <a href="jwc.html" title="教育教学" target="_blank">教育教学</a>
                                
                                </li>
                                <li>
                                    <a href="dwhz.html" title="交流合作" target="_blank">交流合作</a>
                                
                                </li>
                                <li>
                                    <a href="rczp.html" title="招贤纳才" target="_blank">招贤纳才</a>
                                
                                </li>
                                <li>
                                    <a href="lxwm.html" title="联系我们" target="_blank">联系我们</a>
                                
                                </li>
                                                              <div class="searchbtn"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mp">
            <div class="container">
                <div class="clearfix">
                    <div class="logo">
<a href="index1.html"><img src="static/picture/logo1.png" alt=""></a></div>
                    <div class="header-mp-right">
                        <li class="searchbtn"></li>
                        <div class="move_nav">
                            <div class="move_menu" id="smenu"><a class="thuicon-menu menuicon"></a></div>
                        </div>
                    </div>
                    <div class="move_navBox" style="display: none;">
                        <div class="move_navShow">
                        <div class="mp_dblj"><div class="clearfix">    <a href="xx-xz-tj-tree.TreeTempUrl_1392.html" title="校长邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70622)" target="_blank">校长邮箱</a>
<a href="xx-sj-tj-tree.TreeTempUrl_1412.html" title="书记邮箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70623)" target="_blank">书记邮箱</a>
<a href="index.html#/" title="一站式办事大厅" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70624)" target="_blank">一站式办事大厅</a>
<a href="https://qzhyxytsg.mh.chaoxing.com/" title="图书馆" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 70997)" target="_blank">图书馆</a>
<a href="jczx.html" title="就业创业" onclick="_addDynClicks(&#34;wbimage&#34;, 1916776078, 71006)" target="_blank">就业创业</a>
</div></div>
                          
  <ul id="move_nav">
                                                              <li><p><a href="index1.html" title="首页">首页</a>  </p>
                                 
                                </li>                                <li><p><a href="xxjj.html" title="学校概况">学校概况</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="xxjj.html" title="学校简介">学校简介</a></li>
                                          <li class="col-xs-6"><a href="xxzc.html" title="学校章程">学校章程</a></li>
                                          <li class="col-xs-6"><a href="cbr.html" title="创办人">创办人</a></li>
                                          <li class="col-xs-6"><a href="xxld.html" title="学校领导">学校领导</a></li>
                                          <li class="col-xs-6"><a href="zzjg.html" title="组织机构">组织机构</a></li>
                                          <li class="col-xs-6"><a href="dsj.html" title="大事记">大事记</a></li>
                                          <li class="col-xs-6"><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
                                          <li class="col-xs-6"><a href="xygh.html" title="校园规划">校园规划</a></li>
                                          <li class="col-xs-6"><a href="sphy.html" title="光影海院">光影海院</a></li>
                                          <li class="col-xs-6"><a href="lxwm.html" title="联系我们">联系我们</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="yxsz.html" title="院系设置">院系设置</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="hhjtxy.html" title="航海交通学院">航海交通学院</a></li>
                                          <li class="col-xs-6"><a href="hygc.html" title="海洋工程学院">海洋工程学院</a></li>
                                          <li class="col-xs-6"><a href="xxgc.html" title="信息工程学院">信息工程学院</a></li>
                                          <li class="col-xs-6"><a href="jjgl.html" title="经济管理学院">经济管理学院</a></li>
                                          <li class="col-xs-6"><a href="ysty.html" title="艺术体育学院">艺术体育学院</a></li>
                                          <li class="col-xs-6"><a href="gfjy.html" title="国防教育学院">国防教育学院</a></li>
                                          <li class="col-xs-6"><a href="tsjy.html" title="通识教育学院">通识教育学院</a></li>
                                          <li class="col-xs-6"><a href="my.html" title="马克思主义学院">马克思主义学院</a></li>
                                          <li class="col-xs-6"><a href="ytfc.html" title="游艇帆船学院">游艇帆船学院</a></li>
                                          <li class="col-xs-6"><a href="scxy.html" title="三创学院">三创学院</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="index2.html" title="招生信息">招生信息</a>  </p>
                                 
                                </li>                                <li><p><a href="xygk.html" title="技能培训">技能培训</a>  <i class="zkicon"></i> </p>
                                    <ul class="move_menu" style="display: none;">
                                        <li class="col-xs-6"><a href="chuanyuan.html" title="船员培训学院">船员培训学院</a></li>
                                          <li class="col-xs-6"><a href="jxjy.html" title="继续教育学院">继续教育学院</a></li>
                                          <li class="col-xs-6"><a href="https://www.qzoiedu.com/TalentsGJ/index/classid/17.html" title="国际海洋工程人才培养">国际海洋工程人才培养</a></li>
                                                                               <div class="clear"></div>
                                    </ul>
                                </li>                                <li><p><a href="jwc.html" title="教育教学">教育教学</a>  </p>
                                 
                                </li>                                <li><p><a href="dwhz.html" title="交流合作">交流合作</a>  </p>
                                 
                                </li>                                <li><p><a href="rczp.html" title="招贤纳才">招贤纳才</a>  </p>
                                 
                                </li>                                <li><p><a href="lxwm.html" title="联系我们">联系我们</a>  </p>
                                 
                                </li>
                                                         </ul>
                        </div>
                    </div>
                    <script>
                        $(".menuicon").click(function(){
                            $(".move_navBox").slideToggle();
                            $(this).toggleClass("closeNav")
                        })
                        $(".column i").click(function(){
                            $(".move_navShow").slideToggle();
                        })
                        $(".zkicon").click(function(){
                            $(this).parent().next().slideToggle();
                            $(this).toggleClass("sqicon");
                        })
                        $(".am-btn-red").click(function(){
                            $(".searchBox").slideToggle();
                            $(this).children().toggleClass("closeSearch");
                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_page1 ab">
      <img src="static/picture/ny_banner4.png">
    </div>
    <div class="pcejdh">
        <div class="cw dqdh">
            <div class="ny_tit">
大事记</div>
            <div class="dqwz flex">
                <span>您当前位置:
                         
                        <a href="index1.html">首页</a>
                -
                <a href="xxjj.html">学校概况</a>
                -
                <a href="dsj.html">大事记</a>
                -
                正文

</span>
            </div>
            <div class="ny_ejdh flex">
                <ul class="n_erji aos-init">
                   
 <li><a href="xxjj.html" title="学校简介">学校简介</a></li>
 <li><a href="xxzc.html" title="学校章程">学校章程</a></li>
 <li><a href="cbr.html" title="创办人">创办人</a></li>
 <li><a href="xxld.html" title="学校领导">学校领导</a></li>
 <li><a href="zzjg.html" title="组织机构">组织机构</a></li>
 <li class="on"><a href="dsj.html" title="大事记">大事记</a></li>
 <li><a href="ssqh.html" title="数说泉海">数说泉海</a></li>
 <li><a href="xygh.html" title="校园规划">校园规划</a></li>
 <li><a href="sphy.html" title="光影海院">光影海院</a></li>
 <li><a href="lxwm.html" title="联系我们">联系我们</a></li>


                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="cw">
        <div class="new-cont">
       <div class="clearfix">
          

<script language="javascript" src="static/js/NewsvoteDWR.js"></script><script language="javascript" src="static/js/engine.js"></script><script language="javascript" src="static/js/newscontent.js"></script><script language="javascript" src="static/js/ajax.js"></script>  <h2>2018年大事记</h2>
            <div class="cont-tit">
                <span class="flex">作者:  </span>
                <span class="flex"> 发布时间: 2018-12-29</span>
                <span class="flex">浏览次数: <script>_showDynClicks("wbnews", 1916776078, 9221)</script></span>
            </div>
            <div class="article">
              
   
    <div id="vsb_content"><div class="v_news_content">
<div class="content_main content_history_detail" style="text-align: left;"><strong style="text-align: justify;">1.</strong><strong style="text-align: justify;">我院召开质量体系管理评审会议</strong><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月2日，林华东院长主持召开了由管理者代表、行政副院长和质量体系受控的各部门负责人参加的质量体系管理评审会议。管理者代表对质量管理体系的运行进行总结并组织讨论质量体系的改进方案和措施。同时对2017年内部质量体系审核及纠正结果等进行了评审。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">2.校企联姻共育汽修专业人才——泉州海洋学院与石狮捷友汽修公司签订校企合作协议</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月8日，我院在行政楼大会议室与石狮市捷友汽车修配有限公司举行校企合作签约仪式。泉州海洋学院林华东院长与石狮市捷友汽车修配有限公司刘永康董事长分别代表双方签署校企合作协议。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">3.院线电影《疯狂绑架》剧组来我院取景拍摄</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月11日，院线电影《疯狂绑架》剧组一行60余人来到我院水上实训中心的“育航号”实训船内实地取景拍摄，摄制工作得到了学院后勤部等多部门的全力配合。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">4.我院在校生创新创业项目喜获省教育厅3万元资助</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月12日，2017年福建省教育厅在高校申报、省教育厅组织专家材料审核和公示的基础上，确定资助本、专科院校创新创业项目，我院人文系报送的“溜溜微旅游”项目近日喜获3万元政府资助。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">5.我院校友总会成立大会隆重召开</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月13日，泉州海洋职业学院校友总会成立暨首届校友会代表大会在多功能报告厅隆重召开。学院各届校友、在校师生近300人欢聚一堂，见证学院校友工作的新篇章，共话母校繁荣发展的新时代。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">6.学院招就处实地考察泉州功夫动漫，洽谈校企合作事宜</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月15日，我院招就处陈振浩处长一行实地参观考察泉州功夫动漫。就培养更多的满足市场需求的动画产业、自媒体营销、酒店管理等专业人才等合作事宜展开初步洽谈。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">7.石狮市国保大队赴我院开展普法教育活动</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月16日，福建省石狮市公安局国保大队赴我院开展《境外非政府组织境内活动管理法》普法教育活动。此次普法教育活动使得广大师生加深了对《境外非政府组织境内活动管理法》的了解，同时让师生进一步领会“依法治国”精神，弘扬了社会主义法治精神。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">8.深化校企合作，我院组织参访团到安通控股有限公司进行调研</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">1月18日，吴广华副院长、赵山辉副院长携航海系老师一行，前往安通控股股份有限公司总部进行深入交流访问。会上，我院与安通控股就航海相关专业的人才培养模式达成了广泛共识，为进一步增进了校企奠定了坚实的基础。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">9.学院召开院长办公会部署开学工作</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">3月3日，为确保新学期顺利开学，林华东院长主持召开院长办公会，研究部署新学期开学各项准备工作。全体党政领导、各部门负责人参加会议。林华东院长强调了期初教学检查、内涵建设、安全管控等新学期工作要点，要求各行政职能部门进一步加强沟通协调，通力配合，做好新学期各项工作。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">10.学院召开2018年春季期初工作大会</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">3月8日，我院在多功能报告厅召开新学期期初工作大会，全体党政领导及全院教职工参加大会，大会由党政办李明灿主任主持。林华东院长在会上发表《打好质量工程攻坚战，开创学校工作新局面》的重要讲话。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">11.泉州海洋学院扩建工程被泉州市政府列为2018年度泉州市重点项目</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">3月26日，泉州市政府下发《泉州市人民政府关于公布2018年度市重点项目名单的通知》。泉州海洋职业学院扩建工程被列为2018年度泉州市重点项目。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">12.2018年泉州市教育工作会议将支持我院筹备升格确定为工作任务</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">3月27日，泉州市副市长陈荣洲和泉州市委教育工委书记、泉州市教育局局长廖伏树在2018年全市教育工作会议上发表了重要讲话，在2018年教育工作部署中都同时提出了支持泉州海洋职业学院筹备升格。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">13.我院航海体能训练基地正式投入使用</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">3月28日，我院航海体能训练基地正式投入使用。基地内体能训练器材完善，可以为航海技术、轮机工程、邮轮乘务等专业学生提供专业体能训练。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">14.我院“育航”号实操实训船完成主体改造并初步投入教学运用</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">3月29日，我院现代化特种实操实训船“育航”轮主体改造工程已完工。该船改造完成后将创造多项记录，不仅为首艘国内民办院校拥有的实操实训船，也是首艘停泊于国内教育院校校园内的船舶，成为我院一道标志性的风景。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">15.我校学子获两项福建省“宣传十九大，共筑中国梦”朗读比赛二等奖</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月2日，由福建省教育厅与福建省语言文字工作委员会共同举办的关于开展“宣传十九大，共筑中国梦”诵读比赛，我校邮轮乘务171班王新晟同学朗诵的《我用残损的手掌》、轮机172班常云浩同学朗诵的《我的心》分别以总排名12名、19名的成绩均获得此次比赛的二等奖。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">16.学院各党支部与石狮市公安边防大队共同举行革命烈士扫墓纪念活动</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月4日，我院机关党支部与各系支部代表共计三十余人与石狮市公安边防大队官兵前往邱奕凯烈士墓，共同举行了“缅怀革命先烈，弘扬爱国情怀”的扫墓纪念活动，举行了简短而又隆重的悼念仪式。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">17.强化产教融合、深化校际合作，推进航海类专业建设——吴副院长带队考察教学合作单位</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月10日，为深化我院航海类专业的质量建设，推动教育改革，并深入研究教学对象。近日，副院长吴广华教授带领航海系陈东水主任、轮机系沈雄主任等，赴泉州海事学校与厦门泛海国际船舶管理有限公司开展参访交流活动。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">18.我院正式启用智能监控指挥中心</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月16日，我院校园智能监控指挥中心建成并正式投入运行。监控指挥中心集视频监控、指挥调度、消防报警于一体，通过人防、技防联动，配合一系列高端监控、云台控制和报警设备，实现了整个校园24小时巡防巡控和应急指挥的目标。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">19.数字化校园管理系统一期顺利通过验收</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月18日，在凤凰创壹研发团队的全力支持下，经过近11个月开发的泉州海洋学院数字化校园管理系统一期顺利通过验收，验收结束后，双方技术团队对项目二期建设计划的具体内容进行了磋商。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">20.我院200多名志愿者助力中国海丝博览会</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月18日，第四届中国(泉州)海上丝绸之路国际品牌博览会暨第二十一届海峡两岸纺织服装博览会（简称“海博会”）在石狮开幕。我院应邀选派230名学生投身于海丝博览会的志愿服务工作。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">21.全省首家高校科协联盟正式成立</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">4月24日，由泉州海洋职业学院科协参与发起的全省首家高校科协联盟——“泉州高校科协联盟”在泉州正式落地。在成立大会上我院被授予泉州高校科学协会联盟理事单位。学院吴广华副院长和教务处钱学东处长代表学院参加了成立大会。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">22.学院党委正式启动“五彩党建”工程</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">5月18日，泉州海洋职业学院“五彩党建”工程启动仪式在教学楼2204报告厅举行。全体党员、各相关部门领导、入党积极分子代表等参加启动仪式。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">23.学院召开全校党员大会传达学习习近平总书记在北京大学师生座谈会上的重要讲话精神</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">5月21日，学院在教学楼2204报告厅召开全校党员大会。学院党委书记、院长林华东教授向大会作了专题传达。林书记传达了十八大以来习近平总书记历次“五四讲话”的重要精神，传达了习总书记对当代青年的谆谆教诲和成才指引。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">24.2018广州日报高职高专排行榜出炉，泉州海洋学院位列福建省民办院校第一位</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">5月22日，广州日报数据和数字化研究院（GDI）发布“2018广州日报高职高专排行榜”，共有28所福建高职高专院校进入“2018广州日报高职高专排行榜—TOP1000”，泉州海洋职业学院在排行榜上连续第二年位列福建省民办高职高专院校第一位。并成为福建省唯一入选“2018广州日报高职高专排行榜—民办院校TOP100”的院校。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">25.我院组织航海类专业学生上船开展认知实习</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">5月25日，我院航海类专业学生在轮机系主任沈雄教授和航海系主任助理张文生老师的带领下，登上巴拿马籍七万吨级散货船“台伟轮”进行认知实习。“台伟轮”是我院校企合作单位厦门泛海国际船舶管理公司所管理和派遣的船舶，该轮于2016年建造， 船长200米，船宽32米，靠漳州港招商码头卸货作业。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">26.我院现代服务实训中心正式投入教学使用</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">5月30日，学院“现代服务实训中心”投入教学使用。该实训中心，占地380平方米，以国际豪华邮轮“甲板休闲中心”为设计模板，可开展茶艺实训、餐饮实训等多个赛项提供针对性的教学。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">27.学生资助管理中心接受省学生资助管理中心标准化建设评估验收</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">5月31日，由闽南师范大学学生处处长林致远任组长的福建省学生资助管理中心标准化建设评估验收专家组，对我院学生资助管理中心标准化建设工作进行评估验收。我院院长林华东、董事长助理石洪波等学院领导热情接待了验收组一行。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">28.我校荣获2018年福建省职业教育教学成果二等奖</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月4日，福建省教育厅发布了《关于公布2018年省级教学成果奖获奖项目的通知》（闽教综〔2018〕12号），我院申报的《校企融合：邮轮乘务管理人才“二元制”培养模式的改革与探索》，获得2018年福建省职业教育教学成果奖二等奖。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">29.学院教学指导委员会召开2018级人才培养方案审议会</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月8日，学院在行政楼三楼大会议室召开2018级人才培养方案审议会议。学院教学指导委员会全体成员参加了会议，会议由学院教学指导委员会主任、学院院长林华东教授主持。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">30.泉州市游泳救生员资格认证培训班在我院开班</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月11日，由泉州市游泳协会主办、我院艺术体育系承办的为期5天的第三期游泳救生员资格认证培训班在我院开班,共37名学员参加此次培训，其中包括我院社会体育等专业学生20名。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">31.学院召开质量体系宣贯会议</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月12日，学院质量管理办公室组织召开质量体系宣贯会议，学院部分受控部门负责人、各系主任以及新进教师等共计22人参加了宣贯会议。学院管理者表示质量管理体系要随着学院自身的发展和外部环境的变化以及法律法规的修订等进行持续改进，确保质量管理体系的符合性和有效性。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">32.全国大学生海洋文化创意设计大赛获奖作品展在我院展出</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月13日—15日，为了普及海洋知识，培养学生创新精神和实践能力，增强全民的海洋意识，全国大学生海洋文化创意设计大赛获奖作品展在泉州海洋职业学院世界特种船舶展示厅如期举行。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">33.2018级春季新生入校教学与实践体验营活动圆满落幕</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月11日-14日，为增进春招新生对学院的了解，便于新生更快地融入大学生活，学院组织举办了“互动沟通你我，共享泉海生活”2018级春季新生入校教学与实践体验营活动。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">34.我院在“中船杯”全国职业院校轮机专业焊接技能大赛斩获佳绩</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月21日，“中船杯”首届全国职业学校轮机专业焊接技能大赛将在江苏南通举行。为提高并展示我校轮机专业的教学质量和学生的技能水平，在轮机系林杰民、魏华东老师的指导下，16级轮机专业的张永杰、林庆鸿等3位同学参加大赛。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">35.泉州海洋职业学院2018届毕业典礼隆重举行</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月21日，我院2018届毕业生毕业典礼在多功能报告厅隆重举行，典礼由党政办主任李明灿老师主持。学院党委书记、院长林华东教授以《不忘初心，做最美的追梦人》为题致辞。副院长吴广华教授和董事长助理石洪波教授分别宣读了《关于批准2018届毕业生毕业的决定》、《关于表彰2018届“优秀毕业生”的决定》。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">36.学院举办“泛海杯”首届航海技能大比武</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">6月26日，为了迎接和庆祝第八个世界海员日，学院于近日举办“泛海杯”首届航海技能大比武。本次大比武由航海系承办，副院长吴广华教授出席开幕式并致辞，鼓励航海学子提高航海技能，为航海事业做出自己的贡献。航海技能大比武共包涵撇揽、操艇、水手绳结、金工工艺、50米蛙泳、100米自由泳等项目。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">37.泉州军分区政委刘建军莅临我院调研海上民兵训练情况</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">7月5日，泉州市委常委、军分区政委刘建军莅临我院调研海上民兵训练情况。刘建军表示，泉州海洋职业学院虽然办学时间不长，但定位准确，贴近实际，取得显著成绩。希望学院今后继续发力，为国家海洋事业以及海军事业作突出贡献。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">38.吴广华副院长率团参加全国职业院校“创新发展、智慧教育”研讨会</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">7月7日，我院吴广华副院长、钱学东教务处处长带领各系教师代表一行前往厦门，参加由中国职业技术教育学会信息化工作委员会主办的全国职业院校“创新发展、智慧教育”研讨会。此次会议有来自全国26个省份600多所职业院校的1000多名教师代表齐聚厦门，共商职业教育大计。</span></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">40.我院学生在省第十六届大运会中斩获男子5000米季军</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">7月11日，我院学生在省第十六届大运会中斩获男子5000米季军。福建省第十六届大学生运动会田径比赛在宁德市举行。此次省大运会共有来自全省76所高校的1114名选手参加。艺体系171班傅信威同学代表学院参加男子5000米比赛。以18:13.35的成绩获得男子5000米第三名（二等奖）的优异成绩。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">41.我院开展福建省第三届“励志校园•感动福建”优秀学生推荐评选活动</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">7月13日，我院组织开展了福建省第三届“励志校园•感动福建”优秀学生推荐评选活动，经本人申报、系（部）提名、学生资助管理中心初审和学院活动组委会审议等系列程序，确定人文系2017级空中乘务专业学生郑秋香和2017级高速铁路客运乘务专业学生王维成为我院“福建励志先锋”拟推荐候选人。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">42.我院学生在省第十六届运动会游泳比赛中喜夺双冠</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">7月25日，福建省第十六届运动会（大学生部）游泳比赛在福州大学举行,共三十余所福建高校近300名选手参加了本次赛事。我院17级报关报检学生洪海媚同学，在教练（领队）孙玉坤老师的带领下，在女子丙组50米自由泳决赛获得冠军，在女子丙组100米自由泳决赛中获得冠军。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">43.泉州海洋职业学院召开2018年大学生应征士官入伍座谈会</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">8月3日，学院召开2018年大学生应征士官入伍座谈会，共13名应征士官入伍。我院应征士官入伍人数比例再创新高，占泉州市直招士官入伍总名额的59.09％，从2014年至2018年，直招士官应征入伍人数比例逐年攀升，得到地方武装部和上级征兵工作单位的多次肯定。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">44.学院举办“泛海杯”首届航海技能大比武</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">8月4日，为了迎接和庆祝第八个世界海员日，学院于近日举办“泛海杯”首届航海技能大比武。航海技能大比武共包涵撇揽、操艇、水手绳结、金工工艺、50米蛙泳、100米自由泳等项目。在大比武中，航海学子充分展现了航海人不怕苦不怕累的勤劳品质；体现了“拼搏、进取、敬业、奉献”的航海精神。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">45.我院现代服务实训中心正式投入教学使用</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">8月4日，学院“现代服务实训中心”投入教学使用。该实训中心，占地380平方米，以国际豪华邮轮“甲板休闲中心”为设计模板，可开多种实训项目。搭建“岗课训赛”一体化平台，提高学生的实践技能操作能力。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">46.我院在福建省军事技能比武中喜获佳绩</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">8月22日，由福建省教育厅、福建省国防教育办公室主办，福建师范大学承办的2018年福建省大学生军事技能比武在福州举行。我校共有8名学生代表参加比赛，在此次比赛获得电磁频谱管控项目一等奖。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">47.今年新生首日报到突破1300人</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月1日，我院2018级新生报到的首日，为做好今年迎新工作，力保迎新工作的顺利开展，学院于8月20日召开新生报到工作部署会议，提前做好了迎新各项筹备工作。截止报到首日下午17：30，学院已有1300余名新生顺利报到。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">48.泉州市教育局调研组莅临我校开展期初工作检查</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月7日，泉州市教育局副局长蔡琦瑜带领市教育局调研组一行来我院检查开学工作。汇报会上，林华东院长简要介绍了学院开学的基本情况，表示学校将按照市局调研组的要求，加强校园安全管理等工作，为学院各项教育教学工作提供保障。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">49.我院召开新学期学生工作专题会议</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月11日，学院于行政楼大会议室召开由学院党委书记、院长林华东教授亲自主持，各系部党支部书记和学生处、院团委、安全处全体人员参加的新学期学生工作专题会议。林华东院长听取汇报后认为，各部门学生工作思路清晰、工作要点明确，希望与会人员在日常工作中主动思考、深入贯彻。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">50.英国克兰菲尔德大学副校长Simon Pollard 教授莅临我院考察指导</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月12日，英国顶尖高等学府克兰菲尔德大学副校长Simon Pollard 教授莅临我院，在学院副院长吴广华教授与董事会秘书蔡永鸿先生的陪同下，Simon Pollard 教授参观了学院实训教学设施。Simon Pollard 教授表示，愿意积极推动双方合作的进一步落实，将加快研究可行的合作方案。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">51.学院顺利举办2018年迎新晚会文艺汇演</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月13日，我院2018年“诗乐年华”迎新晚会如期举办，吴广华副院长、董事会秘书蔡永鸿老师与各系部老师作为特邀嘉宾出席观看了此次晚会，泉州海洋学院师生齐聚北大门海丝广场，一起见证了泉海学子的青春序歌。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">52.学院隆重举行2018级新生开学典礼暨军训阅兵仪式</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月14日，我院2018级新生开学典礼暨军训阅兵大会在北大门海丝文化广场隆重举行。林华东院长在致辞中希望新生们在大学里学得真本事。上午9时，2018级新生阅兵仪式结束后。学生处处长苏良城老师宣读荣誉称号。学校希望新生们“以梦为马，不负韶华”。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">53.泉州海洋学院扶贫项目开班仪式</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">9月27日，我院扶贫项目进行开班仪式，广西省钦州市交通运输局刘远平副局长带领相关人员莅临我院参加扶贫项目开班仪式。开班仪式结束后，我院董事长蔡天真先生在会客厅接见了各地来访的客人，与校领导在会议室对扶贫项目、海运市场变化、海员就业等议题进行了深入的“校-企-政”三方研讨。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">54.学院成立第一届校务委员会，正式启动扁平化管理改革</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">10月15日，学院第一届校务委员会第一次常委会在行政楼三楼大会议室召开。蔡天真董事长和吴广华校长列席会议并做重要讲话。会议的召开宣告了我校扁平化改革的正式启动。会议审议通过了《泉州海洋职业学院校务委员会议事规则》和《泉州海洋职业学院永莉奖学金实施办法（修订）》。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">55.我校海洋文化展厅被确定为石狮市社会科学普及基地</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">10月18日，我校参加了由石狮市委宣传部和石狮市社科联主办的2018年石狮市社会科学普及宣传周启动仪式。仪式上，石狮市市领导为我校颁发“2018-2020年石狮市社会科学普及基地”牌匾。我校苏运法老师和李征老师入选石狮市社科专家人才库，黄元臻老师和唐鸿茂老师入选石狮市社科普及讲师团。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">56.我院成功举行2019届毕业生校园双选会</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">10月24日，我院2019届毕业生校园双选会在学院食堂二楼隆重举行。共吸引了113家企业，向毕业生们提供优质工作岗位。此次招聘双选会面向的对象以毕业生为主，部分企业也提供在校生短期实习、兼职机会。参加双选会的学生达300余人。目前，我院近五成应届毕业生与企业达成初步就业意向。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">57.我院入选福建省第四批现代学徒制试点项目</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月6日，福建省教育厅下发《福建省教育厅关于公布福建省第四批现代学徒制试点项目的通知》（闽教办职成〔2018〕39号）文件，由我院航海系申报的“航海技术专业现代学徒制试点项目”顺利入选福建省第四批现代学徒制试点项目。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">58.我院第五届运动会闭幕式圆满落幕</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月9日，经过一天半紧张而激烈的角逐，我校第五届运动会圆满闭幕。闭幕式上，学院领导依次为本次大会的获奖团队及师生颁奖。颁奖仪式结束之后，校长吴广华教授为此次运动取得的优异成绩表示祝贺。同时，希望同学们在运动场上展现出来的勇气与精神融入学习、融入工作、融入生活。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">59.泉州市直教育系统党委专职副书记胡建军一行莅临我校指导工作</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月13日，市直教育系统党委专职副书记胡建军一行莅临我校指导党委换届及书记配备工作。胡建军书记对我校党委委员增补、党委领导推选工作进行了针对性的指导。蔡天真董事长、吴广华校长对胡建军书记表示感谢，并表示一定按照要求做好我校党委换届工作，为党委政治核心作用的发挥提供更多的支持。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">60.我院新增特种船船员培训项目获交通运输部海事局批准</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月16日，交通运输部海事局签发《山东交通学院等四家单位船员培训许可证的函》，批准我院申报的特种船船员培训项目。文件同时批准我院有关船船员《船员培训许可证》延续申请。正式获批后，我院的海船船员培训许可项目达23项，为船员培训、扶贫项目及对外合作等项目的开展奠定良好基础。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">61.我院党委举办“五彩党建”特色党建成果展</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月15日，我校特色党建项目——五彩党建工程成果展在行政楼大厅展出。“五彩党建”工程是学院党委立足海洋类院校办学特色，结合泉州海洋职业学院党建思政工作成效，凝练提升，创新实施开展“先锋红、军营绿、海洋蓝、志愿青、行为橙”五项主题党建活动。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">62.我院师生在“泰华杯”首届全国航海类职业院校“航线设计”大赛斩获佳绩</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月17日，“泰华杯”首届全国航海类职业院校“航线设计”技能大赛在江苏南京举行。共有来自全国各地的21所航海院校150余名选手参加竞赛。比赛中，我院师生沉着冷静，发挥出了应有的水平，最终为我院斩获教师组第三名（二等奖）、学生组第六名（三等奖）的优异成绩。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">63.我院与澳大利亚南十字星大学（Southern Cross University）大学签署国际合作协议</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月29日，我院与澳大利亚南十字星大学签署国际合作协议，双方将在教学学习和研究活动等方面开展国际合作。南十字星大学是澳大利亚著名的公立大学，就业率高，且两年内可攻读两个专业的硕士学位，开创了培养复合型人才的新模式，为学生的成长成才提供了广阔的空间。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">64.我院校园二期建设项目开工仪式隆重举行</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月1日，福建省重点建设项目——泉州海洋学院校园二期建设项目开工仪式在泉州海洋学院二期工地隆重举行。校园二期建设的启动代表着学院向“升本”和“筹建福建海洋大学”的奋斗目标又迈进了实质性的一步，是泉州海洋学院满足办学规模扩大需求，提升办学条件，强力推进教育事业的重要标志。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">65.我院与宁德新能源企业“二元制”签署校企合作协议落地成功</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">11月30日，在宁德市人力资源和社会保障局牵线搭桥下，我院与宁德新能源科技有限公司、宁德时代新能源科技股份有限公司签订“二元制”人才培养项目合作协议。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">66.我校扩建钢琴教室正式投入使用</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月5日，今年10月份，我校对钢琴实训室进行扩建。历经2个月的施工装修，新建实训室终于完工。学院还置购了7台珠江钢琴，32台电子琴及相关设备和308个节拍器。现新钢琴教室已投入使用，新设备的加入，进一步满足师生实训需要。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">67.我院荣获2019年福建省职业院校技能大赛英语口语赛一等奖</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月9日，“2019年福建省职业院校技能大赛英语口语赛项”在漳州职业技术学院举行，从全省各高职院校校级预赛中脱颖而出的45名优秀选手同台竞技，我院基础部彭博老师指导的张琪曼同学参加非专业组比赛。张琪曼同学初赛、复赛均以第一名的好成绩斩获非专业组一等奖。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">68.泉州市领导莅临我校视察二期扩建项目</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月11日,泉州市委常委、副市长杨晓山和人大常委会副主任曾巍一行莅临我校实地察看校园二期扩建项目，关心和指导我校二期工期建设。吴广华校长、张宝定董事接待了杨晓山常委一行。杨晓山常委听取我院汇报后，要求相关政府部门要积极配合，助力学院更好地朝着高水平大学的目标迈进。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">69.我校龚雨柔同学获泉州市“党在我心中”校园歌手比赛第三名</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月14日，泉州市教育局主办的“党在我心中”校园歌手独唱比赛在鲤城区实验小学4楼会议室拉开了帷幕。我校选手代表是来自17级表演艺术1班的龚雨柔同学，歌唱曲目《共产党颂》，获第三名的佳绩。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">70.泉州海洋学院举行特种船国际培训学院揭牌仪式</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月17日，泉州海洋学院在1#教学楼广场举行特种船国际培训学院揭牌仪式。董事长蔡天真先生和厦门华洋海事有限公司总经理、特种船培训学院胡从池院长共同为特种船培训学院揭牌。本次揭牌，象征着泉州海洋学院特种船国际培训学院正式运行。</span><o:p></o:p></p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<strong><span style="color:#000000;">71.我院课题获2018-2020 年度交通教育科学研究重点课题立项</span></strong><strong><o:p></o:p></strong> </p><p class="MsoNormal" style="text-align:justify;line-height:150%;">
	<span style="color:#000000;">12月24日，由我院教务处长钱学东主持，官磊、郑玉花、陈东水、林杰民共同参与申报的《交通类院校航海类专业“二元制”人才培养模式改革的探索与实践》课题（课题编号：交教研 1801-27）成功立项，并被评为中国交通教育研究会2018-2020年度教育科学研究重点A类课题，是我校办学以来唯一获批的重点课题。</span><o:p></o:p></p>			</div>
</div></div><div id="div_vote_id"></div>
      
    
    </div>
<div class="cw">
            <div class="pages">
                 <p><a href="9231.html"><span class="aline_w"> 上一篇：2019年大事记 </span> </a></p>    
                 <p><a href="9211.html"><span class="aline_w">下一篇：2017年大事记</span></a></p>    
            </div>  </div>  


          </div>
    </div>
     </div>
    <div class="bq ny_bq">
        <div class="cw">
            <div class="f_logo">
                    
 <img src="static/picture/logo1.png">

                        </div>
                        <div class="bqwz">
                            <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>Copyright © 2016-2023 泉州海洋职业学院 版权所有<br><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备09021863号-1</a> <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank">闽公网安备 35058102000172号</a> &nbsp; 违法和不良信息举报中心</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--搜索开始-->
    <div class="searchbox" frag="窗口103" portletmode="search">
        <div class="search_bg"></div>
        <span class="close">X</span>
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><div class="ss_form">
<style>
    #appu13 .qwss{
        height: 45px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu13 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 45px;
        border: 0;
        border-radius: 2px;
        background-color: #2454a6;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu13"></div>
<script type="text/html" id="htmlu13">
    <div id="appu13">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="全文搜索" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"  />
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu13").html($("#htmlu13").text());
</script>
<script>
    var appOwner = "1916776078";
    var token =gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu13",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div>
    </div>
    <script type="text/javascript" src="static/js/search.js"></script>
    <!--搜索结束-->


<script src="static/js/swiper.min.js"></script>

</body>
</html>
