<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>党政办公室-泉州海洋职业学院</title><meta name="pageType" content="1">
<meta name="pageTitle" content="党政办公室-泉州海洋职业学院">
<meta name="keywords" content="党政办公室,泉州海洋职业学院">

<link type="text/css" rel="stylesheet" href="static/css/style18.css">
<link rel="stylesheet" href="static/css/swiper.min.css">
  <!--[if lt IE 10]>
    <script type="text/javascript">
        var str = " 您的浏览器低于ie9，请升级到ie9以上版本:(";
        var str2 = "推荐使用:<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>谷歌</a>,"
                + "<a href='https://www.baidu.com/s?ie=UTF-8&wd=%E7%81%AB%E7%8B%90%E6%B5%8F%E8%A7%88%E5%99%A8' target='_blank' style='color:blue;'>火狐</a>,"
                + "其他双核极速模式";
        document.writeln("<pre style='text-align:center;color:#888;height:100%;border:0;position:fixed;top:0;left:0;width:100%;z-index:1234'>" +
                "<h2 style='padding-top:200px;margin:0'><strong>" + str + "<br/></strong></h2><h2>" +
                str2 + "</h2><h2 style='margin:0'><strong>如果你的使用的是双核浏览器,请切换到极速模式访问<br/></strong></h2></pre>");
        document.execCommand("Stop");
    </script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/index.vsb1.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1941165919)</script>
</head>
<body style=" background:#f3f3f3;">

<!--顶部开始-->

<div class="wrap" style=" background:#3e6db5;border-bottom:solid 1px #2f61ac;">
  <div class="w">
    <div class="toubu"> 
      
      <!--logo开始-->
      <div class="logo fl">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm" title="党政办公室"><img src="static/picture/logo9.png"></a></div>
      <!--logo结束-->
      
      <div class="search fr"> 
        
        <!--设为首页/加入收藏开始-->
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83883)">学校主页</a>
</div>
        <div class="clearfix"></div>
        <!--设为首页/加入收藏结束--> 
        
        <!--搜索开始-->
      <div class="search_box">


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
       
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1941165919";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <!--搜索结束--> 
        
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--顶部结束--> 

<!--导航开始-->

<div class="wrap bg_color">
  <div class="w Navigation"><div id="navbar" class="menubox">
                    <div class="nav">
                        <ul>
                                                        <li class="dhdqwz">
                                 <a href="index.htm" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="bmjj/bmgzzz.htm" title="部门简介">部门简介</a>
                                <div class="two-nav">
                                    <a href="bmjj/bmgzzz.htm" title="部门工作职责">部门工作职责</a>
                                    <a href="bmjj/dzbgsbmsz.htm" title="党政办公室部门设置">党政办公室部门设置</a>
                                    <a href="bmjj/gksgzzz.htm" title="各科室工作职责">各科室工作职责</a>
                                    <a href="bmjj/lxfs.htm" title="联系方式">联系方式</a>
                                </div>
                            </li>
                            <li>
                                 <a href="tzgg/xxtz.htm" title="通知公告">通知公告</a>
                                <div class="two-nav">
                                    <a href="tzgg/xxtz.htm" title="学校通知">学校通知</a>
                                    <a href="tzgg/hyjy.htm" title="会议纪要">会议纪要</a>
                                </div>
                            </li>
                            <li>
                                 <a href="zcfg.htm" title="政策法规">政策法规</a>
                            </li>
                            <li>
                                 <a href="fwzn.htm" title="服务指南">服务指南</a>
                            </li>
                            <li>
                                 <a href="xxgk_bg_.htm" title="信息公开（报告）">信息公开（报告）</a>
                            </li>
                            <li>
                                 <a href="zl.htm" title="周历">周历</a>
                            </li>
                        </ul>
                    </div>
</div>
            
</div>
</div>

<!--导航结束--> 

<!--Banner开始-->
<div class="index-banner">
            <div class="main-visual-wrapper ar_web">
                <section class="swiper-box1 main-visual-slider">
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/1212.png) no-repeat;">
                                        <img src="static/picture/1212.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/22222222.png) no-repeat;">
                                        <img src="static/picture/22222222.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/111111111.jpg) no-repeat;">
                                        <img src="static/picture/111111111.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/555.jpg) no-repeat;">
                                        <img src="static/picture/555.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ban-dot">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </section>
            </div>

</div>



<!--Banner结束-->

<div class="clearfix"></div>

<!--container开始-->

  <div class="w">
  <div class="clearfix">
    <div class="w380 fl mt15" style="background:#ffffff;height:418px;">
      <div class="menu_bt">
        <h3 class="fl kcjs_bg">图片新闻网</h3>
        <div class="fr more"> <a href="tpxww.htm"><img src="static/picture/ga_13.png" width="107" height="10"> </a></div>
      </div>
      <div class="clearfix"></div>
      <div><script language="javascript" src="static/js/centerCutImg.js"></script><div style="margin-left:10px;"><script language="JavaScript" type="text/javascript">
var nn;
nn=1;
setTimeout('change_img()',3000);
function change_img()
{
 try{
 if(nn>4) nn=1
 setTimeout('selectLayer1('+nn+')',3000);
 nn++;
 tt=setTimeout('change_img()',3000);
 }catch(e){}
}
function selectLayer1(i)
{
    try{
  var index = 0;
  var str = "none";
  index = 1;
  if(index == i)
     str = "block";
  else
     str = "none";
  document.getElementById("focusPic1").style.display=str ;
  document.getElementById("focusPic1nav").style.display=str ;
  index = 2;
  if(index == i)
     str = "block";
  else
     str = "none";
  document.getElementById("focusPic2").style.display=str ;
  document.getElementById("focusPic2nav").style.display=str ;
  index = 3;
  if(index == i)
     str = "block";
  else
     str = "none";
  document.getElementById("focusPic3").style.display=str ;
  document.getElementById("focusPic3nav").style.display=str ;
  index = 4;
  if(index == i)
     str = "block";
  else
     str = "none";
  document.getElementById("focusPic4").style.display=str ;
  document.getElementById("focusPic4nav").style.display=str ;
  }catch(e){}
}
</script>
 <div class="c1086574focusPic">
 <div id="focusPic1" style="display:block;">
 <div class="pic"> <div style="overflow:hidden;width:350px;height:263px;"><a href="https://mp.weixin.qq.com/s/IOCBQrMJYiSjKuJRrPpOSg"><img src="static/picture/238BA4F896290BD763907AC3E83_0416458E_79205.png" alt="媒体聚焦 | 《国防教育》：向海图强勇担当——泉州海洋职业学院大力开展国防教育纪实" onload="cutImg(this,'autocut')"></a></div> </div>
 <h2><a href="https://mp.weixin.qq.com/s/IOCBQrMJYiSjKuJRrPpOSg">媒体聚焦 | 《国防教育》：向海图强勇担当——泉州海洋职业学院大力开展国防教育纪实</a></h2>
 <p style="display:none;"><a href="https://mp.weixin.qq.com/s/IOCBQrMJYiSjKuJRrPpOSg">详细</a></p>
 </div>
 <div id="focusPic2" style="display:none;">
 <div class="pic"> <div style="overflow:hidden;width:350px;height:263px;"><a href="https://mp.weixin.qq.com/s/Iikt0oCBxlITsGvFgActMg"><img src="static/picture/EFAA7030088685617D24E49EC66_329B1799_69C03.png" alt="我校召开2024年元旦、春节及寒假期间校园安全工作专题会" onload="cutImg(this,'autocut')"></a></div> </div>
 <h2><a href="https://mp.weixin.qq.com/s/Iikt0oCBxlITsGvFgActMg">我校召开2024年元旦、春节及寒假期间校园安全工作专题会</a></h2>
 <p style="display:none;"><a href="https://mp.weixin.qq.com/s/Iikt0oCBxlITsGvFgActMg">详细</a></p>
 </div>
 <div id="focusPic3" style="display:none;">
 <div class="pic"> <div style="overflow:hidden;width:350px;height:263px;"><a href="https://mp.weixin.qq.com/s/6pFDZ7-fjZ-Ybdc6Ey7aiA"><img src="static/picture/9E9AB6E2727BC07EF173E5757D3_E83F6E29_2E234.jpg" alt="学校召开2023年秋季学期第4次党委扩大会" onload="cutImg(this,'autocut')"></a></div> </div>
 <h2><a href="https://mp.weixin.qq.com/s/6pFDZ7-fjZ-Ybdc6Ey7aiA">学校召开2023年秋季学期第4次党委扩大会</a></h2>
 <p style="display:none;"><a href="https://mp.weixin.qq.com/s/6pFDZ7-fjZ-Ybdc6Ey7aiA">详细</a></p>
 </div>
 <div id="focusPic4" style="display:none;">
 <div class="pic"> <div style="overflow:hidden;width:350px;height:263px;"><a href="https://mp.weixin.qq.com/s/SlqWe3tDpV0aaylVLZ3aYQ"><img src="static/picture/344E593E47BCB642701DDD49A72_790B679A_296F1.jpg" alt="省人大常委会党组副书记、副主任庄稼汉一行莅校调研" onload="cutImg(this,'autocut')"></a></div> </div>
 <h2><a href="https://mp.weixin.qq.com/s/SlqWe3tDpV0aaylVLZ3aYQ">省人大常委会党组副书记、副主任庄稼汉一行莅校调研</a></h2>
 <p style="display:none;"><a href="https://mp.weixin.qq.com/s/SlqWe3tDpV0aaylVLZ3aYQ">详细</a></p>
 </div>
 <div class="c1086574more">
 <div class="textNum">
 <div class="text"><a href="tpxww.htm" class="c1086574">> 更多图片新闻</a></div>
 <div id="focusPic1nav" style="float:right;display:block;">
 <ul>
 <li class="num bg2">1</li>
 <li class="num bg1"><a href="javascript:selectLayer1(2);" target="_self">2</a></li>
 <li class="num bg1"><a href="javascript:selectLayer1(3);" target="_self">3</a></li>
 <li class="num bg3"><a href="javascript:selectLayer1(4);" target="_self">4</a></li>
 </ul>
 </div>
 <div id="focusPic2nav" style="float:right;display:none;">
 <ul>
 <li class="num bg1"><a href="javascript:selectLayer1(1);" target="_self">1</a></li>
 <li class="num bg2">2</li>
 <li class="num bg1"><a href="javascript:selectLayer1(3);" target="_self">3</a></li>
 <li class="num bg3"><a href="javascript:selectLayer1(4);" target="_self">4</a></li>
 </ul>
 </div>
 <div id="focusPic3nav" style="float:right;display:none;">
 <ul>
 <li class="num bg1"><a href="javascript:selectLayer1(1);" target="_self">1</a></li>
 <li class="num bg1"><a href="javascript:selectLayer1(2);" target="_self">2</a></li>
 <li class="num bg2">3</li>
 <li class="num bg3"><a href="javascript:selectLayer1(4);" target="_self">4</a></li>
 </ul>
 </div>
 <div id="focusPic4nav" style="float:right;display:none;">
 <ul>
 <li class="num bg1"><a href="javascript:selectLayer1(1);" target="_self">1</a></li>
 <li class="num bg1"><a href="javascript:selectLayer1(2);" target="_self">2</a></li>
 <li class="num bg1"><a href="javascript:selectLayer1(3);" target="_self">3</a></li>
 <li class="num bg4">4</li>
 </ul>
 </div>
 </div>
 </div>
 </div></div><script>_showDynClickBatch(['dynclicks_u5_2961','dynclicks_u5_2931','dynclicks_u5_2891','dynclicks_u5_2841'],[2961,2931,2891,2841],"wbnews", 1941165919)</script>
</div>
      <div style="height:10px;"></div>
    </div>
    
    <div class="w380 fl ml30 mt15" style="background:#ffffff;">
      <div class="menu_bt">
        <h3 class="fl kcjs_bg">新闻动态</h3>
        <div class="fr more"> <a href="xwdt.htm"><img src="static/picture/ga_13.png" width="107" height="10">  </a></div>
      </div>
      <div class="clearfix"></div><script language="javascript" src="static/js/ajax.js"></script>
 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">01.10</li>
            <li style="color:#333; background:#f2f2f2;">2024</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="https://mp.weixin.qq.com/s/IOCBQrMJYiSjKuJRrPpOSg">媒体聚焦 | 《国防教育》：向海图强...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>



 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">01.03</li>
            <li style="color:#333; background:#f2f2f2;">2024</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="https://mp.weixin.qq.com/s/Iikt0oCBxlITsGvFgActMg">我校召开2024年元旦、春节及寒假期...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>



 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">12.26</li>
            <li style="color:#333; background:#f2f2f2;">2023</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="https://mp.weixin.qq.com/s/6pFDZ7-fjZ-Ybdc6Ey7aiA">学校召开2023年秋季学期第4次党委扩...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>



 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">12.08</li>
            <li style="color:#333; background:#f2f2f2;">2023</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="https://mp.weixin.qq.com/s/SlqWe3tDpV0aaylVLZ3aYQ">省人大常委会党组副书记、副主任庄...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>


<script>_showDynClickBatch(['dynclicks_u6_2971','dynclicks_u6_2941','dynclicks_u6_2881','dynclicks_u6_2851'],[2971,2941,2881,2851],"wbnews", 1941165919)</script>

      <div style="height:10px;"></div>
    </div>
    
    <div class="w380 fr mt15" style="background:#FFF;">
      <div class="menu_bt">
        <h3 class="fl kcjs_bg">通知公告</h3>
        <div class="fr more"> <a href="tzgg/xxtz.htm"><img src="static/picture/ga_13.png" width="107" height="10"> </a> </div>
      </div>
      <div class="clearfix"></div>

      <div>  

 <div class="Notifications2 mt20">
        <p>2023年12月29日 </p>
        <h3><a href="info/1392/2921.htm">2023-2024学年度第4次党委扩大会会议纪要</a></h3>
      </div>

  

 <div class="Notifications2 mt20">
        <p>2023年12月25日 </p>
        <h3><a href="info/1291/2911.htm">关于做好2024年元旦、寒假放假工作安排的通...</a></h3>
      </div>

  

 <div class="Notifications2 mt20">
        <p>2023年11月28日 </p>
        <h3><a href="info/1392/2731.htm">2023-2024学年度第3次党委扩大会会议纪要</a></h3>
      </div>

  

 <div class="Notifications2 mt20" style="border:none;">
        <p>2023年11月01日 </p>
        <h3><a href="info/1392/2521.htm">2023-2024学年度第2次党委扩大会会议纪要</a></h3>
      </div>

<script>_showDynClickBatch(['dynclicks_u7_2921','dynclicks_u7_2911','dynclicks_u7_2731','dynclicks_u7_2521'],[2921,2911,2731,2521],"wbnews", 1941165919)</script>
</div>

      <div style="height:10px;"></div>
    </div>
    
  </div>
</div>
<div class="w txhd mt15" style="background:#FFF; display:none">
<div class="menu_bt menu_bt2">
        <h3 class="fl kcjs_bg">图片新闻网</h3>
        <div class="fr more"> <a href="tpxww.htm" target=""><img src="static/picture/ga_14.png" width="107" height="10"> </a></div>
      </div>
  <div class="txhd_nr"><div class="xysh_nr m-imgtxtq1">
                </div>

</div>    
      
      
</div>



<div class="clearfix"></div>
<div style="background:#e6e6e6;">
  <div class="jz">
    <div class="menu_bt">
      <h3 class="fl kcjs_bg mt10"> 友情链接 </h3>
    </div>
    <div class="clearfix"></div> <ul class="yqlj">

 <li><a href="http://jyt.fujian.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83881)">福建省教育厅</a></li>


  

 <li><a href="http://jyj.quanzhou.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83882)">泉州市教育局</a></li>


  

 <li><a href="https://www.fj.msa.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83880)">福建海事局</a></li>


  

 <li><a href="http://www.cmaritime.com.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83875)">中国海事服务中心</a></li>


  

 <li><a href="http://www.mot.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83876)">中华人民共和国交通运输部</a></li>


  

 <li><a href="http://www.626china.com/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83878)">中国禁毒展览馆</a></li>


  

 <li><a href="index.html#/" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83879)">一站式办事大厅</a></li>


  

 <li><a href="https://exmail.qq.com/login" onclick="_addDynClicks(&#34;wburl&#34;, 1941165919, 83877)">邮箱系统</a></li>


  
</ul>
  </div>
     <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="wrap" style="background: #3e6db5;">
  <div class="w footer">
    <div class="ac">
    
    <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p>
    
   
    </div>
  </div>
</div>



<!--jquery-->

<script type="text/javascript" src="static/js/bdtxk.min1.js"></script>
<script src="static/js/pub.js" type="text/javascript"></script>
<script src="static/js/slick.js"></script>
<!--左滚动特效--> 
  <script>// 校园专题
                $('.m-imgtxtq1').slick({
                    rows: 1,
                    dots: false,
                    arrows: true,
                    autoplay: true,
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    autoplaySpeed: 5000,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 1200,
                        settings: {
                            dots: true,
                            arrows: false
                        }
                    },
                        {
                            breakpoint: 960,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 350,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });</script><!--左滚动特效--> 



<script src="static/js/swiper.min3.js"></script>
<script>
    // banner
    var swiper = new Swiper(".main-visual-slider .swiper-container", {
        loop: true,
        speed: 1200,
        draggable: false,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false
        },
        // allowTouchMove: true,
        // watchSlidesProgress: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        on: {
            slideChangeTransitionStart : function(swiper){
                var swiper = this;
                // 判断swiper-slide-active是否有视频
                if($(".main-visual-slider .swiper-slide-active video").length>0){
                    console.log(1)
                    // 停止自动切换
                    swiper.autoplay.stop();
                    // 动态增加id
                    setTimeout(function(){
                        swiper.autoplay.stop();
                        $(".main-visual-slider .swiper-slide-active video").attr("id","video_01");

                        var _video=document.getElementById("video_01");

                        // 播放视频
                        _video.play();
                        // 切换后重新播放视频
                        _video.currentTime = 0;
                        // 静音
                        _video.volume = 0;
                        // 监听视频播放结束
                        _video.addEventListener('ended', function () {
                            swiper.slideNext();
                            //重新开始轮播banner
                            swiper.autoplay.start();
                        });
                    }, 10);
                }
            },
            slideChangeTransitionEnd: function(swiper){
                //动态移除id
                setTimeout(function(){
                    $(".main-visual-slider .swiper-slide-active video").attr("id","");
                }, 10);
            },
        }
    });
</script>

<!--焦点图特效--> 
<script type="text/javascript" src="static/js/bdtxk.yx_rotaion.js"></script> 
<script type="text/javascript">
    $(".yx-rotaion").yx_rotaion({auto:true});
</script> 



<!--选项卡-->


</body>
</html>
