<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="apple-touch-icon" href="http://www.qzoiedu.com/hygc/images/favicon_logo.png">
<link rel="icon" href="http://www.qzoiedu.com/hygc/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://www.qzoiedu.com/hygc/images/favicon.ico" type="image/x-icon">
<title>海洋工程学院-泉州海洋职业学院</title><meta name="pageType" content="1">
<meta name="pageTitle" content="海洋工程学院-泉州海洋职业学院">
<meta name="keywords" content="海洋工程学院,泉州海洋职业学院">

<link href="static/css/style3.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="static/css/banner1.css">
<link rel="stylesheet" href="static/css/swiper.min.css">

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/xx-sj-tj.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1938603011)</script>
</head>
<body>
<div class="header">
    <div class="w1200">
           <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href=""><img src="static/picture/logohygc.png" alt=""></a></div>
        <div class="i-search fr ">
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83510)">学校主页</a>
</div>
        
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 141px;
        max-width: 600px;
        width: 60%;
        margin-top: 15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1938603011";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <div style="clear:both"></div>
    </div>
    <div class="i-nav"><div id="navbar" class="menubox">
                <div class="w1200">
                    <div class="nav">
                        <ul>
                                                        <li class="dhdqwz">
                                 <a href="" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="xyjj.html" title="学院概况">学院概况</a>
                                <div class="two-nav" style="width:180px; margin-left:-30px;">
                                    <a href="xyjj.html" title="学院简介">学院简介</a>
                                    <a href="xrld.html" title="现任领导">现任领导</a>
                                    <a href="szdw11.html" title="师资队伍">师资队伍</a>
                                    <a href="jgsz.html" title="机构设置">机构设置</a>
                                </div>
                            </li>
                            <li>
                                 <a href="ljgcjs.html" title="专业建设">专业建设</a>
                                <div class="two-nav" style="width:180px; margin-left:-30px;">
                                    <a href="ljgcjs.html" title="轮机工程技术">轮机工程技术</a>
                                    <a href="cbgcjs.html" title="船舶工程技术">船舶工程技术</a>
                                    <a href="jdythjs.html" title="机电一体化技术">机电一体化技术</a>
                                    <a href="hygczbjs.html" title="海洋工程装备技术">海洋工程装备技术</a>
                                    <a href="znkzjs.html" title="智能控制技术">智能控制技术</a>
                                    <a href="qczzysyjs.html" title="汽车制造与试验技术">汽车制造与试验技术</a>
                                    <a href="syhgjs.html" title="石油化工技术">石油化工技术</a>
                                    <a href="gyjqrjs.html" title="工业机器人技术">工业机器人技术</a>
                                </div>
                            </li>
                            <li>
                                 <a href="jycg.html" title="教学科研">教学科研</a>
                                <div class="two-nav" style="width:180px; margin-left:-30px;">
                                    <a href="jycg.html" title="教研成果">教研成果</a>
                                    <a href="cxyhz.html" title="产学研合作">产学研合作</a>
                                </div>
                            </li>
                            <li>
                                 <a href="sxsb1.html" title="实训设备">实训设备</a>
                            </li>
                            <li>
                                 <a href="zwcy.html" title="党建工作">党建工作</a>
                                <div class="two-nav" style="width:180px; margin-left:-30px;">
                                    <a href="zwcy.html" title="支委成员">支委成员</a>
                                    <a href="djdt.html" title="党建动态">党建动态</a>
                                    <a href="xxyd.html" title="学习园地">学习园地</a>
                                </div>
                            </li>
                            <li>
                                 <a href="xgdw.html" title="学生管理">学生管理</a>
                                <div class="two-nav" style="width:180px; margin-left:-30px;">
                                    <a href="xgdw.html" title="学工队伍">学工队伍</a>
                                    <a href="gzzd.html" title="规章制度">规章制度</a>
                                    <a href="txhd.html" title="团学活动">团学活动</a>
                                    <a href="zzgz.html" title="资助工作">资助工作</a>
                                    <a href="zyfw.html" title="志愿服务">志愿服务</a>
                                    <a href="jkxl.html" title="健康心理">健康心理</a>
                                </div>
                            </li>
                            <li>
                                 <a href="jycy1.html" title="就业创业">就业创业</a>
                            </li>
                            <li>
                                 <a href="tsqd.html" title="信息公开">信息公开</a>
                                <div class="two-nav" style="width:180px; margin-left:-30px;">
                                    <a href="tsqd.html" title="投诉渠道">投诉渠道</a>
                                    <a href="tzgg1.html" title="通知公告">通知公告</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
</div>
</div>

<!--banner-->
<div class="index-banner">
            <div class="main-visual-wrapper ar_web">
                <section class="swiper-box1 main-visual-slider">
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(http://www.qzoiedu.com/hygc/js/haigongfengmiantu2.jpg) no-repeat;">
                                        <img src="http://www.qzoiedu.com/hygc/js/haigongfengmiantu2.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/5c87871637897.jpg) no-repeat;">
                                        <img src="static/picture/5c87871637897.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(http://www.qzoiedu.com/hygc/images/3.jpg) no-repeat;">
                                        <img src="http://www.qzoiedu.com/hygc/images/3.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ban-dot">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </section>
            </div>

</div>
<!--新闻中心开始-->
<div class="news_box">
<div class="w1200">
 <div class="i-title"><h2>学院动态<span style="display:none;">News</span></h2><a href="xydt1.html">More+</a></div>
<!--左图开始-->
<script language="javascript" src="static/js/centerCutImg.js"></script><script language="javascript" src="static/js/ajax.js"></script><div class="news_box_left">
            <div class="tj_img"><a href="3641.html" target="_blank" title="海洋工程学院团委2023年度总结表彰大会"><img src="static/picture/FB8CDB3CB1EB5F097AA617699AC_1321B3C8_1A4D6.jpg" alt="" class="imghover"></a></div>
            <div class="tj_title"><a href="3641.html" target="_blank" title="海洋工程学院团委2023年度总结表彰大会">海洋工程学院团委2023年度总结表彰大会</a> </div>
            <div class="tj_time" style="display:none;">2024年01月04日 【来源：】</div>
            <div class="tj_zy" style="display:none;"><a href="3641.html">2024年1月3日晚，海洋工程学院团委2023年度总结表彰大会在2204报告厅举行。学生工作与发展部部长张君，校团委书记兼学生工作与发展部副部长屈先锋，海洋工程学院党支部书记周甜、党支部副书记俞建梁，学生工作与发展部思政科科长蔡岱宏，航海交通学院团委书记陈欣欣，海洋工程学院团委书记黄明芳及全体辅导员出席本次大会。全体与会人员奏唱国歌大会伊始，团委书记黄明芳做2023年度学院团委工作总结。黄明芳书记从思想引领、团学活动、...</a></div>
        </div>
<script>_showDynClickBatch(['dynclicks_u5_3641'],[3641],"wbnews", 1938603011)</script>

<div class="news_box_left2"> <div class="main_img">
                    <div class="swiper-container4">
                        <div class="swiper-wrapper">
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="3641.html" target="_blank"><img src="static/picture/FB8CDB3CB1EB5F097AA617699AC_1321B3C8_1A4D6.jpg"></a>
                                    <span><a href="3641.html" target="_blank" title="海洋工程学院团委2023年度总结表彰大会">海洋工程学院团委2023年度总结表彰大会</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="3601.html" target="_blank"><img src="static/picture/460F22110ACD5D71B1CAD014CE6_7C3416C8_12C91.jpg"></a>
                                    <span><a href="3601.html" target="_blank" title="凝心聚力，奋楫扬帆｜海工召开辅导员年终述职大会">凝心聚力，奋楫扬帆｜海工召开辅导员年终述职大会</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="3481.html" target="_blank"><img src="static/picture/0909E58C66FA79549D298D82674_C613F4C3_16B5B.jpg"></a>
                                    <span><a href="3481.html" target="_blank" title="内务比拼 | 海工&amp;国防举行叠被子比赛">内务比拼 | 海工&amp;国防举行叠被子比赛</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="3471.html" target="_blank"><img src="static/picture/837FF846668656F17132D14664A_4649E5B0_14A89.jpg"></a>
                                    <span><a href="3471.html" target="_blank" title="海洋工程学院举行新团员入团仪式">海洋工程学院举行新团员入团仪式</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="3451.html" target="_blank"><img src="static/picture/96EBF2E98BCF69EF1485BD68580_A90590F9_1E199.jpg"></a>
                                    <span><a href="3451.html" target="_blank" title="祥芝派出所到我院开展反诈宣讲">祥芝派出所到我院开展反诈宣讲</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
</div>
                        <div class="container">
                            <div class="col-xs-12"><div class="swiper-pagination"></div></div>
                        </div>
                    </div>
                </div><script>_showDynClickBatch(['dynclicks_u6_3641','dynclicks_u6_3601','dynclicks_u6_3481','dynclicks_u6_3471','dynclicks_u6_3451'],[3641,3601,3481,3471,3451],"wbnews", 1938603011)</script>
</div>
<!--左图结束-->
  <div class="news_box_right">
<!--右边首条开始-->
<div class="top_title"><a href="3641.html" target="_blank" title="海洋工程学院团委2023年度总结表彰大会">海洋工程学院团委2023年度总结表彰大会</a></div>
            <div class="top_time" style="display:none;">2024年01月04日 【来源：】</div>
            <div class="top_zy"><a href="3641.html">2024年1月3日晚，海洋工程学院团委2023年度总结表彰大会在2204报告厅举行。学生工作与发展部部长张君，校团委书记兼学生工作与发展部副部长屈先锋，海洋工程学院党支部书…</a></div>
<script>_showDynClickBatch(['dynclicks_u7_3641'],[3641],"wbnews", 1938603011)</script>


<!--右边首条结束-->
<!--右边列表开始-->
<ul class="n_list" style="margin: 20px 0 0px 0">
<li><span class="date">2023/12/31</span><a href="3601.html" target="_blank" title="凝心聚力，奋楫扬帆｜海工召开辅导员年终述职大会">凝心聚力，奋楫扬帆｜海工召开辅导员年终述职大会</a> </li>
<li><span class="date">2023/12/21</span><a href="3561.html" target="_blank" title="海工“心随影动，感悟本我”心理观影活动圆满落幕">海工“心随影动，感悟本我”心理观影活动圆满落幕</a> </li>
<li><span class="date">2023/12/15</span><a href="3481.html" target="_blank" title="内务比拼 | 海工&amp;国防举行叠被子比赛">内务比拼 | 海工&amp;国防举行叠被子比赛</a> </li>
<li><span class="date">2023/12/15</span><a href="3471.html" target="_blank" title="海洋工程学院举行新团员入团仪式">海洋工程学院举行新团员入团仪式</a> </li>
<li><span class="date">2023/12/15</span><a href="3451.html" target="_blank" title="祥芝派出所到我院开展反诈宣讲">祥芝派出所到我院开展反诈宣讲</a> </li>
<li><span class="date">2023/12/07</span><a href="3421.html" target="_blank" title="海洋工程学院召开教学教研会议">海洋工程学院召开教学教研会议</a> </li>
</ul><script>_showDynClickBatch(['dynclicks_u8_3641','dynclicks_u8_3601','dynclicks_u8_3561','dynclicks_u8_3481','dynclicks_u8_3471','dynclicks_u8_3451','dynclicks_u8_3421'],[3641,3601,3561,3481,3471,3451,3421],"wbnews", 1938603011)</script>

<!--右边列表结束-->
</div>
</div>
</div>
<!--新闻中心结束-->
<div style="clear: both;"></div>
<!--tzgg-->
<div class="i-tzgg">
    <div class="w1200"><div class="i-title" style="border-bottom: #3e6db5 1px solid"><h2>教学科研<span style="display:none">Notes</span></h2><a href="jycg.html">More+</a></div>
 <div class="tz_box_nr">
 <div class="tz_list">
                <div class="tz_date"><span>29</span>2023-06</div>
                <div class="tz_txt">
                    <h1><a href="2241.html" target="_blank" title="我院获2022年校级教学成果特等奖">我院获2022年校级教学成果特等奖</a></h1>
                    <p><a href="2241.html">简介：http://10.220.220.86:8080/system/login.jsp<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
 <div class="tz_list">
                <div class="tz_date"><span>20</span>2023-07</div>
                <div class="tz_txt">
                    <h1><a href="2461.html" target="_blank" title="课程思政｜我院与中国教育在线召开共建项目推进会">课程思政｜我院与中国教育在线召开共建项目推进会</a></h1>
                    <p><a href="2461.html">简介：7月17日，泉州海洋职业学院海洋工程学院与中国教育在线平台开展的“课程思政专业元素库资源共建项目"推进会在线上...<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
 <div class="tz_list">
                <div class="tz_date"><span>13</span>2023-07</div>
                <div class="tz_txt">
                    <h1><a href="2431.html" target="_blank" title="访企拓岗｜海洋工程学院走进晋江百宏参观调研">访企拓岗｜海洋工程学院走进晋江百宏参观调研</a></h1>
                    <p><a href="2431.html">简介：2023年7月12日，海洋工程学院副院长林杰民、党支部书记周甜、办公室主任柯洋洋一行走进晋江百宏实业控股有限公司（...<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
 <div class="tz_list">
                <div class="tz_date"><span>27</span>2023-06</div>
                <div class="tz_txt">
                    <h1><a href="14611.html" target="_blank" title="海洋工程学院教育成果简介">海洋工程学院教育成果简介</a></h1>
                    <p><a href="14611.html">简介：以赛促教强技能，硕果累累喜人心三教改革成效显，凝心聚力勇担当学院积极参加国赛省赛，在全国职业院校焊接大赛中...<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
        </div><script>_showDynClickBatch(['dynclicks_u9_2241','dynclicks_u9_2461','dynclicks_u9_2431','dynclicks_u9_1461'],[2241,2461,2431,1461],"wbnews", 1938603011)</script>
</div>
</div>
<!--xsgz-->
<div class="i-xsgz">
    <div class="w1200">
        <div class="i-xsgz-left">            <div class="i-title"><h2>党建工作<span style="display:none;">Student work</span></h2><a href="djdt.html">More+</a></div>
            <ul class="n_list" style="margin: 20px 0 0px 0">
   <li><span class="date">2023/10/28</span><a href="3051.html" target="_blank" title="全覆盖 | 海洋工程学院高效开展主题教育">全覆盖 | 海洋工程学院高效开展主题教育</a></li>
   <li><span class="date">2023/10/27</span><a href="3021.html" target="_blank" title="海洋工程学院召开宣传思想文化工作专题会">海洋工程学院召开宣传思想文化工作专题会</a></li>
   <li><span class="date">2023/10/25</span><a href="2971.html" target="_blank" title="海洋工程学院党支部召开主题教育专题学习会">海洋工程学院党支部召开主题教育专题学习会</a></li>
   <li><span class="date">2023/10/12</span><a href="2841.html" target="_blank" title="海洋工程学院党支部召开全体党员大会">海洋工程学院党支部召开全体党员大会</a></li>
   <li><span class="date">2023/09/28</span><a href="2701.html" target="_blank" title="海洋工程学院师生走进中国闽台缘博物馆">海洋工程学院师生走进中国闽台缘博物馆</a></li>
   <li><span class="date">2023/06/25</span><a href="1371.html" target="_blank" title="海洋工程党支部支委成员">海洋工程党支部支委成员</a></li>
</ul><script>_showDynClickBatch(['dynclicks_u10_3051','dynclicks_u10_3021','dynclicks_u10_2971','dynclicks_u10_2841','dynclicks_u10_2701','dynclicks_u10_1371'],[3051,3021,2971,2841,2701,1371],"wbnews", 1938603011)</script>
</div>
        <div class="i-xsgz-right"><div class="i-title"><h2>学生管理<span style="display:none;">Mass work</span></h2><a href="zyfw.html">More+</a></div>
  <ul class="n_list" style="margin: 20px 0 0px 0">
   <li><span class="date">2023/12/16</span><a href="3491.html" target="_blank" title="工匠海工 | 爱车养护站开展汽车维修培训">工匠海工 | 爱车养护站开展汽车维修培训</a></li>
   <li><span class="date">2023/12/21</span><a href="3581.html" target="_blank" title="海工开展反恐防暴宣传教育活动">海工开展反恐防暴宣传教育活动</a></li>
   <li><span class="date">2023/12/15</span><a href="3461.html" target="_blank" title="荧光夜跑｜“荧接燃冬，跑向未来”圆满收官">荧光夜跑｜“荧接燃冬，跑向未来”圆满收官</a></li>
   <li><span class="date">2023/12/11</span><a href="3431.html" target="_blank" title="辩论赛半决赛｜“展青年担当，扬思辨热潮”">辩论赛半决赛｜“展青年担当，扬思辨热潮”</a></li>
   <li><span class="date">2023/12/03</span><a href="3381.html" target="_blank" title="世界艾滋病日|“防艾有我！凝聚社会力量”主题宣传活">世界艾滋病日|“防艾有我！凝聚社会力量”主题宣传活</a></li>
   <li><span class="date">2023/11/23</span><a href="3331.html" target="_blank" title="篮球赛｜全力以赴，迎“篮”而上，这一次“入八强”">篮球赛｜全力以赴，迎“篮”而上，这一次“入八强”</a></li>
</ul><script>_showDynClickBatch(['dynclicks_u11_3491','dynclicks_u11_3581','dynclicks_u11_3461','dynclicks_u11_3431','dynclicks_u11_3381','dynclicks_u11_3331'],[3491,3581,3461,3431,3381,3331],"wbnews", 1938603011)</script>
</div>
    </div>
</div>

<!--xsgz-->
<div class="i-xsgz">
    <div class="w1200">
        <div class="i-xsgz-left" style="margin-bottom:30px;"><div class="i-title"><h2>实训设备<span style="display:none;">Mass work</span></h2><a href="sxsb1.html">More+</a></div>
  <ul class="n_list" style="margin: 20px 0 0px 0">
   <li><span class="date">2023/03/31</span><a href="1171.html" target="_blank" title="轮机模拟器实训">轮机模拟器实训</a></li>
   <li><span class="date">2023/03/31</span><a href="info/1021/1181.htm" target="_blank" title="船舶动力装置操作间">船舶动力装置操作间</a></li>
   <li><span class="date">2023/03/31</span><a href="info/1021/1151.htm" target="_blank" title="动力设备拆装">动力设备拆装</a></li>
   <li><span class="date">2023/03/31</span><a href="info/1021/1191.htm" target="_blank" title="车床实验室">车床实验室</a></li>
   <li><span class="date">2023/03/31</span><a href="info/1021/1141.htm" target="_blank" title="气焊实验室">气焊实验室</a></li>
   <li><span class="date">2018/10/08</span><a href="info/1021/1131.htm" target="_blank" title="钳工实验室">钳工实验室</a></li>
</ul><script>_showDynClickBatch(['dynclicks_u12_1171','dynclicks_u12_1181','dynclicks_u12_1151','dynclicks_u12_1191','dynclicks_u12_1141','dynclicks_u12_1131'],[1171,1181,1151,1191,1141,1131],"wbnews", 1938603011)</script>
</div>
    <div style="clear:both"></div>
    </div>
</div>




<!--end-->
<div class="end">
<div class="w1200">
    <div class="end_left">
        <div class="i-title" style="border-bottom: none;  margin:20px 0 0  0"><h2 style=" color: #ffffff">友情链接 / <span>Link</span></h2></div>
        <div class="i-yqlj"><a href="http://jyt.fujian.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83508)">福建省教育厅</a>
<a href="http://jyj.quanzhou.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83509)">泉州市教育局</a>
<a href="https://www.fj.msa.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83507)">福建海事局</a>
<a href="http://www.cmaritime.com.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83502)">中国海事服务中心</a>
<a href="http://www.mot.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83503)">中华人民共和国交通运输部</a>
<a href="http://www.626china.com/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83505)">中国禁毒展览馆</a>
<a href="index.html#/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83506)">一站式办事大厅</a>
<a href="https://exmail.qq.com/login" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938603011, 83504)">邮箱系统</a>
</div>

        <div class="copright"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p></div>
    </div>
    <div class="end_right">
        <div class="wx_sm">    <table align="center">
            <tr>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/wenmomingpian.png" border="0" height="110">
                     
                </td>
        </tr>
</table></div>
    </div>
</div>
</div>



<script type="text/javascript" src="static/js/jquery1.js"></script>
<script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
 
                
<script type="text/javascript" src="static/js/jquerybdtxk1.js"></script>
<script src="static/js/pub2.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="js/html5.js" type="text/javascript"></script>
    <![endif]-->
<script src="static/js/slick.js"></script>
<script>// 校园专题
                $('.m-imgtxtq1').slick({
                    rows: 1,
                    dots: false,
                    arrows: true,
                    autoplay: true,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    autoplaySpeed: 5000,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 1200,
                        settings: {
                            dots: true,
                            arrows: false
                        }
                    },
                        {
                            breakpoint: 960,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 350,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });</script>
                
 <script src="static/js/swiper.min2.js"></script>
<script>
    // banner
    var swiper = new Swiper(".main-visual-slider .swiper-container", {
        loop: true,
        speed: 1200,
        draggable: false,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false
        },
        // allowTouchMove: true,
        // watchSlidesProgress: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        on: {
            slideChangeTransitionStart : function(swiper){
                var swiper = this;
                // 判断swiper-slide-active是否有视频
                if($(".main-visual-slider .swiper-slide-active video").length>0){
                    console.log(1)
                    // 停止自动切换
                    swiper.autoplay.stop();
                    // 动态增加id
                    setTimeout(function(){
                        swiper.autoplay.stop();
                        $(".main-visual-slider .swiper-slide-active video").attr("id","video_01");

                        var _video=document.getElementById("video_01");

                        // 播放视频
                        _video.play();
                        // 切换后重新播放视频
                        _video.currentTime = 0;
                        // 静音
                        _video.volume = 0;
                        // 监听视频播放结束
                        _video.addEventListener('ended', function () {
                            swiper.slideNext();
                            //重新开始轮播banner
                            swiper.autoplay.start();
                        });
                    }, 10);
                }
            },
            slideChangeTransitionEnd: function(swiper){
                //动态移除id
                setTimeout(function(){
                    $(".main-visual-slider .swiper-slide-active video").attr("id","");
                }, 10);
            },
        }
    });
</script>
 <!--新闻轮播图开始-->
<script src="static/js/swiper.min2.js"></script>
<script>
    $(function () {
        // 轮播初始化
        new Swiper(".index-banner", {
            loop: true,
            autoplay: {
                delay: 5000,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            on: {
                init: function (swiper) {
                    var total = "0" + ($(".index-banner .swiper-slide").length - 2);
                    total = total.substring(total.length - 2);
                    $(".total").text(total);
                },
                slideChangeTransitionEnd: function () {
                    var current = "0" + (this.realIndex + 1);
                    current = current.substring(current.length - 2);
                    $(".current").text(current);
                },
            },
        });
        new Swiper(".swiper-container4", {
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },

            autoplay: {
                delay: 5000,
            }


        });
        new Swiper(".person-sdnu-swiper", {
            loop: true,
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        $(".ham").on("click", function () {
            $(".english").toggle();

            if ($(".header-mp-nav").hasClass("active")) {
                $(".header-mp-nav").removeClass("active");
                $(this).attr("src", "images/ham.svg");
            } else {
                $(".header-mp-nav").addClass("active");
                $(this).attr("src", "images/x.png");
            }
        });

        $(".header-mp-nav").on("click", function (e) {
            if (e.target.className == "header-mp-nav active") {
                $(".header-mp-nav").removeClass("active");
                $(".ham").attr("src", "images/ham.svg");
            }
        });
    });
</script>
<!--新闻轮播图结束--> 
</body>  
</html>
 
