<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="apple-touch-icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon_logo.png">
<link rel="icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://www.qzoiedu.com/hhjtxy/images/favicon.ico" type="image/x-icon">
    <title>就业创业-航海交通学院-泉州海洋职业学院</title><meta name="pageType" content="2">
<meta name="pageTitle" content="就业创业">
<meta name="keywords" content="航海交通学院,泉州海洋职业学院,网上展厅">

    <link href="static/css/style2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery1.js"></script>
    <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>

    <script src="static/js/pub2.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="js/html5.js" type="text/javascript"></script>
    <![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/xx-sj-tj.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1022,'/list.jsp',-1,1936451120)</script>
</head>
<body>
<div class="header">
    <div class="w1200">
           <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="hhjtxy.html"><img src="static/picture/logohhjt.png" alt=""></a></div>
        <div class="i-search fr ">
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83392)">学校主页</a>
</div>
        
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 141px;
        max-width: 600px;
        width: 60%;
        margin-top: 15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1936451120";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <div style="clear:both"></div>
    </div>
    <div class="i-nav"><div id="navbar" class="menubox">
                <div class="w1200">
                    <div class="nav">
                        <ul>
                                                        <li>
                                 <a href="hhjtxy.html" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="xygk1.html" title="学院概况">学院概况</a>
                            </li>
                            <li>
                                 <a href="hhjszy.html" title="学院专业">学院专业</a>
                                <div class="two-nav">
                                    <a href="hhjszy.html" title="航海技术专业">航海技术专业</a>
                                    <a href="kzcwzy.html" title="空中乘务专业">空中乘务专业</a>
                                    <a href="gstlkycwzy.html" title="高速铁路客运乘务专业">高速铁路客运乘务专业</a>
                                    <a href="gjylcwglzy.html" title="国际邮轮乘务管理专业">国际邮轮乘务管理专业</a>
                                </div>
                            </li>
                            <li>
                                 <a href="szdw1.html" title="师资队伍">师资队伍</a>
                            </li>
                            <li>
                                 <a href="sxsb.html" title="实训设备">实训设备</a>
                            </li>
                            <li class="dhdqwz">
                                 <a href="" title="就业创业">就业创业</a>
                            </li>
                            <li>
                                 <a href="zyzs.html" title="职业证书">职业证书</a>
                            </li>
                            <li>
                                 <a href="ssfc.html" title="师生风采">师生风采</a>
                            </li>
                            <li>
                                 <a href="zlzx.html" title="资料中心">资料中心</a>
                            </li>
                            <li>
                                 <a href="lxwm2.html" title="联系我们">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
</div>
</div>
<!--listbanner-->
<div class="list_banner">
                            <img src="static/picture/list_banner01.jpg" border="0">
                
            
</div>
<div class="this_map">
    <div class="w1200">
        <div class="this_name"><h1>就业创业</h1><span></span></div>

        <div class="this_dqwz">
            
<h2>就业创业</h2>
            <a href="#" class="ico_home"><img src="static/picture/ico_home.png" alt=""></a>
                <a href="hhjtxy.html">首页</a>
                >>
                <a href="">就业创业</a>
</div>
    </div>
</div>
<!--主要内容开始-->
<div class="list_main">
    <div class="list_main_left">
        <div class="list_sub">
            
        </div>
    </div>
    <div class="list_main_right">
        <div class="list_box">
            <script language="javascript" src="static/js/centerCutImg.js"></script><script language="javascript" src="static/js/ajax.js"></script>    <ul>
            <li id="line_u9_0">
            <a href="3169.html" target="_blank" title="航海交通学院开展就业创业指导课暨办公软件技能培训会">航海交通学院开展就业创业指导课暨办公软件技能培训会</a><span>2023/02/25</span></li>
       
        <li id="line_u9_1">
            <a href="3159.html" target="_blank" title="航海交通学院开展高校就业创业指导活动讲座">航海交通学院开展高校就业创业指导活动讲座</a><span>2022/11/21</span></li>
       
        <li id="line_u9_2">
            <a href="3149.html" target="_blank" title="学院新闻 | 航海交通学院开展就业创业指导活动">学院新闻 | 航海交通学院开展就业创业指导活动</a><span>2022/11/16</span></li>
       
        <li id="line_u9_3">
            <a href="3139.html" target="_blank" title="航海在线：2021届毕业生双选会">航海在线：2021届毕业生双选会</a><span>2020/09/29</span></li>
       
        <li id="line_u9_4">
            <a href="3129.html" target="_blank" title="我院成功举行2019届毕业生校园双选会">我院成功举行2019届毕业生校园双选会</a><span>2018/12/08</span></li>
       
        <li id="line_u9_5">
            <a href="3119.html" target="_blank" title="福建海运集团有限责任公司">福建海运集团有限责任公司</a><span>2018/10/09</span></li>
       
        <li id="line_u9_6">
            <a href="info/1022/3109.htm" target="_blank" title="厦门海隆对外劳务合作有限公司">厦门海隆对外劳务合作有限公司</a><span>2018/09/09</span></li>
       
        <li id="line_u9_7">
            <a href="info/1022/3099.htm" target="_blank" title="中泉船务公司">中泉船务公司</a><span>2018/09/08</span></li>
       
        <li id="line_u9_8">
            <a href="info/1022/3089.htm" target="_blank" title="泉州捷洋供应链管理有限公司">泉州捷洋供应链管理有限公司</a><span>2018/08/31</span></li>
       
        <li id="line_u9_9">
            <a href="info/1022/3079.htm" target="_blank" title="德邦快递">德邦快递</a><span>2018/08/30</span></li>
       
    </ul>
<link rel="stylesheet" content-type="text/css" href="static/css/sys.css"><div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top:10px;text-align:center;"><span class="p_pages"><span class="p_first_d p_fun_d">首页</span><span class="p_prev_d p_fun_d">上页</span><span class="p_no_d">1</span><span class="p_next_d p_fun_d">下页</span><span class="p_last_d p_fun_d">尾页</span></span></div>
<script>_showDynClickBatch(['dynclicks_u9_3169','dynclicks_u9_3159','dynclicks_u9_3149','dynclicks_u9_3139','dynclicks_u9_3129','dynclicks_u9_3119','dynclicks_u9_3109','dynclicks_u9_3099','dynclicks_u9_3089','dynclicks_u9_3079'],[3169,3159,3149,3139,3129,3119,3109,3099,3089,3079],"wbnews", 1936451120)</script>
        </div>
  
    </div>
</div>
<!--主要内容结束-->

<!--end-->
<div class="end">
<div class="w1200">
    <div class="end_left">
        <div class="i-title" style="border-bottom: none;  margin:20px 0 0  0"><h2 style=" color: #ffffff">友情链接 / <span>Link</span></h2></div>
        <div class="i-yqlj"><a href="http://jyt.fujian.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83384)">福建省教育厅</a>
<a href="http://jyj.quanzhou.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83385)">泉州市教育局</a>
<a href="https://www.fj.msa.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83391)">福建海事局</a>
<a href="http://www.cmaritime.com.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83386)">中国海事服务中心</a>
<a href="http://www.mot.gov.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83387)">中华人民共和国交通运输部</a>
<a href="http://www.626china.com/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83389)">中国禁毒展览馆</a>
<a href="index.html#/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83390)">一站式办事大厅</a>
<a href="https://exmail.qq.com/login" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1936451120, 83388)">邮箱系统</a>
</div>

        <div class="copright"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p></div>
    </div>
    <div class="end_right">
        <div class="wx_sm">    <table align="center">
            <tr>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/wx.jpg" border="0" height="110">
                    微信 
                </td>
                <td align="center" style="color:#fff;">
                        <img src="static/picture/jf.jpg" border="0" height="110">
                    缴费 
                </td>
        </tr>
</table></div>
    </div>
</div>
</div>

</body>
</html>
