<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0">
<title>科技处-泉州海洋职业学院</title><meta name="pageType" content="1">
<meta name="pageTitle" content="科技处-泉州海洋职业学院">
<meta name="keywords" content="科技处,泉州海洋职业学院">

<link type="text/css" rel="stylesheet" href="static/css/style12.css">
<link rel="stylesheet" href="static/css/swiper.min.css">

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/xx-sj-tj.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1938587729)</script>
</head>
<body style=" background:#f3f3f3;">

<!--顶部开始-->

<div class="wrap" style=" background:#3e6db5;border-bottom:solid 1px #2f61ac;">
  <div class="w">
    <div class="toubu"> 
      
      <!--logo开始-->
      <div class="logo fl">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm" title="科技处"><img src="static/picture/logo11.png"></a></div>
      <!--logo结束-->
      
      <div class="search fr"> 
        
        <!--设为首页/加入收藏开始-->
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83537)">学校主页</a>
</div>
        <div class="clearfix"></div>
        <!--设为首页/加入收藏结束--> 
        
        <!--搜索开始-->
      <div class="search_box">


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
       
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1938587729";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <!--搜索结束--> 
        
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--顶部结束--> 

<!--导航开始-->

<div class="wrap bg_color">
  <div class="w Navigation"><div id="navbar" class="menubox">
                    <div class="nav">
                        <ul>
                                                        <li class="dhdqwz">
                                 <a href="index.htm" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="bmgk.htm" title="部门概况">部门概况</a>
                            </li>
                            <li>
                                 <a href="kjxw.htm" title="科技新闻">科技新闻</a>
                            </li>
                            <li>
                                 <a href="tzgg/sbtz.htm" title="通知公告">通知公告</a>
                                <div class="two-nav">
                                    <a href="tzgg/sbtz.htm" title="申报通知">申报通知</a>
                                    <a href="tzgg/lxtz.htm" title="立项通知">立项通知</a>
                                    <a href="tzgg/qt.htm" title="其他">其他</a>
                                </div>
                            </li>
                            <li>
                                 <a href="xzzx.htm" title="下载中心">下载中心</a>
                            </li>
                            <li>
                                 <a href="gzzd/gj.htm" title="规章制度">规章制度</a>
                                <div class="two-nav">
                                    <a href="gzzd/gj.htm" title="国家">国家</a>
                                    <a href="gzzd/sj.htm" title="省级">省级</a>
                                    <a href="gzzd/s_x_j.htm" title="市（县）级">市（县）级</a>
                                    <a href="gzzd/xj.htm" title="校级">校级</a>
                                </div>
                            </li>
                            <li>
                                 <a href="bszn.htm" title="办事指南">办事指南</a>
                            </li>
                            <li>
                                 <a href="kycg/zl.htm" title="科研成果">科研成果</a>
                                <div class="two-nav">
                                    <a href="kycg/zl.htm" title="专利">专利</a>
                                    <a href="kycg/lw.htm" title="论文">论文</a>
                                    <a href="kycg/qt.htm" title="其他">其他</a>
                                </div>
                            </li>
                            <li>
                                 <a href="xbbjb.htm" title="学报编辑部">学报编辑部</a>
                            </li>
                        </ul>
                    </div>
</div>
            
</div>
</div>

<!--导航结束--> 

<!--Banner开始-->
<div class="index-banner">
            <div class="main-visual-wrapper ar_web">
                <section class="swiper-box1 main-visual-slider">
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/555.jpg) no-repeat;">
                                        <img src="static/picture/555.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/444.jpg) no-repeat;">
                                        <img src="static/picture/444.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/333.jpg) no-repeat;">
                                        <img src="static/picture/333.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ban-dot">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </section>
            </div>

</div>



<!--Banner结束-->

<div class="clearfix"></div>

<!--container开始-->

  <div class="w">
  <div class="clearfix">
    <div class="w380 fl mt15" style="background:#ffffff;height:418px;">
      <div class="menu_bt">
        <h3 class="fl kcjs_bg">科技新闻</h3>
        <div class="fr more"> <a href="kjxw.htm"><img src="static/picture/ga_13.png" width="107" height="10"> </a></div>
      </div>
      <div class="clearfix"></div><script language="javascript" src="static/js/centerCutImg.js"></script><script language="javascript" src="static/js/ajax.js"></script>  

 <div class="Notifications2 mt20">
        <p>2023年10月19日 </p>
        <h3><a href="info/1281/2061.htm">泉州市创新大会石狮专场海洋科技成果对接会...</a></h3>
      </div>

  

 <div class="Notifications2 mt20">
        <p>2023年10月17日 </p>
        <h3><a href="info/1281/2071.htm">喜报 | 我校申报三项福建省教育科学“十四五...</a></h3>
      </div>

  

 <div class="Notifications2 mt20">
        <p>2023年03月14日 </p>
        <h3><a href="info/1281/1051.htm">我校首次课题结题验收会圆满结束！</a></h3>
      </div>

  

 <div class="Notifications2 mt20" style="border:none;">
        <p>2022年11月04日 </p>
        <h3><a href="info/1281/1041.htm">【喜报】我校教师彭正海、黄元臻获省职业教...</a></h3>
      </div>

<script>_showDynClickBatch(['dynclicks_u5_2061','dynclicks_u5_2071','dynclicks_u5_1051','dynclicks_u5_1041'],[2061,2071,1051,1041],"wbnews", 1938587729)</script>

      <div style="height:10px;"></div>
    </div>
    
    <div class="w380 fl ml30 mt15" style="background:#ffffff;">
      <div class="menu_bt">
        <h3 class="fl kcjs_bg">通知公告</h3>
        <div class="fr more"> <a href="tzgg/sbtz.htm"><img src="static/picture/ga_13.png" width="107" height="10">  </a></div>
      </div>
      <div class="clearfix"></div>
 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">12.22</li>
            <li style="color:#333; background:#f2f2f2;">2023</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="info/1363/2221.htm">【统计】泉海院科〔2023〕18号 关于...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>



 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">12.22</li>
            <li style="color:#333; background:#f2f2f2;">2023</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="info/1271/2211.htm">【统计】泉海院科〔2023〕18号 关于...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>



 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">12.21</li>
            <li style="color:#333; background:#f2f2f2;">2023</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="info/1271/2201.htm">【申报】泉海院科〔2023〕17号 关于...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>



 <div class="Academic mt20">
        <div class="Academic_time fl">
          <ul>
            <li style="color:#fff;background:#3e6db5;">12.18</li>
            <li style="color:#333; background:#f2f2f2;">2023</li>
          </ul>
        </div>
        <div class="Academic_content fl ml10">
          <h3><a href="info/1363/2191.htm">【结题】泉海院科〔2023〕16号 关于...</a></h3>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>


<script>_showDynClickBatch(['dynclicks_u6_2221','dynclicks_u6_2211','dynclicks_u6_2201','dynclicks_u6_2191'],[2221,2211,2201,2191],"wbnews", 1938587729)</script>

      <div style="height:10px;"></div>
    </div>
    
    <div class="w380 fr mt15" style="background:#FFF;">
      <div class="menu_bt">
        <h3 class="fl kcjs_bg">下载中心</h3>
        <div class="fr more"> <a href="xzzx.htm"><img src="static/picture/ga_13.png" width="107" height="10"> </a> </div>
      </div>
      <div class="clearfix"></div>

      <div>  

 <div class="Notifications2 mt20">
        <p>2023年04月23日 </p>
        <h3><a href="info/1291/1541.htm">福建省职业教育中心课题材料下载</a></h3>
      </div>

  

 <div class="Notifications2 mt20">
        <p>2023年03月14日 </p>
        <h3><a href="info/1291/1531.htm">中文核心期刊目录</a></h3>
      </div>

  

 <div class="Notifications2 mt20">
        <p>2022年11月08日 </p>
        <h3><a href="info/1291/1521.htm">泉州海洋职业学院课题材料</a></h3>
      </div>

  

 <div class="Notifications2 mt20" style="border:none;">
        <p>2022年11月08日 </p>
        <h3><a href="info/1291/1511.htm">《中华人民共和国学科分类与代码国家标准》G...</a></h3>
      </div>

<script>_showDynClickBatch(['dynclicks_u7_1541','dynclicks_u7_1531','dynclicks_u7_1521','dynclicks_u7_1511'],[1541,1531,1521,1511],"wbnews", 1938587729)</script>
</div>

      <div style="height:10px;"></div>
    </div>
    
  </div>
</div>




<div class="clearfix"></div>
<div style="background:#e6e6e6;">
  <div class="jz">
    <div class="menu_bt">
      <h3 class="fl kcjs_bg mt10">科技网站</h3>
    </div>
    <div class="clearfix"></div> <ul class="yqlj">

 <li><a href="https://www.most.gov.cn/index.html" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83759)">中华人民共和国科学技术部</a></li>


  

 <li><a href="http://kjt.fujian.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83760)">福建省科学技术厅</a></li>


  

 <li><a href="https://www.fjedusr.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83761)">福建省教育科学研究所</a></li>


  

 <li><a href="https://www.fjskl.org.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83762)">福建省社会科学界联合会</a></li>


  

 <li><a href="https://www.fjkx.org/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83763)">福建省科学技术协会</a></li>


  

 <li><a href="http://jyt.fujian.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83764)">福建省教育厅</a></li>


  

 <li><a href="http://kj.quanzhou.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83765)">泉州市科技信息网</a></li>


  

 <li><a href="http://scjgj.quanzhou.gov.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83766)">泉州市市场监督管理局</a></li>


  

 <li><a href="http://shkx.qzwb.com/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83767)">泉州社会科学网</a></li>


  

 <li><a href="http://www.chinazy.org/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83768)">中国职业技术教育网</a></li>


  

 <li><a href="http://www.zjjyh.org.cn/index_index.do?organ_id=cctedu&amp;INF_id=94789d10-4882-449f-8e9a-b36c246da0bf" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83769)">中国交通教育研究会</a></li>


  

 <li><a href="http://www.fjzj.org.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83770)">福建省职业技术教育中心</a></li>


  
</ul>
  </div>
     <div class="clearfix"></div>
     <div class="jz">
    <div class="menu_bt" style="padding-top:0px;">
      <h3 class="fl kcjs_bg">项目管理平台</h3>
    </div>
    <div class="clearfix"> <ul class="yqlj">

 <li><a href="http://www.moe.gov.cn/s78/A13/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83771)">教育部人文社会科学研究管理平台</a></li>


  

 <li><a href="http://xmgl.kjt.fujian.gov.cn/showLoginPage.do?type=fujian&amp;loginflag=false" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83772)">福建省科技计划项目管理信息系统</a></li>


  

 <li><a href="https://ky.fjjyxy.com/showLoginPage.do" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83773)">福建教育学院科学项目管理信息系统</a></li>


  

 <li><a href="https://sms.fjedusr.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83774)">福建省教育科学规划课题管理系统</a></li>


  

 <li><a href="http://www.qzkjy.net/goWeb.do?Index" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83775)">泉州科技云</a></li>


  

 <li><a href="http://xmgl.kjt.fujian.gov.cn/showLoginPage.do?type=quanzhou" onclick="_addDynClicks(&#34;wburl&#34;, 1938587729, 83776)">泉州市科技计划项目管理信息系统</a></li>


  
</ul></div>
  </div>
     <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="wrap" style="background: #3e6db5;">
  <div class="w footer">
    <div class="ac">
    
    <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p>
    
   
    </div>
  </div>
</div>



<!--jquery-->

<script type="text/javascript" src="static/js/bdtxk.min.js"></script>
<script src="static/js/pub.js" type="text/javascript"></script>
<script src="static/js/slick.js"></script>
<!--左滚动特效--> 
  <script>// 校园专题
                $('.m-imgtxtq1').slick({
                    rows: 1,
                    dots: false,
                    arrows: true,
                    autoplay: true,
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    autoplaySpeed: 5000,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 1200,
                        settings: {
                            dots: true,
                            arrows: false
                        }
                    },
                        {
                            breakpoint: 960,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 350,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });</script><!--左滚动特效--> 



<script src="static/js/swiper.min3.js"></script>
<script>
    // banner
    var swiper = new Swiper(".main-visual-slider .swiper-container", {
        loop: true,
        speed: 1200,
        draggable: false,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false
        },
        // allowTouchMove: true,
        // watchSlidesProgress: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        on: {
            slideChangeTransitionStart : function(swiper){
                var swiper = this;
                // 判断swiper-slide-active是否有视频
                if($(".main-visual-slider .swiper-slide-active video").length>0){
                    console.log(1)
                    // 停止自动切换
                    swiper.autoplay.stop();
                    // 动态增加id
                    setTimeout(function(){
                        swiper.autoplay.stop();
                        $(".main-visual-slider .swiper-slide-active video").attr("id","video_01");

                        var _video=document.getElementById("video_01");

                        // 播放视频
                        _video.play();
                        // 切换后重新播放视频
                        _video.currentTime = 0;
                        // 静音
                        _video.volume = 0;
                        // 监听视频播放结束
                        _video.addEventListener('ended', function () {
                            swiper.slideNext();
                            //重新开始轮播banner
                            swiper.autoplay.start();
                        });
                    }, 10);
                }
            },
            slideChangeTransitionEnd: function(swiper){
                //动态移除id
                setTimeout(function(){
                    $(".main-visual-slider .swiper-slide-active video").attr("id","");
                }, 10);
            },
        }
    });
</script>

<!--焦点图特效--> 
<script type="text/javascript" src="static/js/bdtxk.yx_rotaion.js"></script> 
<script type="text/javascript">
    $(".yx-rotaion").yx_rotaion({auto:true});
</script> 



<!--选项卡-->


</body>
</html>
