<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="apple-touch-icon" href="http://www.qzoiedu.com/my/images/favicon_logo.png">
<link rel="icon" href="http://www.qzoiedu.com/my/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://www.qzoiedu.com/my/images/favicon.ico" type="image/x-icon">
<title>马克思主义学院-泉州海洋职业学院</title><meta name="pageType" content="1">
<meta name="pageTitle" content="马克思主义学院-泉州海洋职业学院">
<meta name="keywords" content="马克思主义学院,泉州海洋职业学院">

<link href="static/css/style3.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="static/css/banner1.css">
<link rel="stylesheet" href="static/css/swiper.min.css">

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css">
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307778475650565742000300014f51 -->
<link rel="stylesheet" type="text/css" href="static/css/xx-sj-tj.vsb.css">
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1938273313)</script>
</head>
<body>
<div class="header">
    <div class="w1200">
           <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm"><img src="static/picture/logo2.png" alt=""></a></div>
        <div class="i-search fr ">
        <div class="top_right_top"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="index1.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83468)">学校主页</a>
</div>
        
        


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><link href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 141px;
        max-width: 600px;
        width: 60%;
        margin-top: 15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
     var jq_l = jQuery.noConflict();
var $ = jq_l;
    jq_l("#divu2").html(jq_l("#htmlu2").text());
</script>
<script>
    var appOwner = "1938273313";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";
   
    jq_l.support.cors = true;
    jq_l.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                jq_l.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.220.220.87:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>

</div>
        <div style="clear:both"></div>
    </div>
    <div class="i-nav"><div id="navbar" class="menubox">
                <div class="w1200">
                    <div class="nav">
                        <ul>
                                                        <li class="dhdqwz">
                                 <a href="index.htm" title="首页">首页</a>
                            </li>
                            <li>
                                 <a href="xygk/xyjj.htm" title="学院概况">学院概况</a>
                                <div class="two-nav">
                                    <a href="xygk/xyjj.htm" title="学院简介">学院简介</a>
                                    <a href="xygk/jgsz.htm" title="机构设置">机构设置</a>
                                    <a href="xygk/szdw.htm" title="师资队伍">师资队伍</a>
                                </div>
                            </li>
                            <li>
                                 <a href="xyxw.htm" title="学院新闻">学院新闻</a>
                            </li>
                            <li>
                                 <a href="tzgg.htm" title="通知公告">通知公告</a>
                            </li>
                            <li>
                                 <a href="djsz/sxrh.htm" title="党建思政">党建思政</a>
                                <div class="two-nav">
                                    <a href="djsz/sxrh.htm" title="双向融合">双向融合</a>
                                    <a href="djsz/xzdszk.htm" title="行走的思政课">行走的思政课</a>
                                </div>
                            </li>
                            <li>
                                 <a href="wjzc.htm" title="文件政策">文件政策</a>
                            </li>
                            <li>
                                 <a href="llsy/zyjh.htm" title="理论视野">理论视野</a>
                                <div class="two-nav">
                                    <a href="llsy/zyjh.htm" title="重要讲话">重要讲话</a>
                                    <a href="llsy/llxx.htm" title="理论学习">理论学习</a>
                                    <a href="llsy/jdzz.htm" title="经典著作">经典著作</a>
                                </div>
                            </li>
                            <li>
                                 <a href="https://qzhymks.mh.chaoxing.com/" title="智慧马院">智慧马院</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
</div>
</div>

<!--banner-->
<div class="index-banner">
            <div class="main-visual-wrapper ar_web">
                <section class="swiper-box1 main-visual-slider">
                        <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/zhuye.jpg) no-repeat;">
                                        <img src="static/picture/zhuye.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/banner42.jpg) no-repeat;">
                                        <img src="static/picture/banner42.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/banner31.jpg) no-repeat;">
                                        <img src="static/picture/banner31.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide main-visual-item">
                                <a class="slide-inner">
                                    <div class="visual-img imged" style="background: url(static/image/31.jpg) no-repeat;">
                                        <img src="static/picture/31.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ban-dot">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </section>
            </div>

</div>
<!--新闻中心开始-->
<div class="news_box">
<div class="w1200">
 <div class="i-title"><h2>学院动态<span style="display:none;">News</span></h2><a href="xyxw.htm">More+</a></div>
<!--左图开始-->
<script language="javascript" src="static/js/centerCutImg.js"></script><script language="javascript" src="static/js/ajax.js"></script><div class="news_box_left">
            <div class="tj_img"><a href="info/1161/3491.htm" target="_blank" title="马克思主义学院党支部召开预备党员转正大会"><img src="static/picture/7C3A5DD88927A855F54E1EB62C9_B522DA4C_5CC2D.jpg" alt="" class="imghover"></a></div>
            <div class="tj_title"><a href="info/1161/3491.htm" target="_blank" title="马克思主义学院党支部召开预备党员转正大会">马克思主义学院党支部召开预备党员转正大会</a> </div>
            <div class="tj_time" style="display:none;">2023年12月27日 【来源：】</div>
            <div class="tj_zy" style="display:none;"><a href="info/1161/3491.htm">2023年12月27日，为进一步加强党员队伍建设，将优秀青年教师凝聚到党的队伍建设中来，增强我党的生机和活力，根据《中国共产党发展党员工作细则》要求，马克思主义学院在图书馆4楼党员活动室召开预备党员转正大会，审议、讨论、表决关于张豆豆、王传婷2名中共预备党员转正问题，支部全体党员参加会议。会上，2名预备党员从学习、生活、工作以及思想动态等方面详细地向党组织汇报自己在预备考察期间的表现，并向党组织提出转正申请，...</a></div>
        </div>
<script>_showDynClickBatch(['dynclicks_u5_3491'],[3491],"wbnews", 1938273313)</script>

<div class="news_box_left2"> <div class="main_img">
                    <div class="swiper-container4">
                        <div class="swiper-wrapper">
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="info/1161/3491.htm" target="_blank"><img src="static/picture/7C3A5DD88927A855F54E1EB62C9_B522DA4C_5CC2D.jpg"></a>
                                    <span><a href="info/1161/3491.htm" target="_blank" title="马克思主义学院党支部召开预备党员转正大会">马克思主义学院党支部召开预备党员转正大会</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="info/1161/3481.htm" target="_blank"><img src="static/picture/5CEFDBAF98103804D60EDDA5CA4_C4A90379_158355.png"></a>
                                    <span><a href="info/1161/3481.htm" target="_blank" title="马克思主义学院第二届大学生讲思政课公开课展示活动圆满落幕">马克思主义学院第二届大学生讲思政课公开课展示活动圆满落幕</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="info/1161/3471.htm" target="_blank"><img src="static/picture/CABEA8261D6A4F09F89F8845253_44BE85C3_837BD.jpg"></a>
                                    <span><a href="info/1161/3471.htm" target="_blank" title="上好与“现实”结合的行走思政课堂">上好与“现实”结合的行走思政课堂</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="info/1161/3461.htm" target="_blank"><img src="static/picture/24863D388F9C6442C5A8099A958_415619B4_71CE9.jpg"></a>
                                    <span><a href="info/1161/3461.htm" target="_blank" title="马院党支部联合机关第二党支部赴石狮市红色革命教育基地开展主题教育党日活动">马院党支部联合机关第二党支部赴石狮市红色革命教育基地开展主题教育党日活动</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
   <div class="swiper-slide">
                                <div class="image">
                                    <a href="info/1161/3421.htm" target="_blank"><img src="static/picture/1C001E01D2A61650FDAC408ECE2_966C560A_67152.jpg"></a>
                                    <span><a href="info/1161/3421.htm" target="_blank" title="我院召开期末考试命题工作会议暨考务工作会议">我院召开期末考试命题工作会议暨考务工作会议</a></span>
                                    <div class="swiperimg3"></div>
                                </div>
                            </div>
</div>
                        <div class="container">
                            <div class="col-xs-12"><div class="swiper-pagination"></div></div>
                        </div>
                    </div>
                </div><script>_showDynClickBatch(['dynclicks_u6_3491','dynclicks_u6_3481','dynclicks_u6_3471','dynclicks_u6_3461','dynclicks_u6_3421'],[3491,3481,3471,3461,3421],"wbnews", 1938273313)</script>
</div>
<!--左图结束-->
  <div class="news_box_right">
<!--右边首条开始-->
<div class="top_title"><a href="info/1161/3491.htm" target="_blank" title="马克思主义学院党支部召开预备党员转正大会">马克思主义学院党支部召开预备党员转正大会</a></div>
            <div class="top_time" style="display:none;">2023年12月27日 【来源：】</div>
            <div class="top_zy"><a href="info/1161/3491.htm">2023年12月27日，为进一步加强党员队伍建设，将优秀青年教师凝聚到党的队伍建设中来，增强我党的生机和活力，根据《中国共产党发展党员工作细则》要求，马克思主义学院在图书馆4楼…</a></div>
<script>_showDynClickBatch(['dynclicks_u7_3491'],[3491],"wbnews", 1938273313)</script>


<!--右边首条结束-->
<!--右边列表开始-->
<ul class="n_list" style="margin: 20px 0 0px 0">
<li><span class="date">2023/12/21</span><a href="info/1161/3481.htm" target="_blank" title="马克思主义学院第二届大学生讲思政课公开课展示活动圆满落幕">马克思主义学院第二届大学生讲思政课公开课展示活动圆满落幕</a> </li>
<li><span class="date">2023/12/21</span><a href="info/1161/3471.htm" target="_blank" title="上好与“现实”结合的行走思政课堂">上好与“现实”结合的行走思政课堂</a> </li>
<li><span class="date">2023/12/21</span><a href="info/1161/3461.htm" target="_blank" title="马院党支部联合机关第二党支部赴石狮市红色革命教育基地开展主题教育党日活动">马院党支部联合机关第二党支部赴石狮市红色革命教育基地开展主题教育党…</a> </li>
<li><span class="date">2023/12/07</span><a href="info/1161/3421.htm" target="_blank" title="我院召开期末考试命题工作会议暨考务工作会议">我院召开期末考试命题工作会议暨考务工作会议</a> </li>
<li><span class="date">2023/12/07</span><a href="info/1161/3411.htm" target="_blank" title="我院召开期末教学工作部署会议">我院召开期末教学工作部署会议</a> </li>
<li><span class="date">2023/12/06</span><a href="info/1161/3401.htm" target="_blank" title="马院参加“1+N”泉州师院组团实践教学研修活动并作经验交流发言">马院参加“1+N”泉州师院组团实践教学研修活动并作经验交流发言</a> </li>
</ul><script>_showDynClickBatch(['dynclicks_u8_3491','dynclicks_u8_3481','dynclicks_u8_3471','dynclicks_u8_3461','dynclicks_u8_3421','dynclicks_u8_3411','dynclicks_u8_3401'],[3491,3481,3471,3461,3421,3411,3401],"wbnews", 1938273313)</script>

<!--右边列表结束-->
</div>
</div>
</div>
<!--新闻中心结束-->
<div style="clear: both;"></div>
<!--tzgg-->
<div class="i-tzgg">
    <div class="w1200"><div class="i-title" style="border-bottom: #3e6db5 1px solid"><h2>通知公告<span style="display:none">Notes</span></h2><a href="tzgg.htm">More+</a></div>
 <div class="tz_box_nr">
 <div class="tz_list">
                <div class="tz_date"><span>28</span>2023-12</div>
                <div class="tz_txt">
                    <h1><a href="info/1162/3501.htm" target="_blank" title="泉海院综〔2023〕227号关于做好2024年元旦、寒假放假工作安排的通知">泉海院综〔2023〕227号关于做好2024年元旦、寒假放假工作...</a></h1>
                    <p><a href="info/1162/3501.htm">简介：<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
 <div class="tz_list">
                <div class="tz_date"><span>08</span>2023-12</div>
                <div class="tz_txt">
                    <h1><a href="info/1162/3451.htm" target="_blank" title="关于2023年福建省老年教育学术论文评选结果的公示">关于2023年福建省老年教育学术论文评选结果的公示</a></h1>
                    <p><a href="info/1162/3451.htm">简介：<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
 <div class="tz_list">
                <div class="tz_date"><span>21</span>2023-09</div>
                <div class="tz_txt">
                    <h1><a href="info/1162/3181.htm" target="_blank" title="泉海院委〔2023〕27号关于表彰2022-2023学年优秀共产党员、优秀党务工作者、先进基层党组织的决定">泉海院委〔2023〕27号关于表彰2022-2023学年优秀共产党员...</a></h1>
                    <p><a href="info/1162/3181.htm">简介：<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
 <div class="tz_list">
                <div class="tz_date"><span>15</span>2023-09</div>
                <div class="tz_txt">
                    <h1><a href="info/1162/3131.htm" target="_blank" title="泉海院办〔2023〕20号 关于做好2023年中秋节、国庆节放假工作安排的通知">泉海院办〔2023〕20号 关于做好2023年中秋节、国庆节放假...</a></h1>
                    <p><a href="info/1162/3131.htm">简介：<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
        </div><script>_showDynClickBatch(['dynclicks_u9_3501','dynclicks_u9_3451','dynclicks_u9_3181','dynclicks_u9_3131'],[3501,3451,3181,3131],"wbnews", 1938273313)</script>
</div>
</div>
<!--xsgz-->
<div class="i-xsgz">
    <div class="w1200">
        <div class="i-xsgz-left">            <div class="i-title"><h2>文件政策<span style="display:none;">Student work</span></h2><a href="wjzc.htm">More+</a></div>
            <ul class="n_list" style="margin: 20px 0 0px 0">
   <li><span class="date">2023/10/12</span><a href="info/1202/3431.htm" target="_blank" title="闽教考〔2023〕11号福建省教育厅关于公布福建省普通高校专升本考试《思想政治理论》考试说明（2023年修订）的通知">闽教考〔2023〕11号福建省教育厅关于公布福建省普通高校...</a></li>
   <li><span class="date">2023/04/18</span><a href="info/1202/2271.htm" target="_blank" title="《毛泽东思想和中国特色社会主义理论体系概论（2023年版）》修订说明和教学建议">《毛泽东思想和中国特色社会主义理论体系概论（2023年版...</a></li>
   <li><span class="date">2023/04/18</span><a href="info/1202/2251.htm" target="_blank" title="《思想道德与法治（2023年版）》修订说明和教学建议">《思想道德与法治（2023年版）》修订说明和教学建议</a></li>
   <li><span class="date">2023/04/06</span><a href="info/1202/2241.htm" target="_blank" title="中共中央发出关于印发《习近平新时代中国特色社会主义思想学习纲要（2023年版）》的通知">中共中央发出关于印发《习近平新时代中国特色社会主义思...</a></li>
   <li><span class="date">2023/03/16</span><a href="info/1202/2221.htm" target="_blank" title="泉海院综〔2023〕29号 泉州海洋职业学院学风建设月活动方案">泉海院综〔2023〕29号 泉州海洋职业学院学风建设月活动方...</a></li>
   <li><span class="date">2023/01/05</span><a href="info/1202/2201.htm" target="_blank" title="教育部办公厅关于做好2023年高校思想政治工作骨干在职攻读博士学位专项计划工作的通知">教育部办公厅关于做好2023年高校思想政治工作骨干在职攻...</a></li>
</ul><script>_showDynClickBatch(['dynclicks_u10_3431','dynclicks_u10_2271','dynclicks_u10_2251','dynclicks_u10_2241','dynclicks_u10_2221','dynclicks_u10_2201'],[3431,2271,2251,2241,2221,2201],"wbnews", 1938273313)</script>
</div>
        <div class="i-xsgz-right"><div class="i-title"><h2>党建思政<span style="display:none;">Mass work</span></h2><a href="djsz/sxrh.htm">More+</a></div>

 <div class="tpwz_list">
                <a href="info/1192/3051.htm" class="imgqy"><img src="static/picture/4CE9889AB9A03DCE84C697BA9F2_21910EB7_58288.jpg" class="imghover"></a>
                <div class="tpwz_txt">
                    <h1>  <a href="info/1192/3051.htm" target="_blank" title="马克思主义学院开展“行走的思政课”暑期社会实践活动">马克思主义学院开展“行走的思政课”暑...</a></h1>
                    <p><a href="info/1192/3051.htm">简介：为深入学习贯彻党的二十大精神，贯彻落实习近平总书记关于思...<span style=" color: #4c77b8">[查看]</span></a></p>
                </div>
            </div>
            <ul class="n_list">  
  <li> <span class="date">2023/06/15</span> <a href="info/1182/2771.htm" target="_blank" title="马克思主义学院党支部开展“传统文化育学子 别样思政话端午”主题党日活动">马克思主义学院党支部开展“传统文化育学子 别样思政话端...</a> </li>
  
  <li> <span class="date">2023/05/24</span> <a href="info/1182/2781.htm" target="_blank" title="马院党支部联合法务部开展“探寻世遗魅力，传承海丝文化”主题党日活动">马院党支部联合法务部开展“探寻世遗魅力，传承海丝文化...</a> </li>
  
  <li> <span class="date">2022/11/14</span> <a href="info/1192/2821.htm" target="_blank" title="这节课，上在海权红馆——马克思主义学院开展形势与政策专题课程">这节课，上在海权红馆——马克思主义学院开展形势与政策...</a> </li>
      </ul>
<script>_showDynClickBatch(['dynclicks_u11_3051','dynclicks_u11_2771','dynclicks_u11_2781','dynclicks_u11_2821'],[3051,2771,2781,2821],"wbnews", 1938273313)</script>
</div>
    </div>
</div>
<!--iwyfc-->
<div class="i-wyfc">
    <div class="w1200">    <div class="i-title"><h2>理论视野<span style="display:none;">Elegant demeanour</span></h2><a href="llsy/zyjh.htm">More+</a></div>
        <div class="i-wyfc-box">
            <div class="xysh_nr m-imgtxtq1">
               
         <div class="pic">
                        <div class="img">
                        <a href="http://cpc.people.com.cn/GB/64162/64168/index.html" target="_blank">
                        
     <img src="static/picture/68FC51A6CD3396309158A3C5BC1_2D08469F_19C90.jpg" class="imghover ">
     </a>
     </div>
                        <span>中国共产党历次全国代表大会...</span>
                    </div>
        
        
                 
         <div class="pic">
                        <div class="img">
                        <a href="http://jhsjk.people.cn/" target="_blank">
                        
     <img src="static/picture/4A5FE08470E6BC331F62CED3E0A_4337F2C6_8F45.jpg" class="imghover ">
     </a>
     </div>
                        <span>习近平系列重要讲话数据库</span>
                    </div>
        
        
                 
         <div class="pic">
                        <div class="img">
                        <a href="info/1222/2951.htm" target="_blank">
                        
     <img src="static/picture/1624FA8636275ECF1B571E2A5F4_A40E9567_A2F73.png" class="imghover ">
     </a>
     </div>
                        <span>习近平在中共中央政治局第六...</span>
                    </div>
        
        
                 
         <div class="pic">
                        <div class="img">
                        <a href="info/1222/2961.htm" target="_blank">
                        
     <img src="static/picture/CE0BB96E25EB8B77493CDBA7D77_267C84EB_3D0A8.jpg" class="imghover ">
     </a>
     </div>
                        <span>习近平在文化传承发展座谈会...</span>
                    </div>
        
        
                 
         <div class="pic">
                        <div class="img">
                        <a href="http://dangshi.people.com.cn/GB/234123/index.html" target="_blank">
                        
     <img src="static/picture/848D0CAEDC1E81BA9602133F211_9501B698_5D8A.jpg" class="imghover ">
     </a>
     </div>
                        <span>党史资料库</span>
                    </div>
        
        
                 
                
            </div>
           
            
        </div>
<script>_showDynClickBatch(['dynclicks_u12_2981','dynclicks_u12_2971','dynclicks_u12_2951','dynclicks_u12_2961','dynclicks_u12_2991'],[2981,2971,2951,2961,2991],"wbnews", 1938273313)</script>
</div>
</div>


<!--end-->
<div class="end">
<div class="w1200">
    <div class="end_left">
        <div class="i-title" style="border-bottom: none;  margin:20px 0 0  0"><h2 style=" color: #ffffff">友情链接 / <span>Link</span></h2></div>
        <div class="i-yqlj"><a href="http://jyt.fujian.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83418)">福建省教育厅</a>
<a href="http://jyj.quanzhou.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83419)">泉州市教育局</a>
<a href="https://www.fj.msa.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83417)">福建海事局</a>
<a href="http://www.cmaritime.com.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83412)">中国海事服务中心</a>
<a href="http://www.mot.gov.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83413)">中华人民共和国交通运输部</a>
<a href="http://www.626china.com/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83415)">中国禁毒展览馆</a>
<a href="index.html#/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83416)">一站式办事大厅</a>
<a href="https://exmail.qq.com/login" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1938273313, 83414)">邮箱系统</a>
</div>

        <div class="copright"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>地址：福建省石狮市祥芝镇古浮二十区1号&nbsp;&nbsp; 邮编：362700<br>招生热线 （0595）83858888 &nbsp;&nbsp;电话：(0595)88983105&nbsp;&nbsp;传真：（0595）83015559<br>Copyright © 2016-2023 泉州海洋职业学院 版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank">闽ICP备09021863号-1&nbsp;&nbsp;</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35058102000172" target="_blank"> 闽公网安备 35058102000172号</a></p></div>
    </div>
    <div class="end_right">
        <div class="wx_sm">    <table align="center">
    </table></div>
    </div>
</div>
</div>



<script type="text/javascript" src="static/js/jquery1.js"></script>
<script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
 
                
<script type="text/javascript" src="static/js/jquerybdtxk.js"></script>
<script src="static/js/pub2.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="js/html5.js" type="text/javascript"></script>
    <![endif]-->
<script src="static/js/slick.js"></script>
<script>// 校园专题
                $('.m-imgtxtq1').slick({
                    rows: 1,
                    dots: false,
                    arrows: true,
                    autoplay: true,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    autoplaySpeed: 5000,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 1200,
                        settings: {
                            dots: true,
                            arrows: false
                        }
                    },
                        {
                            breakpoint: 960,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 350,
                            settings: {
                                dots: true,
                                arrows: false,
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });</script>
                
 <script src="static/js/swiper.min1.js"></script>
<script>
    // banner
    var swiper = new Swiper(".main-visual-slider .swiper-container", {
        loop: true,
        speed: 1200,
        draggable: false,
        autoplay: {
            delay: 6000,
            disableOnInteraction: false
        },
        // allowTouchMove: true,
        // watchSlidesProgress: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        on: {
            slideChangeTransitionStart : function(swiper){
                var swiper = this;
                // 判断swiper-slide-active是否有视频
                if($(".main-visual-slider .swiper-slide-active video").length>0){
                    console.log(1)
                    // 停止自动切换
                    swiper.autoplay.stop();
                    // 动态增加id
                    setTimeout(function(){
                        swiper.autoplay.stop();
                        $(".main-visual-slider .swiper-slide-active video").attr("id","video_01");

                        var _video=document.getElementById("video_01");

                        // 播放视频
                        _video.play();
                        // 切换后重新播放视频
                        _video.currentTime = 0;
                        // 静音
                        _video.volume = 0;
                        // 监听视频播放结束
                        _video.addEventListener('ended', function () {
                            swiper.slideNext();
                            //重新开始轮播banner
                            swiper.autoplay.start();
                        });
                    }, 10);
                }
            },
            slideChangeTransitionEnd: function(swiper){
                //动态移除id
                setTimeout(function(){
                    $(".main-visual-slider .swiper-slide-active video").attr("id","");
                }, 10);
            },
        }
    });
</script>
 <!--新闻轮播图开始-->
<script src="static/js/swiper.min1.js"></script>
<script>
    $(function () {
        // 轮播初始化
        new Swiper(".index-banner", {
            loop: true,
            autoplay: {
                delay: 5000,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            on: {
                init: function (swiper) {
                    var total = "0" + ($(".index-banner .swiper-slide").length - 2);
                    total = total.substring(total.length - 2);
                    $(".total").text(total);
                },
                slideChangeTransitionEnd: function () {
                    var current = "0" + (this.realIndex + 1);
                    current = current.substring(current.length - 2);
                    $(".current").text(current);
                },
            },
        });
        new Swiper(".swiper-container4", {
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },

            autoplay: {
                delay: 5000,
            }


        });
        new Swiper(".person-sdnu-swiper", {
            loop: true,
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        $(".ham").on("click", function () {
            $(".english").toggle();

            if ($(".header-mp-nav").hasClass("active")) {
                $(".header-mp-nav").removeClass("active");
                $(this).attr("src", "images/ham.svg");
            } else {
                $(".header-mp-nav").addClass("active");
                $(this).attr("src", "images/x.png");
            }
        });

        $(".header-mp-nav").on("click", function (e) {
            if (e.target.className == "header-mp-nav active") {
                $(".header-mp-nav").removeClass("active");
                $(".ham").attr("src", "images/ham.svg");
            }
        });
    });
</script>
<!--新闻轮播图结束--> 
</body>  
</html>
