.imged {position: relative;padding-bottom: 65%;width: 100%;display: block;overflow: hidden;transition: 0.5s;background-size: cover !important;}
.imged img { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; transition: all 0.5s ease 0s; object-fit: cover; display: none; }
.imged video { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; transition: all 0.5s ease 0s; object-fit: cover; }
video{max-width: 100%;}
.scale { overflow: hidden;}
a:hover .imged { transform: scale(1.1); }
/* banner */
.main-visual-wrapper { width: 100%; overflow: hidden; position: relative; }
.main-visual-slider { overflow: hidden; width: 100vw;position: relative;min-width:1200px }
.main-visual-slider .swiper-slide { overflow: hidden; color: rgb(255, 255, 255); }
.main-visual-slider .swiper-container { width: 100%; height: 100%; position: relative; left: 0px; top: 0px; }
.ban-dot {display: flex;justify-content: center;position: absolute;width: 100%;height: 0.54rem;bottom: 5%;}
.ban-dot .swiper-pagination{text-align:right;right: 15%;display: flex;align-items: center;}
.ban-dot .swiper-pagination-bullet {margin: 0px  5px !important;width:16px;height:16px;opacity: .8;background: #fff;border-radius: 50%;}
.ban-dot .swiper-pagination-bullet-active{background:#193974;width:16px;height:16px;background-size: 100%;opacity: 1;}
.swiper-box1 .imged{padding-bottom: 25%;}

.main-visual-slider .imged{transform: translate3d(0px, 0px, 0px) scale(1.05); transition: opacity 0.5s}
.main-visual-slider .swiper-slide-active .imged{transform: scale(1); transition: all 6s ; }
.main-visual-slider video{transform: scale(1.1)\0;}