@font-face {font-family: "iconfont";
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e73b";
}

.icon-fenxiang:before {
  content: "\e63a";
}

.icon-kongjian-copy:before {
  content: "\e603";
}

.icon-zhankai1:before {
  content: "\e61f";
}

.icon-chakan:before {
  content: "\e621";
}

.icon-sousuo:before {
  content: "\e631";
}

.icon-bofang:before {
  content: "\e66c";
}

.icon-weibo:before {
  content: "\e674";
}

.icon-weixin:before {
  content: "\e614";
}

.icon-zuo:before {
  content: "\e63c";
}

.icon-you:before {
  content: "\e63d";
}

.icon-baozhixinwen:before {
  content: "\e600";
}



.icon-danyilaiyuan:before {
  content: "\e602";
}

.icon-xuanchuan:before {
  content: "\e64f";
}
