
/* CSS Document*/
body {
    margin: 0;
    padding: 0;
width:100%;
overflow-x: hidden;

    font-size: 14px;
    min-width: 1200px;
    background: #ffffff;
    font-family: "Microsoft Yahei", 宋体, sans-serif;
}
ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: normal
}
img {
    border: 0;
}
a {
    text-decoration: none;
    color: #666666;
}
a:hover {
    text-decoration: none;
    color: #1f509c;
    transition: all 0.6s;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.clearboth {
    clear: both;
    border: 0;
    padding: 0;
    margin: 0;
}
.w1200 {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.relative {
    position: relative;
}
.imghover {
    cursor: pointer;
    transition: all 0.6s;
}
.imghover:hover {
    transform: scale(1.2);
}
/*header*/
.header {
    width: 100%;
    position: relative
}
.top_link {
    color: #aab0c1;
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0 0 0;
    width: 240px;
}
.top_link a {
    color: #aab0c1;
    font-size: 14px;
    line-height: 30px;
    padding: 0 5px;
}
.logo {
    width: 438px;
    text-align: center;
    margin-top: 15px;
    padding: 0;
    display: block;
    height: 83px;
float:left;
}
/*search*/
.i-search {
    width: 255px;
  
    overflow: hidden;
    position: relative;
    margin:13px 0 0 18px;
    background: #ffffff;
    border-radius: 0px;
 
}
.i-search .search-txt {
    width: 190px;
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    color: #c2c9d9;
    border: none;
    background: none;
    outline: none
}
.i-search .search-btn {
    width: 50px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border: none;
    background: url("../image/btn_search.png") center no-repeat;
    cursor: pointer;
}
/*nav*/
.i-nav {
    width: 100%;
    height: 50px;
background:#3e6db5;
box-shadow:0px 0px 10x 5px rgba(0,0,0,0.5) insect;

}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* menu */
.menubox{ width:100%; min-height:50px;background:#3e6db5;}
.nav{ width: 100%;}
.nav li{  float: left;  position: relative;width: 10%;  text-align: center; }
.nav .dhdqwz{ background: url(../image/nav_bglinehover.png) center bottom repeat-x;  color: #fff;  }
.nav .dhdqwz a{color: #fff;}
.nav li>a{  display: block;  font-size: 16px; color: #fff; line-height: 50px;}
.nav li.on>a,.nav li:hover>a{color: #fff;  }
.nav li.on,.nav li:hover{  color: #fff; background: url(../image/nav_bglinehover.png) center bottom repeat-x; }
.two-nav{  position: absolute;  left: 0px;  width:100%;  z-index: 9999;  display: none  }
.two-nav a{  display: block; line-height: 36px; padding: 5px; text-align: center;  border-bottom: solid 1px #2c5eaa;  color: #ffffff;  font-size: 16px;  background-color:#3e6db5;  }
.two-nav a:hover{background: rgba(71, 122, 200, 0.8);color: #fff;   }
/*banner*/
.ibanner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.ibanner .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 45%;
    bottom: 15px;
    z-index: 1;
}
.ibanner .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}
.ibanner .hd ul li {
    float: left;
    margin-right: 4px;
    width: 50px;
    height: 7px;
    line-height: 7px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    opacity: 0.8;
}
.ibanner .hd ul li.on {
    background: #3e6db5;
    opacity: 1;
    color: #fff;
}
.ibanner .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}
.ibanner .bd li {
    zoom: 1;
    vertical-align: middle;
    position: relative
}
.ibanner .bd li h1 {
    position: absolute;
    bottom: 40px;
    left: 20%;
    background: url("../image/tt_bg.png");
    font-size: 24px;
    color: #ffffff;
    padding: 10px 20px;
}
.ibanner .bd img {
    width: 100%;
    display: block;
}
.ibanner .prev,
.ibanner .next {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 45px;
    height: 80px;
    background: url(../image/slider-arrow.png) -120px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.ibanner .next {
    left: auto;
    right: 3%;
    background-position: -2px 5px;
    width: 45px;
    height: 80px;
}
.ibanner .prev:hover,
.ibanner .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.ibanner .prevStop {
    display: none;
}
.ibanner .nextStop {
    display: none;
}
/*imain*/
.news_box {
    margin: 0 auto 0px auto;
    height: auto;
    overflow: hidden;
}
.i-title {
    height: 50px;
    line-height:50px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto 20px auto;
    padding: 30px 0 5px 0;
    border-bottom: #e5e5e5 1px solid;
}
.i-title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3e6db5;
    display: block;
    float: left;
    padding: 0;
}
.i-title h2 span {
    color: #999999;
    font-size: 14px;
    line-height: 34px;
    font-weight: normal;
    font-style:italic
}
.i-title a {
    display:block;
    font-size:12px;
    float:right;
    color:#9a9a9a;
    font-weight: bold;
    padding: 0 10px 0 10px
}
.i-title a:hover {
    color:#330000;
}
.news_box_left {
    width: 478px;
    float: left;
display:none;

}
.news_box_left2 {
    width: 478px;
    float: left
}
.tj_img {
    width: 478px;
    height:359px;
    overflow: hidden;
}
.tj_img img {
    width: 478px;
    height: 359px;
}
.tj_title {
    margin: 10px 0 0 0
}
.tj_title a {
    color: #3e6db5;
    font-size: 16px;
    line-height: 30px;
}
.tj_title a:hover {
    color: #cc3300;
}
.tj_time {
    color: #999999;
    font-size: 14px;
    line-height: 30px;
}
.tj_zy a {
    color: #686868;
    font-size: 14px;
    line-height: 27px;
}
.news_box_right {
    float: right;
    width: 690px;
    height: auto;
    overflow: hidden;
}
.top_title {
    margin: 0 0 10px 0
}
.top_title a {
    color: #3e6db5;
    font-size: 22px;
    line-height: 30px;
}
.top_title a:hover {
    color: #cc3300;
}
.top_time {
    color: #999999;
    font-size: 14px;
    line-height: 30px;
}
.top_zy a {
    color: #595858;
    font-size: 14px;
    line-height: 27px;
}
.top_zy {
    color: #686868;
    font-size: 14px;
    line-height: 27px;
    border-bottom: #dcdcdc 1px dashed;
    padding:0 0 10px 0;
}
.n_list {
    height: auto;
    padding: 0 0 0 0 !important;
    position: relative;
}
.n_list li {
    width: 100%;
    height: 42px;
    line-height: 42px;
    display: block;
    color: #999999;
    font-size: 16px;
}
.n_list li a {
    font-size: 16px;
    color: #333333;
    background: url("../image/ico_001.png") left center no-repeat;
    padding-left: 15px;
    float: left
}
.n_list li a:hover {
    color: #cc3300
}
.n_list li .date {
    float: right;
    font-size: 14px;
    color: #999999
}
.n_list li i {
    font-style: normal;
    color: #ff9900
}
/*i-tzgg*/
.i-tzgg {
    width:100%;
    height:415px;
    background: url("../image/tzgg_bg.jpg") center no-repeat #ffffff;
    background-size:cover;
}
.tz_box_nr {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding: 30px 0 0 0;
}
.tz_list {
    width: 570px;
    height: auto;
    overflow: hidden;
    margin: 0 30px 38px 0;
    float: left;
}
.tz_list .tz_date {
    font-size: 14px;
    color: #ffffff;
    background: #4d78b9;
    display: block;
    width: 90px;
    height: 90px;
    text-align: center;
    float: left;
    opacity: 0.9;
}
.tz_list .tz_date span {
    font-size: 30px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 15px 0 0 0
}
.tz_list .tz_txt {
    float: right;
    width:465px;
    height: 90px;
    overflow: hidden;
    padding: 0 0 0 0;
}
.tz_list .tz_txt h1 {
    color: #242424;
    font-size: 16px;
    line-height: 30px;
}
.tz_list .tz_txt h1 a {
    color: #242424;
}
.tz_list .tz_txt p {
    font-size: 13px;
    line-height: 30px;
    color: #6b6969;
    margin:5px 0;
    padding: 0;
}
.tz_list .tz_txt p a {
    color: #6b6969
}
.tz_txt:hover h1 a {
    color: #cc0000;
}
.tz_list:hover .tz_date {
    opacity: 1;
}
.tz_list:hover p a {
    color: #3e6db5
}
/*i-xsgz*/
.i-xsgz {
    width:100%;
    height: auto;
    overflow:hidden;
    margin: 0px auto 0 auto;
}
.i-xsgz-left {
    width:580px;
    float: left;
    height: auto;
    overflow:hidden;
}
.i-xsgz-right {
    width:580px;
    float: right;
    height: auto;
    overflow:hidden;
}
.tpwz_list {
    width: 580px;
    height: 126px;
    overflow: hidden;
    margin: 0 0 7px 0;
}
.tpwz_list .imgqy {
    width: 160px;
    height: 120px;
    overflow: hidden;
    float: left;
}
.tpwz_list img {
    width: 160px;
    height: 120px;
    padding: 0;
    border: #dfdfdf 1px solid;
    margin-right: 15px
}
.tpwz_list .tpwz_txt {
    float: right;
    width: 390px;
    height: 124px;
    overflow: hidden;
    padding: 0 0 0 0;
}
.tpwz_list .tpwz_txt h1 {
    color: #242424;
    font-size: 18px;
    line-height: 30px;
}
.tpwz_list .tpwz_txt h1 a {
    color: #242424;
}
.tpwz_list .tpwz_txt p {
    font-size: 13px;
    line-height: 30px;
    color: #494949;
    margin:5px 0;
    padding: 0;
}
.tpwz_list .tpwz_txt p a {
    color: #494949
}
.tpwz_txt:hover h1 a {
    color: #cc0000;
}
/*i-wyfc*/
.i-wyfc-box {
    width:1200px;
    overflow:hidden;
    position:relative;
}
.i-wyfc-box .hd {
    overflow:hidden;
    height:30px;
    background:#f4f4f4;
    padding:0 10px;
}
.i-wyfc-box .hd .next {
    background-position:0 -50px;
}
.i-wyfc-box .hd .prevStop {
    background-position:-60px 0;
}
.i-wyfc-box .hd .nextStop {
    background-position:-60px -50px;
}
.i-wyfc-box .hd ul {
    float:right;
    overflow:hidden;
    zoom:1;
    margin-top:10px;
    zoom:1;
}
.i-wyfc-box .hd ul li {
    float:left;
    width:9px;
    height:9px;
    overflow:hidden;
    margin-right:5px;
    text-indent:-999px;
    cursor:pointer;
}
.i-wyfc-box .hd ul li.on {
    background-position:0 0;
}
.i-wyfc-box .bd {
    padding:0;
}
.i-wyfc-box .bd .tempWrap {
    width: 1200px !important;
}
.i-wyfc-box .bd ul {
    overflow:hidden;
    zoom:1;
}
.i-wyfc-box .bd ul li {
    margin:0 18px 0 0;
    float:left;
    _display:inline;
    overflow:hidden;
    text-align:center;
    position: relative;
}
.i-wyfc-box .bd ul li .pic {
    text-align:center;
    width:286px;
    height:215px;
    overflow: hidden;
}
.i-wyfc-box .bd ul li .pic img {
    width:286px;
    height:215px;
    display:block;
    padding:0;
}
.i-wyfc-box .bd ul li .pic a:hover img {
    border-color:#999;
}
.i-wyfc-box .bd ul li .title {
    position: absolute;
    bottom: 0;
    z-index: 99;
    background:url("../image/tt_bg.png");
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    display: block;
    width: 100%;
}
.i-wyfc-box .bd ul li .title a {
    color: #ffffff;
}
/*listbanner*/
.list_banner {
    width: 100%;
    text-align: center;
}
.list_banner img {
    width: 100%;
}
.this_map {
    background: #e5e5e5;
    height: 48px;
    position: relative;
    width: 100%;
}
.this_name {
    float: left;
    width: 240px;
    height: 54px;
    position: absolute;
    top: -45px;
    background: #3e6db5;
    padding: 20px 0;
}
.this_name h1 {
    font-size: 30px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.this_name span {
    font-size: 14px;
    color: #d8dfd8;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.this_dqwz {
    float: right;
    width: 920px;
    text-align: right;
    color: #555555;
    font-size: 14px;
    line-height: 48px;
}
.this_dqwz h2 {
    display: block;
    float: left;
    line-height: 48px;
    font-weight: bold;
    color: #3e6db5;
    font-size: 20px;
}
.this_dqwz .ico_home {
    margin: 0 5px;
}
/*list_main*/
.list_main {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    overflow: hidden
}
.list_main_left {
    width: 240px;
    float: left;
}
.list_main_right {
    width: 920px;
    float: right;
    padding: 10px 0;
}
.list_sub {
    width: 100%;
    min-height: 300px;
    background: url("../image/list_subj.png") bottom right no-repeat #e5e5e5;
    padding: 20px 0;
    overflow: hidden;
}
.list_sub li {
    width: 100%;
    padding: 5px 0 5px 20px;
}
.list_sub li a {
    display: block;
    height: 44px;
    line-height: 44px;
    width: 100%;
    padding: 0 0 0 15px;
    font-size: 16px;
}
.list_sub li a:hover {
    background: #ffffff;
    border-left: #b7b7b7 2px solid;
    color: #555555;
    font-weight: bold;
}
.list_sub .on_here {
    background: #ffffff;
    border-left: #3e6db5 2px solid;
    color: #3e6db5;
    font-weight: bold;
}
/*list_box*/
.list_box {
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}
.list_box li {
    line-height: 46px;
    height: 50px;
    font-size: 16px;
    color: #999999;
    text-align: right;
    padding: 0;
    background: url("../image/dxhx.png") bottom repeat-x;
}
.list_box li a {
    color: #4a4a4a;
    float: left;
    padding-left: 15px;
    background: url("../image/ico_001.png") left center no-repeat;
}
.list_box li:hover {
    background: #f8f8f8;
    color: #cc3300;
}
.list_box li a:hover {
    background: url("../image/ico_001.png") left center no-repeat #ececec;
    color: #cc3300;
}
/*list_box2*/
.list_box2 {
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}
.list_box2 li {
    font-size: 15px;
    color: #999999;
    padding: 0;
    background: url("../image/dxhx.png") bottom repeat-x;
}
.list_box2 li a {
    color: #3e6db5;
}
.list_box2 li:hover {
    background: #f8f8f8;
    color: #cc3300;
}
.list_box2 li a:hover {

    color: #cc3300;
}
.listbox2img{float:left; width:200px;height:240px; overflow:hidden;margin-top:10px;display:block;}
.listbox2img img{width:200px; }
.listbox2wz{float:left; margin-left:30px;display:block; width:670px;}
.listbox2wztit{font-size:18px; font-weight:bold; color:#3e6db5; line-height:55px;}
.listbox2wzjj{ color:#333; line-height:25px;}
.listbox2wzxx{ margin-top:10px; text-align:right;}







.list-fy {
    text-align: center;
    margin: 0 auto 40px auto;
    min-height: 40px;
}
/*piclist*/
.pic-list {
    width: 960px;
    overflow: hidden;
    height: auto;
    margin: 20px auto;
}
.pic-list ul {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}
.pic-list li {
    width: 285px;
    margin-right: 24px;
    float: left;
    margin-bottom: 0;
}
.pic-list li img {
    width: 290px;
    height: 218px;
    border: #efefef 1px solid;
    padding: 3px;
}
.pic-list li img:hover {
    border: #ccc 1px solid;
    padding: 5px;
}
.pic-list li a {
}
.pic-list li a:hover {
    color: #000;
}
.pic-list li span {
    text-align: center;
    width: 100%;
    line-height: 40px;
    color: #666;
    display: block
}
/*content*/
.c-content {
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 30px auto 40px auto;
    padding: 0 20px;
}
.c-content .c-title {
    font-size: 30px;
    color: #cc3333;
    line-height: 50px;
    text-align: center
}
.c-content .other-s {
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #666666;
    background: #f5f5f5;
    margin: 15px auto 0 auto;
    position: relative;
}
.c-content .other-s .sjfx {
    position: absolute;
    right: 10px;
    top: 10px;
}
.c-content .nr-info {
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: left
}
.c-content .nr-info p {
    font-size: 16px;
    color: #666;
    line-height: 34px;
    margin: 15px 0;
    text-indent: 2em;
    text-align: left
}
.c-content .nr-info  img{display:block;margin:30px auto 10px;max-width:100%;height: auto;}



.wz_fj {
}
.wz_fj p {
    line-height: 36px;
    color: #0d8100;
    font-size: 16px;
    background: url("../image/ico_fj2.png") left center no-repeat;
    padding: 0 0 0 20px
}
.wz_fj a {
    line-height: 36px;
    font-size: 16px;
}
.wzclose-relative {
    text-align: center;
    margin-top: 30px;
}
.wzclose-relative span {
    margin: 0 15px;
}
.i-sxt {
    border-top: #d9d9d9 1px solid;
    margin: 20px auto;
    padding: 20px 0;
    position: relative;
}
.i-sxt p {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.i-sxt a {
    color: #555555;
    font-size: 14px;
    line-height: 30px;
}
.i-sxt a:hover {
    color: #cc0010;
}
/**/
/*c-content*/
.icontent {
    width: 1200px;
    border: #e5e5e5 1px solid;
    padding:0 40px;
    background: #fcfcfc;
    overflow: hidden;
    margin: 15px auto
}
.icontent .lm_name {
    height: 70px;
    line-height: 70px;
    border-bottom: #cccccc 1px solid
}
.icontent .lm_name h2 {
    float: left;
    text-align: center;
    height: 69px;
    font-size: 24px;
    color: #3e6db5;
    font-weight: bold;
    border-bottom: #3e6db5 3px solid;
}
.icontent .lm_name span {
    float: right;
    color: #666666;
    font-size: 12px;
}
.icontent .lm_name span a {
    color: #666666;
}
.wafx {
    padding: 0;
    position: absolute;
    right: 0;
    top:40px;
}
/*end*/
.end {
    background: url("../image/end_bg.jpg") center no-repeat #385f9a;
    background-size:cover;
    width: 100%;
    height:314px;
}
.end_left {
    width: 960px;
    float: left;
}
.end_right {
    width: 240px;
    float: right;
}
.i-yqlj {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.i-yqlj a {
    display: block;
    margin-left:13px;
margin-right:13px;
    float: left;
    color: #ffffff;
    line-height: 40px;
}
.i-yqlj a:hover {
    color: #aebed5;
}
.copright {
    border-top: #aebed5 1px solid;
    margin-top: 20px;
    padding: 10px 0 0 0;
}
.copright  a{color:#fff;}
.copright p {
    color: #ffffff;
    line-height: 24px;
}
.wx_sm {
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
.wx_sm span {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
}

.xysh_nr{margin-top:1.5%;}
.xysh_nr .pic .img{height:0;padding-top:75%;background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;background-size:cover;position:relative;overflow:hidden }
.xysh_nr .pic .img img{ position:absolute;left:0;top:0;width:100%;height:100%}
.xysh_nr .pic:hover .img img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}
.xysh_nr .pic span{ width:100%; line-height:46px; display: block;  text-align: center; font-size: 17px;color: #222;}
.xysh_nr .pic .title{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;font-size: 17px;background-color: #fff; color: #222; line-height:52px;height:52px; width:100%; padding: 0 2%; text-align: center;}
.xysh_nr .pic .title a{color: #222;}
.xysh_nr .pic .title a:hover{ color: #093c96;}
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px;margin: 10px;transition: 0.6s all;}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}






.top_right_top{text-transform:uppercase;font-family: "Microsoft YaHei", serif;font-size:14px;padding-top:5px;margin-right:10px; background:url(../image/iconhome.png) left center no-repeat;}
.top_right_top { padding:0 10px;text-indent:20px;}
.top_right_top a{color:#666666;}
.top_right_top a:active{background:none;}



/* img */
.sjkdh_ny{padding-top: 15px;}
.pic_list{width:calc(30%);text-align: center;margin:1.6%; display: block; float: left;position: relative; }
.pic_list .pic{overflow: hidden;height: 207px;}
.pic_list .pic img{display: none}
.pic_list .pic .a{background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%;display: block;-webkit-transition: all .4s;-o-transition: all .4s;transition: all .4s;background-size: cover !important;}
.pic_list:hover .pic .a{-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.pic_list .txt{ padding: 10px 5px; background: #fff;line-height:60px;width: 100%; right: 0;font-size: 17px;text-align: center;color: #222;text-overflow: ellipsis;
	pic_listow: hidden;
	white-space: nowrap;
	display: block;}
.pic_list .txt a{color: #222}


/* 新闻轮播图 */
.main_img{position: relative;overflow: hidden;}
.main_img .image{position: relative;height:359px;/*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);*/overflow: hidden;}
.main_img .image img{position: absolute;width: 100%;height:359px;object-fit: cover;}
.main_img .image img:hover{transform: scale(1.05, 1.05);transition: 0.5s all;}
.main_img img{width: 100%;height: 100%;}
.main_img span{z-index: 11;position: absolute;bottom: 0;left: 0px;right: 15px;width: 100%;padding: 5px 40px 8px 10px;font-size: 16px;color: #fff;min-height: 40px;line-height: 22px;}
.main_img span a{color: #fff;font-size: 17px;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main_img .ceng{position: absolute;width: 80px;padding-left: 26px;height:42px;text-align: center;background:#d70f05;color: #fff;left:0px;bottom:47px;z-index: 11;}
.main_img .ceng h2,
.main_img .ceng h5{font-weight: normal;margin: 0;}
.main_img .ceng h2{font-size:15px;margin-top:5px;}
.main_img .ceng h5{font-size: 14px;}
.main_t{margin: 0px;padding-top: 60px;text-align: center;font-size: 32px;color: #333333;font-weight: bold;}
.main_t small{font-size: 20px;color: #6A88B0;padding-left: 10px;margin-bottom: 10px;}
.main_t span{font-size: 13px;color: #fff;float: right;line-height: 30px;display: none;}
.swiperimg3{position: absolute;left: 0;bottom: 0;width: 100%;z-index: 1;background: rgba(0, 0, 0, 0.6);height:47px!important;}

.main_img .container .swiper-pagination{right:12px; bottom: 12px; height: 12px; }
.main_img .container .swiper-pagination span{position: relative;margin-left:6px;min-height: 12px;height:12px;width: 12px;padding: 0px;border-radius: 8px;background: white;opacity: 1;display: block;float: left;}
.main_img .container .swiper-pagination .swiper-pagination-bullet-active{background: #d70f05;}
.main_img .container .swiper-pagination span{}
.main_img .swiper-notification{ display: none;}

@media(max-width: 768px) {
	.main_img .image{padding-bottom:34vh;}
	.main_img .container .swiper-pagination{right: 5px;}
}